/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-400: #2f83b2;
    --primary-500: #07689f;
    --primary-600: #043e5f;
    --neutral-white: #ffffff;
    --neutral-100: #f9f9f9;
    --neutral-200: #efefef;
    --neutral-300: #d9d9d9;
    --neutral-400: #a6a6a6;
    --neutral-500: #565656;
    --neutral-black: #000000;
    --state-colour-error-light: #e5062e;
    --state-colour-error-dark: #a80102;
    --state-colour-alert: #ffcc00;
    --state-colour-accent: #ff6c01;
    --state-colour-success: #4c9839;
    --state-colour-success-light: #e8f5e4;
  
    /* Fonts */
    --typographydesktop-display-1-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-display-1-font-size: 64px;
    --typographydesktop-display-1-line-height: 140%;
    --typographydesktop-display-1-font-weight: 700;
    --typographydesktop-display-1-font-style: normal;
    --typographydesktop-display-2-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-display-2-font-size: 54px;
    --typographydesktop-display-2-line-height: 140%;
    --typographydesktop-display-2-font-weight: 700;
    --typographydesktop-display-2-font-style: normal;
    --typographydesktop-h1-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h1-font-size: 44px;
    --typographydesktop-h1-line-height: 140%;
    --typographydesktop-h1-font-weight: 700;
    --typographydesktop-h1-font-style: normal;
    --typographydesktop-h2-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h2-font-size: 40px;
    --typographydesktop-h2-line-height: 140%;
    --typographydesktop-h2-font-weight: 700;
    --typographydesktop-h2-font-style: normal;
    --typographydesktop-h3-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h3-font-size: 32px;
    --typographydesktop-h3-line-height: 140%;
    --typographydesktop-h3-font-weight: 700;
    --typographydesktop-h3-font-style: normal;
    --typographydesktop-h4-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h4-font-size: 24px;
    --typographydesktop-h4-line-height: 140%;
    --typographydesktop-h4-font-weight: 700;
    --typographydesktop-h4-font-style: normal;
    --typographydesktop-h5-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h5-font-size: 20px;
    --typographydesktop-h5-line-height: 140%;
    --typographydesktop-h5-font-weight: 700;
    --typographydesktop-h5-font-style: normal;
    --typographydesktop-h6-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h6-font-size: 16px;
    --typographydesktop-h6-line-height: 140%;
    --typographydesktop-h6-font-weight: 700;
    --typographydesktop-h6-font-style: normal;
    --typographydesktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-subtitle-l-font-size: 16px;
    --typographydesktop-subtitle-l-line-height: 150%;
    --typographydesktop-subtitle-l-font-weight: 600;
    --typographydesktop-subtitle-l-font-style: normal;
    --typographydesktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-m-font-size: 14px;
    --typographydesktop-subtitle-m-line-height: 150%;
    --typographydesktop-subtitle-m-font-weight: 400;
    --typographydesktop-subtitle-m-font-style: normal;
    --typographydesktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-s-font-size: 12px;
    --typographydesktop-subtitle-s-line-height: 140%;
    --typographydesktop-subtitle-s-font-weight: 400;
    --typographydesktop-subtitle-s-font-style: normal;
    --typographydesktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-xs-font-size: 10px;
    --typographydesktop-subtitle-xs-line-height: 140%;
    --typographydesktop-subtitle-xs-font-weight: 400;
    --typographydesktop-subtitle-xs-font-style: normal;
    --typographydesktop-body-xl-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-xl-font-size: 20px;
    --typographydesktop-body-xl-line-height: 140%;
    --typographydesktop-body-xl-font-weight: 400;
    --typographydesktop-body-xl-font-style: normal;
    --typographydesktop-body-l-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-l-font-size: 18px;
    --typographydesktop-body-l-line-height: 140%;
    --typographydesktop-body-l-font-weight: 400;
    --typographydesktop-body-l-font-style: normal;
    --typographydesktop-body-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-m-font-size: 16px;
    --typographydesktop-body-m-line-height: 150%;
    --typographydesktop-body-m-font-weight: 400;
    --typographydesktop-body-m-font-style: normal;
    --typographydesktop-body-s-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-s-font-size: 14px;
    --typographydesktop-body-s-line-height: 150%;
    --typographydesktop-body-s-font-weight: 400;
    --typographydesktop-body-s-font-style: normal;
    --typographydesktop-body-xs-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-xs-font-size: 12px;
    --typographydesktop-body-xs-line-height: 150%;
    --typographydesktop-body-xs-font-weight: 400;
    --typographydesktop-body-xs-font-style: normal;
    --typographydesktop-body-xxs-font-family: Poppins-Light, sans-serif;
    --typographydesktop-body-xxs-font-size: 10px;
    --typographydesktop-body-xxs-line-height: 140%;
    --typographydesktop-body-xxs-font-weight: 300;
    --typographydesktop-body-xxs-font-style: normal;
    --typographydesktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
    --typographydesktop-caption-l-font-size: 14px;
    --typographydesktop-caption-l-line-height: 140%;
    --typographydesktop-caption-l-font-weight: 800;
    --typographydesktop-caption-l-font-style: normal;
    --typographydesktop-caption-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-caption-m-font-size: 14px;
    --typographydesktop-caption-m-line-height: 140%;
    --typographydesktop-caption-m-font-weight: 400;
    --typographydesktop-caption-m-font-style: normal;
    --typographydesktop-caption-s-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-caption-s-font-size: 12px;
    --typographydesktop-caption-s-line-height: 140%;
    --typographydesktop-caption-s-font-weight: 500;
    --typographydesktop-caption-s-font-style: normal;
    --typographydesktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-lable-xs-font-size: 10px;
    --typographydesktop-lable-xs-line-height: 140%;
    --typographydesktop-lable-xs-font-weight: 600;
    --typographydesktop-lable-xs-font-style: normal;
    --typographydesktop-label-s-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-label-s-font-size: 12px;
    --typographydesktop-label-s-line-height: 140%;
    --typographydesktop-label-s-font-weight: 600;
    --typographydesktop-label-s-font-style: normal;
    --typographydesktop-lable-m-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-lable-m-font-size: 14px;
    --typographydesktop-lable-m-line-height: 140%;
    --typographydesktop-lable-m-font-weight: 700;
    --typographydesktop-lable-m-font-style: normal;
    --typographydesktop-button-xxl-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-xxl-font-size: 16px;
    --typographydesktop-button-xxl-line-height: 140%;
    --typographydesktop-button-xxl-font-weight: 700;
    --typographydesktop-button-xxl-font-style: normal;
    --typographydesktop-button-xl-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-xl-font-size: 16px;
    --typographydesktop-button-xl-line-height: 140%;
    --typographydesktop-button-xl-font-weight: 500;
    --typographydesktop-button-xl-font-style: normal;
    --typographydesktop-button-l-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-l-font-size: 14px;
    --typographydesktop-button-l-line-height: 140%;
    --typographydesktop-button-l-font-weight: 700;
    --typographydesktop-button-l-font-style: normal;
    --typographydesktop-button-m-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-m-font-size: 14px;
    --typographydesktop-button-m-line-height: 140%;
    --typographydesktop-button-m-font-weight: 500;
    --typographydesktop-button-m-font-style: normal;
    --typographydesktop-button-s-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-s-font-size: 10px;
    --typographydesktop-button-s-line-height: 140%;
    --typographydesktop-button-s-font-weight: 700;
    --typographydesktop-button-s-font-style: normal;
    --typographydesktop-button-xs-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-xs-font-size: 10px;
    --typographydesktop-button-xs-line-height: 140%;
    --typographydesktop-button-xs-font-weight: 500;
    --typographydesktop-button-xs-font-style: normal;
  
    /* Effects */
  }
  a{
    text-decoration:none ;
  }
  
  .flight-search-result, .flight-search-result * { box-sizing: border-box; }.flight-search-result {background: var(--neutral-100, #f9f9f9);height: 2224px;
    position: relative;
  overflow: hidden;}
.text {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 14px;
line-height: 140%;
font-weight: 400;
    position: absolute; left: 497px;top: 488px;
  }
.footer-final {border-radius: 8px 8px 0px 0px;width: 1440px; height: 458px;
    position: absolute; left: calc(50% - 720px);top: 1766px;
  }
.frame-footer {background: var(--neutral-300, #d9d9d9);width: 1441px; height: 64px;
    position: absolute; left: -1px;top: 394px;
  overflow: hidden;}
.under-the-footer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  width: 1224px;
    position: absolute; left: 108px;top: 19px;
  }
.text-1 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.icons-character-copyright {flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: visible;}
.copyright-easy-set-24 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-caption-s-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-caption-s-font-size, 12px);
line-height: var(--typographydesktop-caption-s-line-height, 140%);
font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: relative;
  }
.text-2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.icons-office-email-down {flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: visible;}
.easyset-24-gmail-com {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-caption-s-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-caption-s-font-size, 12px);
line-height: var(--typographydesktop-caption-s-line-height, 140%);
font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: relative;
  }
.easy-set-24-seamless-journeys-unrivalled-travel-wisdom {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.text-3 {flex-shrink: 0;width: 175px; height: 20px;
    position: relative;
  }
.icons-travels-local-two {width: 20px; height: 20px;
    position: absolute; left: 0px;top: 0px;
  overflow: visible;}
._123-oxford-street-london {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-caption-s-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-caption-s-font-size, 12px);
line-height: var(--typographydesktop-caption-s-line-height, 140%);
font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: absolute; left: 27.5px;top: 0px;
  width: 148px; height: 20px;}
.text-4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.icons-communicate-phone-call {flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: visible;}
.phone {flex-shrink: 0;width: 103px; height: 17px;
    position: static;
  }
._44-20-7123-4567 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-caption-s-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-caption-s-font-size, 12px);
line-height: var(--typographydesktop-caption-s-line-height, 140%);
font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: absolute; left: 28px;top: 3px;
  }
.footer {background: #f8f8f8;width: 1440px; height: 388px;
    position: absolute; left: 0px;top: 6px;
  overflow: hidden;}
.base {
    position: absolute; right: 76.39%; left: 19.58%; width: 4.03%;bottom: 14.43%; top: 75.26%; height: 10.31%;
  }
.send-an-email {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute; left: 927px;top: 263px;
  }
.input {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;width: 312px;
    position: relative;
  }
.e-mail-text {padding: 4px 8px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.title {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-body-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-s-font-size, 14px);
line-height: var(--typographydesktop-body-s-line-height, 150%);
font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
.auto-layout-input {background: var(--neutral-white, #ffffff);border-radius: 4px 0px 0px 4px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 0.5px;
padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;height: 48px;
    position: relative;
  }
.text2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.icons-office-mail {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.enter-yout-email {color: var(--neutral-400, #a6a6a6);text-align: left;font-family: var(--typographydesktop-body-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-s-font-size, 14px);
line-height: var(--typographydesktop-body-s-line-height, 150%);
font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
.confirm-button {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 94px;
    position: relative;
  }
.button {background: var(--primary-500, #07689f);border-radius: 0px 4px 4px 0px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 94px; height: 48px;
    position: relative;
  overflow: hidden;}
.text3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.text4 {color: var(--neutral-white, #ffffff);text-align: right;font-family: var(--typographydesktop-button-m-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-button-m-font-size, 14px);
line-height: var(--typographydesktop-button-m-line-height, 140%);
font-weight: var(--typographydesktop-button-m-font-weight, 500);
    position: relative;
  }
.payment-methods {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  width: 405px;
    position: absolute; left: calc(50% - 611px);top: calc(50% - -98px);
  }
.visa-card {border-radius: 4px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 48px;
    position: relative;
  overflow: visible;}
.amex {border-radius: 4px;flex: 1;height: 48px;
    position: relative;
  overflow: visible;}
.master-card {background: var(--neutral-100, #f9f9f9);border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 48px;
    position: relative;
  }
.international-bank-masterrcard {flex-shrink: 0;width: 47px; height: 31px;
    position: relative;
  overflow: visible;}
.paypal {background: var(--neutral-100, #f9f9f9);border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 48px;
    position: relative;
  }
.international {align-self: stretch;flex-shrink: 0;height: 14px;
    position: relative;
  overflow: visible;}
.auto-layout-the-whole-episode {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  width: 1223px;
    position: absolute; left: 109px;top: 48px;
  }
.auto-layout-about-us {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 144px; height: 174px;
    position: relative;
  }
.customer-service {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  width: 108px;}
.our-story {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 108px;}
.work-with-us {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 108px; height: 18px;}
.press-media {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 126px; height: 18px;}
.privacy-security {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 144px; height: 18px;}
.auto-layout-we-offer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;width: 159px;
    position: relative;
  }
.we-offer {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.trip-sponsorship {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 148px;}
.last-minutes-flights {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 159px;}
.best-deals {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 148px;}
.ai-driven-search {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 148px;}
.auto-layout-headquarters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 123px;
    position: relative;
  }
.headquarters {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.england {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 66px;}
.france {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 66px;}
.canada {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 66px;}
.iceland {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 66px;}
.auto-layout-travel-blogs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 161px; height: 174px;
    position: relative;
  }
.travel-blogs {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.bali-travel-guide {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.sri-travel-guide {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.peru-travel-guide {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.swiss-travel-guide {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 161px;}
.auto-layout-activities {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;height: 174px;
    position: relative;
  }
.activities {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.tour-leading {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.cruising-sailing {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.camping {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.kayaking {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 140px;}
.auto-layou-service {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 135px; height: 132px;
    position: relative;
  }
.service {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  width: 92px;}
.report-error {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 99px;}
.ask-online {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 99px;}
.travel-insurance {color: var(--neutral-black, #000000);text-align: left;font-family: 'Poppins-Regular', sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;opacity: 0.699999988079071;
    position: relative;
  width: 135px;}
.social-networks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    position: absolute; left: calc(50% - 108px);top: calc(50% - -110px);
  }
.linkedin {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.telegram {border-radius: 6px;flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.twitter {border-radius: 6px;flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.facebook {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.instagram {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.flight-search-header {width: 1440px; height: 363px;
    position: absolute; left: calc(50% - 720px);top: 0px;
  }
.header {background: var(--neutral-100, #f9f9f9);width: 1440px; height: 363px;
    position: absolute; left: calc(50% - 720px);top: 0px;
  }
.box-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
    justify-content: flex-start;
  width: 1224px;
    position: absolute; left: calc(50% - 612px);top: 24px;
  }
.header2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.search {padding: 0px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  flex-shrink: 0;width: 1224px;
    position: relative;
  }
.logo {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 95px;
    position: relative;
  }
.vector24 {flex-shrink: 0;width: 46px; height: 44px;
    position: relative;
  overflow: visible;}
.easy-set-24 {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  align-self: stretch;height: 22px;}
.search-input-in-footer {background: var(--neutral-white, #ffffff);border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  flex-shrink: 0;width: 600px; height: 40px;
    position: relative;
  overflow: hidden;}
.icons-base-search {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  flex-shrink: 0;
    position: relative;
  }
.england2 {background: var(--neutral-100, #f9f9f9);border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-100, #f9f9f9);
border-width: 2px;
padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  overflow: hidden;}
.button2 {border-radius: 20px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: hidden;object-fit: cover;}
.icon-buttons {background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.button-icon-button-disable-fill-gray-40-disable {background: var(--neutral-100, #f9f9f9);border-radius: 4px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  overflow: hidden;}
.icons-money-dollar {flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: visible;}
.icon-buttons2 {background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 40px;
    position: relative;
  }
.button3 {background: var(--neutral-100, #f9f9f9);border-radius: 4px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  overflow: hidden;}
.icons-character-help {flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: visible;}
.icon-buttons3 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 40px;
    position: relative;
  }
.icons-base-like {flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: visible;}
.phone2 {background: var(--neutral-100, #f9f9f9);border-radius: 4px;padding: 8px 4px 8px 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  overflow: hidden;}
.icons-communicate-phone-call2 {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.anna-name {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  flex-shrink: 0;width: 144px;
    position: relative;
  }
.photo {border-radius: 50px;
border-style: solid; 
border-color: var(--primary-600, #043e5f);
border-width: 1px;
flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  overflow: hidden;object-fit: cover;}
.anna {background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 96px;
    position: relative;
  }
.your-account {color: var(--primary-600, #043e5f);text-align: left;font-family: var(--typographydesktop-caption-l-font-family, 'Poppins-ExtraBold', sans-serif);
font-size: var(--typographydesktop-caption-l-font-size, 14px);
line-height: var(--typographydesktop-caption-l-line-height, 140%);
font-weight: var(--typographydesktop-caption-l-font-weight, 800);
    position: relative;
  width: 99px;}
.frame-427319764 {margin: -4px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
  align-self: stretch;flex-shrink: 0;min-width: 24px;
    position: relative;
  }
.anna-carinna {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  width: 100%;max-width: 96px;}
.chip-menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 808px;
    position: relative;
  }
.chips-trip {background: var(--neutral-white, #ffffff);border-radius: 30px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 40px;
    position: relative;
  overflow: hidden;}
.button-trip {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.text5 {color: var(--neutral-400, #a6a6a6);text-align: center;font-family: var(--typographydesktop-button-xl-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-button-xl-font-size, 16px);
line-height: var(--typographydesktop-button-xl-line-height, 140%);
font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
.chips-deals {background: var(--neutral-white, #ffffff);border-radius: 30px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 40px;
    position: relative;
  overflow: hidden;}
.button-deals {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.chips-hotel {background: var(--neutral-white, #ffffff);border-radius: 30px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 40px;
    position: relative;
  overflow: hidden;}
.button-hotel {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.chips-flight {background: var(--primary-500, #07689f);border-radius: 30px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 40px;
    position: relative;
  overflow: hidden;}
.button-flight {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.text6 {color: var(--neutral-white, #ffffff);text-align: center;font-family: var(--typographydesktop-button-xxl-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-xxl-font-size, 16px);
line-height: var(--typographydesktop-button-xxl-line-height, 140%);
font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
.chips-apartment {background: var(--neutral-white, #ffffff);border-radius: 30px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 40px;
    position: relative;
  overflow: hidden;}
.bottun-apartment {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.chips-camper {background: var(--neutral-white, #ffffff);border-radius: 30px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 40px;
    position: relative;
  overflow: hidden;}
.button-camper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.search2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.text7 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.heading {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-h4-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h4-font-size, 24px);
line-height: var(--typographydesktop-h4-line-height, 140%);
font-weight: var(--typographydesktop-h4-font-weight, 700);
    position: relative;
  width: 726px; height: 40px;}
.discover-exclusive-genius-rewards-wherever-your-journey-takes-you {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  width: 553px; height: 21px;}
.flight-search-menue-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
  flex-shrink: 0;height: 83px;
    position: relative;
  }
.input-from-to {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;width: 264px;
    position: relative;
  }
.text8 {padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.from-to {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-button-l-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-l-font-size, 14px);
line-height: var(--typographydesktop-button-l-line-height, 140%);
font-weight: var(--typographydesktop-button-l-font-weight, 700);
    position: relative;
  }
.input2 {background: var(--neutral-white, #ffffff);
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 2px;
padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  align-self: stretch;flex-shrink: 0;height: 56px;
    position: relative;
  }
.text9 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex: 1;
    position: relative;
  }
.icons-travels-take-off-one {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: hidden;}
.clip-path-group {height: auto;
    position: absolute; left: 0px;top: 0px;
  overflow: visible;}
.text10 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  flex: 1;
    position: relative;
  }
.gutenberg-istanbul {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
.input-trip {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 186px;
    position: relative;
  }
.trip {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-button-l-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-l-font-size, 14px);
line-height: var(--typographydesktop-button-l-line-height, 140%);
font-weight: var(--typographydesktop-button-l-font-weight, 700);
    position: relative;
  }
.input3 {background: var(--neutral-white, #ffffff);
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 2px;
padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.text11 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex: 1;
    position: relative;
  }
.two-way {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  flex: 1;}
.icons-edit-drop-down-list {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.input-passegers {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.text12 {padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.passengers-flight-class {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-button-l-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-l-font-size, 14px);
line-height: var(--typographydesktop-button-l-line-height, 140%);
font-weight: var(--typographydesktop-button-l-font-weight, 700);
    position: relative;
  }
.input4 {background: var(--neutral-white, #ffffff);
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 2px;
padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;height: 56px;
    position: relative;
  }
.text13 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.icons-peoples-people {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
._2-adults-3-children {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
.text14 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  flex-shrink: 0;
    position: relative;
  }
.economy {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
.icons-edit-drop-down-list2 {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
.input-departure {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.departure-return {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-button-l-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-l-font-size, 14px);
line-height: var(--typographydesktop-button-l-line-height, 140%);
font-weight: var(--typographydesktop-button-l-font-weight, 700);
    position: relative;
  }
.input5 {background: var(--neutral-white, #ffffff);
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 2px;
padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;width: 253px; height: 56px;
    position: relative;
  }
.icons-edit-calendar {flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: visible;}
._18-dec-2023-23-dec-2023 {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  flex: 1;}
.button-search {background: var(--primary-500, #07689f);border-radius: 0px 4px 4px 0px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 2px;
padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 186px; height: 56px;
    position: relative;
  }
.search3 {color: var(--neutral-white, #ffffff);text-align: center;font-family: var(--typographydesktop-button-xxl-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-xxl-font-size, 16px);
line-height: var(--typographydesktop-button-xxl-line-height, 140%);
font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  flex: 1;}
.easy-set-24-app-footer {background: var(--neutral-100, #f9f9f9);
border-style: solid; 
border-color: var(--neutral-200, #efefef);
border-width: 0px 0px 2px 0px;
padding: 24px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    gap: 335px;
    align-items: center;
    justify-content: center;
  width: 1440px;
    position: absolute; left: calc(50% - 720px);top: calc(50% - -505px);
  }
.auto-layout {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 704px;
    position: relative;
  }
.travel-description-and-click-on-load-code {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.go-further-with-the-easy-set-24-app {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-h5-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h5-font-size, 20px);
line-height: var(--typographydesktop-h5-line-height, 140%);
font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
.enjoy-savings-on-chosen-hotels-and-flights-when-you-book-through-the-easy-set-24-website-additionally-earn-one-key-cash-for-every-booking-made-through-the-app {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  width: 703px; height: 42px;}
.text15 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.secured-by-europe-gtp {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
.auto-layout-scane-barcode {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.auto-layout-barcode-app-store {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 185px;
    position: relative;
  }
.https-lottiefiles-com-animations-apple-download-u-6-s-ucj-un-lb {flex-shrink: 0;width: 120px; height: 40px;
    position: relative;
  object-fit: cover;}
.qr-code {border-radius: 4px;flex-shrink: 0;width: 41px; height: 40px;
    position: relative;
    transform: translate(-41px, -40px);
  overflow: visible;}
.auto-layout-barcode-google-play {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.https-lottiefiles-com-animations-google-play-badge-g-e-ekc-fr-3-j-6 {flex-shrink: 0;width: 121px; height: 40px;
    position: relative;
  object-fit: cover;}
.qr-code2 {border-radius: 4px;flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
    transform: translate(-40px, -40px);
  overflow: visible;}
.vector59 {height: auto;
    position: absolute; right: 88.6%; left: 11.3%; width: 0.09%;bottom: 28.23%; top: 71.7%; height: 0.06%;
  overflow: visible;}
.flight-search {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-end;
    justify-content: flex-start;
  width: 1224px;
    position: absolute; left: calc(50% - 612px);top: 450px;
  }
.flight-search2 {
    display: flex;
    flex-direction: row;
    gap: 19px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 1224px;
    position: relative;
  }
.filight-search-bar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 307px;
    position: relative;
  }
._01 {
    display: flex;
    flex-direction: row;
    gap: 133px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 266px;
    position: relative;
  }
._012 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 266px;
    position: relative;
  }
.departure-time {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
.info-slider {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 266px;
    position: relative;
  }
.price-range-slider {flex-shrink: 0;width: 223px; height: 40px;
    position: relative;
  }
.line-6 {height: auto;
    position: absolute; right: 0%; left: 7.08%; width: 92.92%;bottom: 50%; top: 50%; height: 0%;
    transform: translate(0px, -1.5px);
  overflow: visible;}
.line-5 {width: 110px; height: 0px;
    position: absolute; left: 110px;top: 20px;
    transform: translate(-110px, -1.5px);
  overflow: visible;}
.circle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute; left: 100px;top: 0px;
  }
.slider-circle-4 {background: #94c5e1;border-radius: 50px;opacity: 0.4000000059604645;flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
overflow: hidden;backdrop-filter: blur(2px);}
.slider-circle-42 {background: var(--primary-500, #07689f);border-radius: 50px;flex-shrink: 0;width: 20px; height: 20px;
    position: absolute; left: 10px;top: 30px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
overflow: hidden;}
.circle2 {background: var(--neutral-200, #efefef);border-radius: 50px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 1px;
    position: absolute; right: 91.15%; left: 0%; width: 8.85%;bottom: 25%; top: 25%; height: 50%;
  overflow: hidden;}
.minimum-maximum-prices {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.minimum {border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;max-width: 152px;
    position: relative;
  }
.min-price {color: var(--neutral-400, #a6a6a6);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
.icons-travels-take-off-one2 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: hidden;}
.clip-path-group2 {height: auto;
    position: absolute; left: 0px;top: 0px;
  overflow: visible;}
.maximum {border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;min-width: 109px;max-width: 152px;
    position: relative;
  }
.max-price {color: var(--neutral-400, #a6a6a6);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
.clip-path-group3 {height: auto;
    position: absolute; left: 0px;top: 0px;
  overflow: visible;}
._02 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.trip-duration {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
.info-slider2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 264px;
    position: relative;
  }
.price-range-slider2 {flex-shrink: 0;width: 234px; height: 40px;
    position: relative;
  }
.line-62 {height: auto;
    position: absolute; right: 2.59%; left: 6.9%; width: 90.52%;bottom: 50%; top: 50%; height: 0%;
    transform: translate(0px, -1.5px);
  overflow: visible;}
.active-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute; right: 56.9%; left: 8.62%; width: 34.48%;bottom: 0%; top: 0%; height: 100%;
  }
.line-52 {flex: 1;height: 0px;
    position: relative;
    transform: translate(-50.69px, -1.5px);
  overflow: visible;}
.circle3 {margin: 0 0 0 -10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.slider-circle-3 {background: #94c5e1;border-radius: 50px;opacity: 0.4000000059604645;flex-shrink: 0;width: 40px; height: 40px;
    position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
overflow: hidden;backdrop-filter: blur(2px);}
.slider-circle-32 {background: var(--primary-500, #07689f);border-radius: 50px;flex-shrink: 0;width: 20px; height: 20px;
    position: absolute; left: 10px;top: 30px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
overflow: hidden;}
.circle4 {background: var(--neutral-200, #efefef);border-radius: 50px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 1px;
    position: absolute; right: 91.38%; left: 0%; width: 8.62%;bottom: 25%; top: 25%; height: 50%;
  overflow: hidden;}
.minimum-maximum-prices2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.minimum2 {border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;max-width: 152px;
    position: relative;
  }
.icons-time-big-clock {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
.maximum2 {border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;min-width: 109px;max-width: 152px;
    position: relative;
  }
.icons-edit-drop-down-list3 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
._03 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.check-mark-filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.popular-filters {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-l-font-family, 'Poppins-SemiBold', sans-serif);
font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
  align-self: stretch;height: 24px;}
.filters {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 171px;
    position: relative;
  }
._013 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;width: 171px;
    position: relative;
  }
.chech-mark-final {background: var(--neutral-white, #ffffff);border-radius: 2px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: hidden;}
.breakfast-included {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;}
._022 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.all-inclusive {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
._032 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.chech-mark-final2 {border-radius: 2px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 1px;
flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: hidden;}
.icons-character-correct {width: 11px; height: 12px;
    position: absolute; left: calc(50% - 5px);top: calc(50% - 6px);
  overflow: visible;}
.free-cancellation {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  }
._04 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.pool {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  }
._05 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.pet-friendly {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  }
.drop-dpwn {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.show-more {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-button-xs-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-button-xs-font-size, 10px);
line-height: var(--typographydesktop-button-xs-line-height, 140%);
font-weight: var(--typographydesktop-button-xs-font-weight, 500);
    position: relative;
  }
.icons-arrows-down {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
.radio-button-filter {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
  flex-shrink: 0;width: 159px; height: 165px;
    position: relative;
  }
.guest-rating {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-l-font-family, 'Poppins-SemiBold', sans-serif);
font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
  align-self: stretch;}
.filters2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.folters {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
._014 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.radio-button {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  }
.radio-button-normal-s {background: var(--neutral-white, #ffffff);border-radius: 100px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
    position: absolute; right: 0%; left: 0%; width: 100%;bottom: 0%; top: 0%; height: 100%;
  overflow: hidden;}
.radio-button-normal-s2 {border-radius: 100px;
    position: absolute; right: 16.67%; left: 16.67%; width: 66.67%;bottom: 16.67%; top: 16.67%; height: 66.67%;
  overflow: hidden;}
.all {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;height: 15px;}
.outstanding-9 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;height: 15px;}
.frame-427320004 {background: var(--neutral-white, #ffffff);border-radius: 100px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 1px;
    position: absolute; right: 0%; left: 0%; width: 100%;bottom: 0%; top: 0%; height: 100%;
  overflow: hidden;}
.radio-button-hover {background: var(--primary-500, #07689f);border-radius: 100px;
    position: absolute; right: 16.67%; left: 16.67%; width: 66.67%;bottom: 16.67%; top: 16.67%; height: 66.67%;
  overflow: hidden;}
.very-good-8 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;height: 14px;}
.good-7 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;height: 15px;}
.excellent {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;height: 15px;}
._06 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.poor {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xxs-font-family, 'Poppins-Light', sans-serif);
font-size: var(--typographydesktop-body-xxs-font-size, 10px);
line-height: var(--typographydesktop-body-xxs-line-height, 140%);
font-weight: var(--typographydesktop-body-xxs-font-weight, 300);
    position: relative;
  flex: 1;height: 15px;}
.drop-down {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;width: 171px;
    position: relative;
  }
.icons-arrows-down2 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
.breakfast-included2 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
.icons-character-correct2 {width: 11px; height: 12px;
    position: absolute; left: calc(50% - 5px);top: calc(50% - 6px);
  overflow: visible;}
.free-cancellation2 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  width: 135px;}
.pet-friendly2 {color: var(--neutral-500, #565656);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  width: 147px;}
.drop-down2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.icons-arrows-down3 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
._042 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;height: 107px;
    position: relative;
  }
.text-up {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  flex: 1;width: 298px;
    position: relative;
  }
.chech-mark-final3 {background: var(--neutral-white, #ffffff);border-radius: 2px;
border-style: solid; 
border-color: var(--neutral-400, #a6a6a6);
border-width: 1px;
flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: hidden;}
.text16 {padding: 8px 0px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  flex: 1;height: 44px;
    position: relative;
  }
.filter-with-the-help-of-ai-see-the-results-here {text-align: left;
    position: relative;
  flex: 1;display: flex;
align-items: center;justify-content: flex-starttext-overflow: ellipsis; overflow: hidden;}
.filter-with-the-help-of-ai-see-the-results-here-span {
    color: var(--neutral-500, #565656);
    font-family: var(--typographydesktop-caption-l-font-family, 'Poppins-ExtraBold', sans-serif);
font-size: var(--typographydesktop-caption-l-font-size, 14px);
line-height: var(--typographydesktop-caption-l-line-height, 140%);
font-weight: var(--typographydesktop-caption-l-font-weight, 800);
  }
.filter-with-the-help-of-ai-see-the-results-here-span2 {
    color: var(--neutral-500, #565656);
    font-family: var(--typographydesktop-body-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-s-font-size, 14px);
line-height: var(--typographydesktop-body-s-line-height, 150%);
font-weight: var(--typographydesktop-body-s-font-weight, 400);
  }
.filter-with-the-help-of-ai-see-the-results-here-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(--typographydesktop-lable-xs-font-family, 'Poppins-SemiBold', sans-serif);
font-size: var(--typographydesktop-lable-xs-font-size, 10px);
line-height: var(--typographydesktop-lable-xs-line-height, 140%);
font-weight: var(--typographydesktop-lable-xs-font-weight, 600);
  }
.text-down {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex: 1;
    position: relative;
  }
.chech-mark-final4 {border-radius: 2px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 1px;
flex-shrink: 0;width: 24px; height: 24px;
    position: relative;
  overflow: hidden;}
.icons-character-correct3 {width: 16px; height: 16px;
    position: absolute; left: calc(50% - 7.5px);top: calc(50% - 8px);
  overflow: visible;}
.text17 {padding: 8px 10px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.filter-randomly-see-the-results-here {text-align: left;
    position: relative;
  display: flex;
align-items: center;justify-content: flex-starttext-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.filter-randomly-see-the-results-here-span {
    color: var(--neutral-500, #565656);
    font-family: var(--typographydesktop-caption-l-font-family, 'Poppins-ExtraBold', sans-serif);
font-size: var(--typographydesktop-caption-l-font-size, 14px);
line-height: var(--typographydesktop-caption-l-line-height, 140%);
font-weight: var(--typographydesktop-caption-l-font-weight, 800);
  }
.filter-randomly-see-the-results-here-span2 {
    color: var(--neutral-500, #565656);
    font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
  }
.filter-randomly-see-the-results-here-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(--typographydesktop-lable-xs-font-family, 'Poppins-SemiBold', sans-serif);
font-size: var(--typographydesktop-lable-xs-font-size, 10px);
line-height: var(--typographydesktop-lable-xs-line-height, 140%);
font-weight: var(--typographydesktop-lable-xs-font-weight, 600);
  }
.flight-search-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.fligh-search-result-card-2024 {background: var(--neutral-white, #ffffff);border-radius: 8px;
border-style: solid; 
border-color: var(--neutral-300, #d9d9d9);
border-width: 1px;
padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;width: 898px;
    position: relative;
  }
.flight-picture-turkish-airlines {border-radius: 4px 0px 0px 4px;flex-shrink: 0;width: 250px; height: 288px;
    position: relative;
  overflow: hidden;}
.unsplash-6-l-znd-3-wpiw-a {width: 198px; height: 220px;
    position: absolute; left: 190px;top: 220px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.mode-setting {background: linear-gradient(-19.68deg, rgba(12, 12, 12, 1.00) 18.229101598262787%,rgba(12, 12, 12, 0.00) 62.49993443489075%);opacity: 0.699999988079071;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  height: 40px;
    position: absolute; right: 0px; left: 0px;bottom: 0px;
  backdrop-filter: blur(45px);}
.turkish-airlines {color: var(--neutral-white, #ffffff);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.number {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.box-rate {border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-white, #ffffff);
border-width: 1px;
padding: 11px 9px 11px 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: hidden;backdrop-filter: blur(2px);}
._8-2 {color: var(--neutral-white, #ffffff);text-align: left;font-family: var(--typographydesktop-button-s-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-button-s-font-size, 10px);
line-height: var(--typographydesktop-button-s-line-height, 140%);
font-weight: var(--typographydesktop-button-s-font-weight, 700);
    position: relative;
  }
.airline-logo-turkish-airlines-flight-search {background: #ffffff;border-radius: 100px;width: 60px; height: 60px;
    position: absolute; left: 8px;top: 8px;
  overflow: hidden;}
.turkish-ailines-logo {
    display: flex;
    flex-direction: row;
    gap: 12.71px;
    align-items: flex-start;
    justify-content: flex-start;
  height: auto;
    position: absolute; left: calc(50% - 30px);top: calc(50% - 30px);
  overflow: visible;}
.info-01 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
  align-self: stretch;flex: 1;
    position: relative;
  }
.up {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.left {background: var(--neutral-200, #efefef);border-radius: 4px;padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex: 1;
    position: relative;
  }
.from {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.from2 {color: #000000;text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.stockholm {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  flex: 1;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.center {flex: 1;height: 62px;
    position: relative;
  overflow: hidden;}
.center2 {width: 240px; height: 61px;
    position: absolute; left: calc(50% - 120.33px);top: -4px;
  }
.center3 {padding: 4px 0px 4px 0px;width: 160px; height: 61px;
    position: absolute; left: calc(50% - 80px);top: calc(50% - 30.5px);
  }
.travel-take-off {width: 24px; height: 24px;
    position: absolute; left: 67.29px;top: -2px;
    transform: translate(0px, 6px);
  overflow: visible;}
.trip-duration-9-h-45-m {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: absolute; left: 0px;top: 37px;
  }
.group4 {height: auto;
    position: absolute; left: calc(50% - 172.33px);top: calc(50% - 22px);
  overflow: visible;}
.right {background: var(--neutral-200, #efefef);border-radius: 4px;padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  flex: 1;
    position: relative;
  }
.to {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;
    position: relative;
  }
.to2 {color: #000000;text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.istanbul {color: var(--primary-500, #07689f);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  flex: 1;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.center4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.up2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.left2 {padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
  flex: 1;
    position: relative;
  }
.hour {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
._12-00 {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-body-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-m-font-size, 16px);
line-height: var(--typographydesktop-body-m-line-height, 150%);
font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
  }
.pm {color: var(--neutral-400, #a6a6a6);text-align: left;font-family: var(--typographydesktop-body-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-s-font-size, 14px);
line-height: var(--typographydesktop-body-s-line-height, 150%);
font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
.departure {color: var(--primary-400, #2f83b2);text-align: left;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);opacity: 0.7799999713897705;
    position: relative;
  align-self: stretch;}
.center5 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.hour2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.left3 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
._18-00 {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-body-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-m-font-size, 16px);
line-height: var(--typographydesktop-body-m-line-height, 150%);
font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
  }
.p-m {color: var(--neutral-400, #a6a6a6);text-align: left;font-family: var(--typographydesktop-body-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-s-font-size, 14px);
line-height: var(--typographydesktop-body-s-line-height, 150%);
font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
.right2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
._20-00 {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-body-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-m-font-size, 16px);
line-height: var(--typographydesktop-body-m-line-height, 150%);
font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
  }
.one-stop-3-h-between {color: var(--primary-400, #2f83b2);text-align: center;font-family: var(--typographydesktop-subtitle-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);opacity: 0.7799999713897705;
    position: relative;
  align-self: stretch;}
.right3 {padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
  flex: 1;
    position: relative;
  }
._10-00 {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-body-m-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-m-font-size, 16px);
line-height: var(--typographydesktop-body-m-line-height, 150%);
font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
  }
.a-m {color: var(--neutral-400, #a6a6a6);text-align: left;font-family: var(--typographydesktop-body-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-s-font-size, 14px);
line-height: var(--typographydesktop-body-s-line-height, 150%);
font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
.landing {color: var(--primary-400, #2f83b2);text-align: right;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);opacity: 0.7799999713897705;
    position: relative;
  align-self: stretch;}
.down {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.left4 {background: var(--neutral-200, #efefef);border-radius: 4px;padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  flex: 1;height: 32px;
    position: relative;
  }
.travel-baggage-delay {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.arn-stockholm {color: var(--neutral-black, #000000);text-align: left;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
.center6 {background: var(--neutral-200, #efefef);border-radius: 4px;padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 32px;
    position: relative;
  }
.icons-operate-rotation {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.fco-rome-fiumicino {color: var(--neutral-black, #000000);text-align: center;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
.right4 {background: var(--neutral-200, #efefef);border-radius: 4px;padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex: 1;height: 32px;
    position: relative;
  }
.saw-istanbul-sabiha {color: var(--neutral-black, #000000);text-align: right;font-family: var(--typographydesktop-body-xs-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-body-xs-font-size, 12px);
line-height: var(--typographydesktop-body-xs-line-height, 150%);
font-weight: var(--typographydesktop-body-xs-font-weight, 400);
    position: relative;
  flex: 1;}
.travel-baggage-delay2 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.down2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  align-self: stretch;flex-shrink: 0;
    position: relative;
  }
.left5 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  flex: 1;
    position: relative;
  }
._75 {padding: 0px 0px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
._752 {color: var(--state-colour-success, #4c9839);text-align: left;font-family: var(--typographydesktop-h3-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h3-font-size, 32px);
line-height: var(--typographydesktop-h3-line-height, 140%);
font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: relative;
  }
._25-vacant {background: var(--state-colour-success-light, #e8f5e4);border-radius: 4px;padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 32px;
    position: relative;
  }
._25-vacant-seats {color: var(--state-colour-success, #4c9839);text-align: center;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  flex: 1;}
.center7 {background: var(--neutral-200, #efefef);padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 32px;
    position: relative;
  }
._31-less-carbon-dioxide {color: var(--neutral-black, #000000);text-align: center;font-family: var(--typographydesktop-subtitle-s-font-family, 'Poppins-Regular', sans-serif);
font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  flex: 1;}
.button4 {background: var(--primary-500, #07689f);border-radius: 4px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex: 1;height: 32px;max-width: 320px;
    position: relative;
  overflow: hidden;}
.text18 {color: var(--neutral-white, #ffffff);text-align: center;font-family: var(--typographydesktop-button-xl-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-button-xl-font-size, 16px);
line-height: var(--typographydesktop-button-xl-line-height, 140%);
font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
.flight-picture-delta {border-radius: 4px 0px 0px 4px;flex-shrink: 0;width: 250px; height: 288px;
    position: relative;
  overflow: hidden;}
.delta-airlines {color: var(--neutral-white, #ffffff);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.airline-logo-delta-flight-search {background: var(--neutral-100, #f9f9f9);border-radius: 100px;width: 60px; height: 60px;
    position: absolute; left: 8px;top: 8px;
  overflow: hidden;}
.delta-logo {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  height: auto;
    position: absolute; right: 23.33%; left: 21.67%; width: 55%;bottom: 34.31%; top: 21.67%; height: 44.02%;
  overflow: visible;}
.info-02 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
  align-self: stretch;flex: 1;
    position: relative;
  }
.travel-take-off2 {width: 24px; height: 24px;
    position: absolute; left: 67.29px;top: -2px;
    transform: translate(0px, 6px);
  overflow: visible;}
.group5 {height: auto;
    position: absolute; left: calc(50% - 172.33px);top: calc(50% - 22px);
  overflow: visible;}
.travel-baggage-delay3 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.icons-operate-rotation2 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.travel-baggage-delay4 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.flight-picture-lufthansa {border-radius: 4px 0px 0px 4px;flex-shrink: 0;width: 250px; height: 288px;
    position: relative;
  overflow: hidden;}
.lufthansa {color: var(--neutral-white, #ffffff);text-align: left;font-family: var(--typographydesktop-h6-font-family, 'Poppins-Bold', sans-serif);
font-size: var(--typographydesktop-h6-font-size, 16px);
line-height: var(--typographydesktop-h6-line-height, 140%);
font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
.frame-427320170 {border-radius: 4px;
border-style: solid; 
border-color: var(--neutral-white, #ffffff);
border-width: 1px;
padding: 11px 9px 11px 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 20px; height: 20px;
    position: relative;
  overflow: hidden;backdrop-filter: blur(2px);}
.airlien-logo-lufthansa-flight-search {
    display: flex;
    flex-direction: row;
    gap: 0.26px;
    align-items: flex-start;
    justify-content: flex-start;
  width: 60px; height: 60px;
    position: absolute; left: 8px;top: 8px;
  overflow: visible;}
.info-03 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
  align-self: stretch;flex: 1;
    position: relative;
  }
.travel-take-off3 {width: 24px; height: 24px;
    position: absolute; left: 67.29px;top: -2px;
    transform: translate(0px, 6px);
  overflow: visible;}
.group6 {height: auto;
    position: absolute; left: calc(50% - 172.33px);top: calc(50% - 22px);
  overflow: visible;}
.travel-baggage-delay5 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.icons-operate-rotation3 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.travel-baggage-delay6 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
    transform: translate(0px, 0px);
  overflow: visible;}
.flight-search-buttons {
    display: flex;
    flex-direction: row;
    gap: 331px;
    align-items: flex-start;
    justify-content: flex-start;
  flex-shrink: 0;
    position: relative;
  }
.add-to-the-favourit-list {background: var(--neutral-white, #ffffff);border-radius: 4px;
border-style: solid; 
border-color: var(--primary-500, #07689f);
border-width: 1px;
padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;height: 48px;
    position: relative;
  overflow: hidden;}
.list-your-favourite-places {color: var(--primary-500, #07689f);text-align: right;font-family: var(--typographydesktop-button-xl-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-button-xl-font-size, 16px);
line-height: var(--typographydesktop-button-xl-line-height, 140%);
font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
.icons-base-like2 {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
.button5 {background: var(--primary-500, #07689f);border-radius: 4px;padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  flex-shrink: 0;width: 290px; height: 48px;
    position: relative;
  overflow: hidden;}
.text19 {color: var(--neutral-white, #ffffff);text-align: right;font-family: var(--typographydesktop-button-xl-font-family, 'Poppins-Medium', sans-serif);
font-size: var(--typographydesktop-button-xl-font-size, 16px);
line-height: var(--typographydesktop-button-xl-line-height, 140%);
font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
.icons-arrows-right {flex-shrink: 0;width: 16px; height: 16px;
    position: relative;
  overflow: visible;}
