/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-400: #2f83b2;
    --primary-500: #07689f;
    --primary-600: #043e5f;
    --neutral-white: #ffffff;
    --neutral-100: #f9f9f9;
    --neutral-200: #efefef;
    --neutral-300: #d9d9d9;
    --neutral-400: #a6a6a6;
    --neutral-500: #565656;
    --neutral-black: #000000;
    --state-colour-error-light: #e5062e;
    --state-colour-error-dark: #a80102;
    --state-colour-alert: #ffcc00;
    --state-colour-accent: #ff6c01;
    --state-colour-success: #4c9839;
    --state-colour-success-light: #e8f5e4;
  
    /* Fonts */
    --typographydesktop-display-1-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-display-1-font-size: 64px;
    --typographydesktop-display-1-line-height: 140%;
    --typographydesktop-display-1-font-weight: 700;
    --typographydesktop-display-1-font-style: normal;
    --typographydesktop-display-2-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-display-2-font-size: 54px;
    --typographydesktop-display-2-line-height: 140%;
    --typographydesktop-display-2-font-weight: 700;
    --typographydesktop-display-2-font-style: normal;
    --typographydesktop-h1-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h1-font-size: 44px;
    --typographydesktop-h1-line-height: 140%;
    --typographydesktop-h1-font-weight: 700;
    --typographydesktop-h1-font-style: normal;
    --typographydesktop-h2-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h2-font-size: 40px;
    --typographydesktop-h2-line-height: 140%;
    --typographydesktop-h2-font-weight: 700;
    --typographydesktop-h2-font-style: normal;
    --typographydesktop-h3-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h3-font-size: 32px;
    --typographydesktop-h3-line-height: 140%;
    --typographydesktop-h3-font-weight: 700;
    --typographydesktop-h3-font-style: normal;
    --typographydesktop-h4-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h4-font-size: 24px;
    --typographydesktop-h4-line-height: 140%;
    --typographydesktop-h4-font-weight: 700;
    --typographydesktop-h4-font-style: normal;
    --typographydesktop-h5-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h5-font-size: 20px;
    --typographydesktop-h5-line-height: 140%;
    --typographydesktop-h5-font-weight: 700;
    --typographydesktop-h5-font-style: normal;
    --typographydesktop-h6-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h6-font-size: 16px;
    --typographydesktop-h6-line-height: 140%;
    --typographydesktop-h6-font-weight: 700;
    --typographydesktop-h6-font-style: normal;
    --typographydesktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-subtitle-l-font-size: 16px;
    --typographydesktop-subtitle-l-line-height: 150%;
    --typographydesktop-subtitle-l-font-weight: 600;
    --typographydesktop-subtitle-l-font-style: normal;
    --typographydesktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-m-font-size: 14px;
    --typographydesktop-subtitle-m-line-height: 150%;
    --typographydesktop-subtitle-m-font-weight: 400;
    --typographydesktop-subtitle-m-font-style: normal;
    --typographydesktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-s-font-size: 12px;
    --typographydesktop-subtitle-s-line-height: 140%;
    --typographydesktop-subtitle-s-font-weight: 400;
    --typographydesktop-subtitle-s-font-style: normal;
    --typographydesktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-xs-font-size: 10px;
    --typographydesktop-subtitle-xs-line-height: 140%;
    --typographydesktop-subtitle-xs-font-weight: 400;
    --typographydesktop-subtitle-xs-font-style: normal;
    --typographydesktop-body-xl-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-xl-font-size: 20px;
    --typographydesktop-body-xl-line-height: 140%;
    --typographydesktop-body-xl-font-weight: 400;
    --typographydesktop-body-xl-font-style: normal;
    --typographydesktop-body-l-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-l-font-size: 18px;
    --typographydesktop-body-l-line-height: 140%;
    --typographydesktop-body-l-font-weight: 400;
    --typographydesktop-body-l-font-style: normal;
    --typographydesktop-body-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-m-font-size: 16px;
    --typographydesktop-body-m-line-height: 150%;
    --typographydesktop-body-m-font-weight: 400;
    --typographydesktop-body-m-font-style: normal;
    --typographydesktop-body-s-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-s-font-size: 14px;
    --typographydesktop-body-s-line-height: 150%;
    --typographydesktop-body-s-font-weight: 400;
    --typographydesktop-body-s-font-style: normal;
    --typographydesktop-body-xs-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-xs-font-size: 12px;
    --typographydesktop-body-xs-line-height: 150%;
    --typographydesktop-body-xs-font-weight: 400;
    --typographydesktop-body-xs-font-style: normal;
    --typographydesktop-body-xxs-font-family: Poppins-Light, sans-serif;
    --typographydesktop-body-xxs-font-size: 10px;
    --typographydesktop-body-xxs-line-height: 140%;
    --typographydesktop-body-xxs-font-weight: 300;
    --typographydesktop-body-xxs-font-style: normal;
    --typographydesktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
    --typographydesktop-caption-l-font-size: 14px;
    --typographydesktop-caption-l-line-height: 140%;
    --typographydesktop-caption-l-font-weight: 800;
    --typographydesktop-caption-l-font-style: normal;
    --typographydesktop-caption-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-caption-m-font-size: 14px;
    --typographydesktop-caption-m-line-height: 140%;
    --typographydesktop-caption-m-font-weight: 400;
    --typographydesktop-caption-m-font-style: normal;
    --typographydesktop-caption-s-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-caption-s-font-size: 12px;
    --typographydesktop-caption-s-line-height: 140%;
    --typographydesktop-caption-s-font-weight: 500;
    --typographydesktop-caption-s-font-style: normal;
    --typographydesktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-lable-xs-font-size: 10px;
    --typographydesktop-lable-xs-line-height: 140%;
    --typographydesktop-lable-xs-font-weight: 600;
    --typographydesktop-lable-xs-font-style: normal;
    --typographydesktop-label-s-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-label-s-font-size: 12px;
    --typographydesktop-label-s-line-height: 140%;
    --typographydesktop-label-s-font-weight: 600;
    --typographydesktop-label-s-font-style: normal;
    --typographydesktop-lable-m-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-lable-m-font-size: 14px;
    --typographydesktop-lable-m-line-height: 140%;
    --typographydesktop-lable-m-font-weight: 700;
    --typographydesktop-lable-m-font-style: normal;
    --typographydesktop-button-xxl-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-xxl-font-size: 16px;
    --typographydesktop-button-xxl-line-height: 140%;
    --typographydesktop-button-xxl-font-weight: 700;
    --typographydesktop-button-xxl-font-style: normal;
    --typographydesktop-button-xl-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-xl-font-size: 16px;
    --typographydesktop-button-xl-line-height: 140%;
    --typographydesktop-button-xl-font-weight: 500;
    --typographydesktop-button-xl-font-style: normal;
    --typographydesktop-button-l-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-l-font-size: 14px;
    --typographydesktop-button-l-line-height: 140%;
    --typographydesktop-button-l-font-weight: 700;
    --typographydesktop-button-l-font-style: normal;
    --typographydesktop-button-m-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-m-font-size: 14px;
    --typographydesktop-button-m-line-height: 140%;
    --typographydesktop-button-m-font-weight: 500;
    --typographydesktop-button-m-font-style: normal;
    --typographydesktop-button-s-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-s-font-size: 10px;
    --typographydesktop-button-s-line-height: 140%;
    --typographydesktop-button-s-font-weight: 700;
    --typographydesktop-button-s-font-style: normal;
    --typographydesktop-button-xs-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-xs-font-size: 10px;
    --typographydesktop-button-xs-line-height: 140%;
    --typographydesktop-button-xs-font-weight: 500;
    --typographydesktop-button-xs-font-style: normal;
  
    /* Effects */
  }
  a{
    text-decoration:none ;
  }
  
  .flight-deteiles-return-final-check,
  .flight-deteiles-return-final-check * {
    box-sizing: border-box;
  }
  .flight-deteiles-return-final-check {
    height: 1987px;
    position: relative;
  }
  .black-bg-details {
    background: #0c0c0c;
    opacity: 0.5;
    width: 1440px;
    height: 1529px;
    position: absolute;
    left: calc(50% - 720px);
    top: 0px;
    backdrop-filter: blur(2px);
  }
  .before-purchasing {
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 0.5);
    border-width: 4px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 658px;
    position: absolute;
    left: calc(50% - 329px);
    top: 258px;
  }
  .up {
    background: var(--primary-500, #07689f);
    border-radius: 8px 8px 0px 0px;
    padding: 16px;
    flex-shrink: 0;
    width: 658px;
    height: 84px;
    position: relative;
  }
  .one-stop {
    width: 626px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 26px;
  }
  .one-stop-3-h-between {
    color: var(--neutral-100, #f9f9f9);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: absolute;
    left: 0px;
    top: 2px;
  }
  .date {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 354px;
    top: 0px;
  }
  .flight-duration-9-45-h {
    color: var(--neutral-100, #f9f9f9);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .icon {
    border-radius: 2px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
  }
  .icons-character-close {
    border-radius: 4px;
    flex-shrink: 0;
    width: 23px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .center-1 {
    flex-shrink: 0;
    width: 658px;
    height: 340px;
    position: relative;
    overflow: hidden;
  }
  .photo {
    background: linear-gradient(
      180deg,
      rgba(12, 12, 12, 0.8) 0%,
      rgba(12, 12, 12, 0) 100%
    );
    width: 658px;
    height: 340px;
    position: absolute;
    left: 0px;
    top: 340px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
    overflow: hidden;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 329px);
    bottom: 108px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
  }
  .up2 {
    border-style: solid;
    border-color: rgba(239, 239, 239, 0.2);
    border-width: 1px 0px 0px 0px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 658px;
    position: relative;
    overflow: hidden;
  }
  .button {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .first-flight-no-from-stockholm-c-650 {
    color: var(--neutral-white, #ffffff);
    text-align: center;
    position: relative;
  }
  .first-flight-no-from-stockholm-c-650-span {
    color: var(--neutral-white, #ffffff);
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
  }
  .first-flight-no-from-stockholm-c-650-span2 {
    color: var(--neutral-white, #ffffff);
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
  }
  .first-flight-no-from-stockholm-c-650-span3 {
    color: var(--neutral-white, #ffffff);
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
  }
  .delta {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  .delta-logo {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 33px;
    height: 26px;
    position: relative;
    overflow: visible;
  }
  .delta-airlines {
    color: var(--neutral-100, #f9f9f9);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .down {
    border-style: solid;
    border-color: rgba(239, 239, 239, 0.2);
    border-width: 1px 0px 0px 0px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
    width: 658px;
    position: relative;
    overflow: hidden;
  }
  .button2 {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 294px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .second-flight-no-from-rome-jsg-113 {
    color: var(--neutral-white, #ffffff);
    text-align: left;
    position: relative;
    flex: 1;
  }
  .second-flight-no-from-rome-jsg-113-span {
    color: var(--neutral-white, #ffffff);
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
  }
  .second-flight-no-from-rome-jsg-113-span2 {
    color: var(--neutral-white, #ffffff);
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
  }
  .second-flight-no-from-rome-jsg-113-span3 {
    color: var(--neutral-white, #ffffff);
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
  }
  .turkish {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  .airline-logo-turkish-airlines-flight-search {
    background: #ffffff;
    border-radius: 51.67px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }
  .turkish-ailines-logo {
    display: flex;
    flex-direction: row;
    gap: 6.57px;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    position: absolute;
    left: calc(50% - 15.5px);
    top: calc(50% - 15.5px);
    overflow: visible;
  }
  .turkish-airways {
    color: var(--neutral-100, #f9f9f9);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .ceter-2 {
    flex-shrink: 0;
    width: 658px;
    height: 295px;
    position: relative;
  }
  .right {
    background: var(--neutral-300, #d9d9d9);
    width: 320px;
    height: 295px;
    position: absolute;
    left: 338px;
    top: 0px;
  }
  .arn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 121px;
    position: absolute;
    left: 513px;
    top: 24px;
  }
  .arn2 {
    color: var(--primary-500, #07689f);
    text-align: right;
    font-family: var(
      --typographydesktop-h3-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h3-font-size, 32px);
    line-height: var(--typographydesktop-h3-line-height, 140%);
    font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: relative;
    width: 121px;
    height: 45px;
  }
  .stockholm {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
  .cet-20-30 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .left {
    background: var(--neutral-100, #f9f9f9);
    padding: 16px;
    width: 338px;
    height: 295px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
  .sabiha {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 120px;
    position: absolute;
    left: 24px;
    top: 31px;
  }
  .sabiha2 {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h3-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h3-font-size, 32px);
    line-height: var(--typographydesktop-h3-line-height, 140%);
    font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: relative;
    width: 125px;
  }
  .istanbul {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
  .cet-01-00 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .ellipse-442 {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 254px;
    top: 16px;
  }
  .fco {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 265px;
    top: 25px;
  }
  .ellipse-4422 {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 50%;
    border-style: dashed;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    position: relative;
  }
  .fco2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 16px;
    top: 16px;
  }
  .ellipse-440 {
    background: var(--neutral-300, #d9d9d9);
    border-radius: 50%;
    flex-shrink: 0;
    width: 88px;
    height: 88px;
    position: relative;
  }
  .fco3 {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h3-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h3-font-size, 32px);
    line-height: var(--typographydesktop-h3-line-height, 140%);
    font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: absolute;
    left: calc(50% - 34px);
    top: calc(50% - 23px);
  }
  .gates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 658px;
    position: absolute;
    left: calc(50% - 329px);
    top: 166px;
  }
  ._21-f {
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .gate {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .f-21 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h3-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h3-font-size, 32px);
    line-height: var(--typographydesktop-h3-line-height, 140%);
    font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: relative;
  }
  .rome {
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .cet {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .cet-18-00 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(--typographydesktop-body-m-font-family, "-", sans-serif);
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
  }
  .cet-18-00-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
  }
  .cet-18-00-span2 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
  }
  .rome2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 56px;
    position: relative;
  }
  .rome3 {
    color: #000000;
    text-align: center;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .cet-20-00 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(--typographydesktop-body-m-font-family, "-", sans-serif);
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
  }
  .cet-20-00-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
  }
  .cet-20-00-span2 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
  }
  ._15-b {
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  ._15-b2 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h3-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h3-font-size, 32px);
    line-height: var(--typographydesktop-h3-line-height, 140%);
    font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: relative;
  }
  .line {
    width: 658px;
    height: 43px;
    position: absolute;
    left: 0px;
    top: 234px;
  }
  .line2 {
    background: var(--primary-500, #07689f);
    border-radius: 8px;
    width: 658px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 21px;
  }
  .left-line {
    background: var(--neutral-300, #d9d9d9);
    border-radius: 8px;
    height: 10px;
    position: absolute;
    right: 289px;
    left: 0px;
    top: calc(50% - 5px);
  }
  .icons-travels-airplane {
    width: 47.02px;
    height: 48px;
    position: absolute;
    right: 300.98px;
    top: calc(50% - 24px);
    transform: translate(0px, 0px);
    overflow: visible;
  }
  .center-3 {
    background: var(--neutral-100, #f9f9f9);
    padding: 16px 0px 16px 0px;
    flex-shrink: 0;
    width: 658px;
    height: 174px;
    position: relative;
  }
  .up3 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 642px;
    position: absolute;
    left: calc(50% - 321px);
    top: 16px;
  }
  .left2 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 314px;
    height: 63px;
    min-width: 276px;
    position: relative;
    overflow: hidden;
  }
  .arn-entrance-c-gate-23-a {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 184px;
  }
  .number {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 82px;
    position: relative;
  }
  ._467313 {
    color: var(--neutral-500, #565656);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    flex: 1;
  }
  .riht {
    background: var(--neutral-300, #d9d9d9);
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 312px;
    height: 63px;
    min-width: 276px;
    position: relative;
    overflow: hidden;
  }
  .sabiha-exit-l {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 159px;
  }
  .number2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 73px;
    position: relative;
  }
  ._903348 {
    color: var(--neutral-500, #565656);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    flex: 1;
    height: 21px;
  }
  .down2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 642px;
    position: absolute;
    left: calc(50% - 321px);
    top: 95px;
  }
  .left3 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 41px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 314px;
    height: 63px;
    min-width: 276px;
    position: relative;
    overflow: hidden;
  }
  .fco-gate-d-14 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 138px;
  }
  .number3 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  ._391245 {
    color: var(--neutral-500, #565656);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    flex: 1;
  }
  .text2 {
    background: var(--neutral-300, #d9d9d9);
    padding: 21px 16px 21px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 312px;
    height: 63px;
    position: relative;
    overflow: hidden;
  }
  .right2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  .one-stop-3-h-between2 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 137px;
  }
  .text3 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  .it-is-not-possible-to-exit-the-airport {
    color: var(--neutral-500, #565656);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    width: 149px;
  }
  .center-4 {
    background: var(--neutral-100, #f9f9f9);
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 658px;
    position: relative;
  }
  .center-42 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 658px;
    position: relative;
  }
  .left4 {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 297px;
    position: relative;
  }
  ._01 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .icons-weather-snowflake {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  ._7-stockholm {
    color: var(--primary-500, #07689f);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
  ._02 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .icons-travels-luggage {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  ._15-kg {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
  ._03 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .icons-animals-cat {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .pet-allowed {
    color: var(--neutral-black, #000000);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
  .center {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 242px;
    position: relative;
  }
  ._012 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 220px;
    position: relative;
  }
  .icons-weather-light-rain {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  ._2-rome {
    color: var(--primary-500, #07689f);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
  .icons-travels-luggage2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .icons-animals-cat2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .right3 {
    padding: 0px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
    position: relative;
  }
  ._013 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .icons-weather-heavy-wind {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  ._10-istanbul {
    color: var(--primary-500, #07689f);
    text-align: right;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
  }
  .up4 {
    background: var(--neutral-100, #f9f9f9);
    border-style: solid;
    border-color: rgba(217, 217, 217, 0.8);
    border-width: 1px 0px 0px 0px;
    padding: 16px 0px 16px 0px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 658px;
    position: relative;
  }
  .up5 {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 658px;
    position: relative;
  }
  ._120 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 191px;
    position: relative;
  }
  .price {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 132px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 191px;
    position: relative;
  }
  ._1202 {
    color: var(--state-colour-success, #4c9839);
    text-align: left;
    font-family: var(
      --typographydesktop-h3-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h3-font-size, 32px);
    line-height: var(--typographydesktop-h3-line-height, 140%);
    font-weight: var(--typographydesktop-h3-font-weight, 700);
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .tax {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .taxes-included {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-xs-font-size, 10px);
    line-height: var(--typographydesktop-subtitle-xs-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-xs-font-weight, 400);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .icons {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 439px;
    position: relative;
  }
  .icons2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 423px;
    position: relative;
  }
  .master-card {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 90px;
    height: 60px;
    position: relative;
  }
  .international-bank-masterrcard {
    align-self: stretch;
    flex: 1;
    height: auto;
    position: relative;
    overflow: visible;
  }
  .visa-card {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 50px;
    position: relative;
    overflow: visible;
  }
  .amex {
    flex-shrink: 0;
    width: 100px;
    height: 40px;
    position: relative;
    overflow: visible;
  }
  .paypal {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 50px;
    position: relative;
  }
  .international {
    align-self: stretch;
    flex-shrink: 0;
    height: 14px;
    position: relative;
    overflow: visible;
  }
  .transactions-are-encrypted-by-esay-set-24 {
    color: var(--neutral-black, #000000);
    text-align: center;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .down3 {
    background: var(--neutral-500, #565656);
    border-radius: 0px 0px 8px 8px;
    padding: 16px 8px 16px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .icons3 {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 302px;
    position: relative;
  }
  ._3-d {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 57px;
    position: relative;
  }
  .icons-abstract-stereo-perspective {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
  }
  ._3-d-view {
    color: var(--neutral-200, #efefef);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .share {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 57px;
    position: relative;
  }
  .icons-base-share {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
  }
  .share2 {
    color: var(--neutral-200, #efefef);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .help {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 57px;
    position: relative;
  }
  .icons-edit-helpcenter {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
  }
  .help2 {
    color: var(--neutral-200, #efefef);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .button-purchase {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 302px;
    height: 56px;
    position: relative;
    overflow: hidden;
  }
  .text4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text5 {
    color: var(--neutral-white, #ffffff);
    text-align: center;
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
  .header-after-sign-in-with-effect {
    background: var(--neutral-100, #f9f9f9);
    border-style: solid;
    border-color: var(--neutral-200, #efefef);
    border-width: 0px 0px 2px 0px;
    width: 1440px;
    height: 210px;
    position: absolute;
    left: calc(50% - 720px);
    top: 0px;
    overflow: hidden;
  }
  .auto-layout-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 108px;
    top: 24px;
  }
  .header {
    padding: 0px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 68px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1224px;
    position: relative;
  }
  .logo {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 91px;
    position: relative;
  }
  .vector75 {
    flex-shrink: 0;
    width: 46px;
    height: 44px;
    position: relative;
    overflow: visible;
  }
  .easy-set-24 {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
    height: 22px;
  }
  .search-input-in-footer {
    background: var(--neutral-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 600px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-base-search {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .box-icons-your-account {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .box-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
  }
  .england {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .flag-england {
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .icon-buttons-dollars {
    background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .button-dollars {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-money-dollar {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .icon-button-help {
    background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
    position: relative;
  }
  .button-help {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-character-help {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .icon-buttons-favorite {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
    position: relative;
  }
  .button-favorite {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-base-like {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .phone {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 4px 8px 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-communicate-phone-call {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .your-account {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  .photo2 {
    border-radius: 50px;
    border-style: solid;
    border-color: var(--primary-600, #043e5f);
    border-width: 1px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .box-your-account {
    background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 96px;
    position: relative;
  }
  .your-account2 {
    color: var(--primary-600, #043e5f);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-l-font-family,
      "Poppins-ExtraBold",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-l-font-size, 14px);
    line-height: var(--typographydesktop-caption-l-line-height, 140%);
    font-weight: var(--typographydesktop-caption-l-font-weight, 800);
    position: relative;
    width: 99px;
  }
  .text-anna {
    margin: -4px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    min-width: 24px;
    position: relative;
  }
  .anna-carinna {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
    width: 96px;
    height: 18px;
    max-width: 96px;
  }
  .chip-menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 810px;
    position: relative;
  }
  .chips-trip {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text6 {
    color: var(--neutral-400, #a6a6a6);
    text-align: center;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .chips-deals {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chips {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .frame-26086870 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chips2 {
    background: var(--primary-500, #07689f);
    border-radius: 30px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .chips-apartment {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-5 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chips-camper {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-6 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .footer-final {
    border-radius: 8px 8px 0px 0px;
    width: 1439px;
    height: 458px;
    position: absolute;
    left: calc(50% - 720px);
    top: 1529px;
  }
  .frame-footer {
    background: var(--neutral-300, #d9d9d9);
    width: 1441px;
    height: 64px;
    position: absolute;
    left: -1px;
    top: 394px;
    overflow: hidden;
  }
  .under-the-footer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1224px;
    position: absolute;
    left: 108px;
    top: 19px;
  }
  .text-12 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-character-copyright {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .copyright-easy-set-24 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: relative;
  }
  .text-22 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-office-email-down {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .easyset-24-gmail-com {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: relative;
  }
  .easy-set-24-seamless-journeys-unrivalled-travel-wisdom {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .text-3 {
    flex-shrink: 0;
    width: 175px;
    height: 20px;
    position: relative;
  }
  .icons-travels-local-two {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._123-oxford-street-london {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: absolute;
    left: 27.5px;
    top: 0px;
    width: 148px;
    height: 20px;
  }
  .text-4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-communicate-phone-call2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .phone2 {
    flex-shrink: 0;
    width: 103px;
    height: 17px;
    position: static;
  }
  ._44-20-7123-4567 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: absolute;
    left: 28px;
    top: 3px;
  }
  .footer {
    background: #f8f8f8;
    width: 1440px;
    height: 388px;
    position: absolute;
    left: 0px;
    top: 6px;
    overflow: hidden;
  }
  .base {
    position: absolute;
    right: 76.39%;
    left: 19.58%;
    width: 4.03%;
    bottom: 14.43%;
    top: 75.26%;
    height: 10.31%;
  }
  .send-an-email {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 927px;
    top: 263px;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 312px;
    position: relative;
  }
  .e-mail-text {
    padding: 4px 8px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .title {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
  .auto-layout-input {
    background: var(--neutral-white, #ffffff);
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 0.5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 48px;
    position: relative;
  }
  .text7 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-office-mail {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .enter-yout-email {
    color: var(--neutral-400, #a6a6a6);
    text-align: left;
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
  .confirm-button {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 94px;
    position: relative;
  }
  .button3 {
    background: var(--primary-500, #07689f);
    border-radius: 0px 4px 4px 0px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 94px;
    height: 48px;
    position: relative;
    overflow: hidden;
  }
  .text8 {
    color: var(--neutral-white, #ffffff);
    text-align: right;
    font-family: var(
      --typographydesktop-button-m-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-m-font-size, 14px);
    line-height: var(--typographydesktop-button-m-line-height, 140%);
    font-weight: var(--typographydesktop-button-m-font-weight, 500);
    position: relative;
  }
  .payment-methods {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    width: 405px;
    position: absolute;
    left: calc(50% - 611px);
    top: calc(50% - -98px);
  }
  .visa-card2 {
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
    overflow: visible;
  }
  .amex3 {
    border-radius: 4px;
    flex: 1;
    height: 48px;
    position: relative;
    overflow: visible;
  }
  .master-card2 {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
  }
  .international-bank-masterrcard2 {
    flex-shrink: 0;
    width: 47px;
    height: 31px;
    position: relative;
    overflow: visible;
  }
  .paypal2 {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
  }
  .international2 {
    align-self: stretch;
    flex-shrink: 0;
    height: 14px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-the-whole-episode {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1223px;
    position: absolute;
    left: 109px;
    top: 48px;
  }
  .auto-layout-about-us {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 144px;
    height: 174px;
    position: relative;
  }
  .customer-service {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 108px;
  }
  .our-story {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 108px;
  }
  .work-with-us {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 108px;
    height: 18px;
  }
  .press-media {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 126px;
    height: 18px;
  }
  .privacy-security {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 144px;
    height: 18px;
  }
  .auto-layout-we-offer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 159px;
    position: relative;
  }
  .we-offer {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .trip-sponsorship {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 148px;
  }
  .last-minutes-flights {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 159px;
  }
  .best-deals {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 148px;
  }
  .ai-driven-search {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 148px;
  }
  .auto-layout-headquarters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 123px;
    position: relative;
  }
  .headquarters {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .england2 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .france {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .canada {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .iceland {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .auto-layout-travel-blogs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 161px;
    height: 174px;
    position: relative;
  }
  .travel-blogs {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .bali-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .sri-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .peru-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .swiss-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 161px;
  }
  .auto-layout-activities {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 174px;
    position: relative;
  }
  .activities {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .tour-leading {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .cruising-sailing {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .camping {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .kayaking {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .auto-layou-service {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 135px;
    height: 132px;
    position: relative;
  }
  .service {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 92px;
  }
  .report-error {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 99px;
  }
  .ask-online {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 99px;
  }
  .travel-insurance {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 135px;
  }
  .social-networks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 108px);
    top: calc(50% - -110px);
  }
  .linkedin {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .telegram {
    border-radius: 6px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .twitter {
    border-radius: 6px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .facebook {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .instagram {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
    