/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-400: #2f83b2;
    --primary-500: #07689f;
    --primary-600: #043e5f;
    --neutral-white: #ffffff;
    --neutral-100: #f9f9f9;
    --neutral-200: #efefef;
    --neutral-300: #d9d9d9;
    --neutral-400: #a6a6a6;
    --neutral-500: #565656;
    --neutral-black: #000000;
    --state-colour-error-light: #e5062e;
    --state-colour-error-dark: #a80102;
    --state-colour-alert: #ffcc00;
    --state-colour-accent: #ff6c01;
    --state-colour-success: #4c9839;
    --state-colour-success-light: #e8f5e4;
  
    /* Fonts */
    --typographydesktop-display-1-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-display-1-font-size: 64px;
    --typographydesktop-display-1-line-height: 140%;
    --typographydesktop-display-1-font-weight: 700;
    --typographydesktop-display-1-font-style: normal;
    --typographydesktop-display-2-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-display-2-font-size: 54px;
    --typographydesktop-display-2-line-height: 140%;
    --typographydesktop-display-2-font-weight: 700;
    --typographydesktop-display-2-font-style: normal;
    --typographydesktop-h1-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h1-font-size: 44px;
    --typographydesktop-h1-line-height: 140%;
    --typographydesktop-h1-font-weight: 700;
    --typographydesktop-h1-font-style: normal;
    --typographydesktop-h2-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h2-font-size: 40px;
    --typographydesktop-h2-line-height: 140%;
    --typographydesktop-h2-font-weight: 700;
    --typographydesktop-h2-font-style: normal;
    --typographydesktop-h3-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h3-font-size: 32px;
    --typographydesktop-h3-line-height: 140%;
    --typographydesktop-h3-font-weight: 700;
    --typographydesktop-h3-font-style: normal;
    --typographydesktop-h4-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h4-font-size: 24px;
    --typographydesktop-h4-line-height: 140%;
    --typographydesktop-h4-font-weight: 700;
    --typographydesktop-h4-font-style: normal;
    --typographydesktop-h5-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h5-font-size: 20px;
    --typographydesktop-h5-line-height: 140%;
    --typographydesktop-h5-font-weight: 700;
    --typographydesktop-h5-font-style: normal;
    --typographydesktop-h6-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-h6-font-size: 16px;
    --typographydesktop-h6-line-height: 140%;
    --typographydesktop-h6-font-weight: 700;
    --typographydesktop-h6-font-style: normal;
    --typographydesktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-subtitle-l-font-size: 16px;
    --typographydesktop-subtitle-l-line-height: 150%;
    --typographydesktop-subtitle-l-font-weight: 600;
    --typographydesktop-subtitle-l-font-style: normal;
    --typographydesktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-m-font-size: 14px;
    --typographydesktop-subtitle-m-line-height: 150%;
    --typographydesktop-subtitle-m-font-weight: 400;
    --typographydesktop-subtitle-m-font-style: normal;
    --typographydesktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-s-font-size: 12px;
    --typographydesktop-subtitle-s-line-height: 140%;
    --typographydesktop-subtitle-s-font-weight: 400;
    --typographydesktop-subtitle-s-font-style: normal;
    --typographydesktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-subtitle-xs-font-size: 10px;
    --typographydesktop-subtitle-xs-line-height: 140%;
    --typographydesktop-subtitle-xs-font-weight: 400;
    --typographydesktop-subtitle-xs-font-style: normal;
    --typographydesktop-body-xl-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-xl-font-size: 20px;
    --typographydesktop-body-xl-line-height: 140%;
    --typographydesktop-body-xl-font-weight: 400;
    --typographydesktop-body-xl-font-style: normal;
    --typographydesktop-body-l-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-l-font-size: 18px;
    --typographydesktop-body-l-line-height: 140%;
    --typographydesktop-body-l-font-weight: 400;
    --typographydesktop-body-l-font-style: normal;
    --typographydesktop-body-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-m-font-size: 16px;
    --typographydesktop-body-m-line-height: 150%;
    --typographydesktop-body-m-font-weight: 400;
    --typographydesktop-body-m-font-style: normal;
    --typographydesktop-body-s-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-s-font-size: 14px;
    --typographydesktop-body-s-line-height: 150%;
    --typographydesktop-body-s-font-weight: 400;
    --typographydesktop-body-s-font-style: normal;
    --typographydesktop-body-xs-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-body-xs-font-size: 12px;
    --typographydesktop-body-xs-line-height: 150%;
    --typographydesktop-body-xs-font-weight: 400;
    --typographydesktop-body-xs-font-style: normal;
    --typographydesktop-body-xxs-font-family: Poppins-Light, sans-serif;
    --typographydesktop-body-xxs-font-size: 10px;
    --typographydesktop-body-xxs-line-height: 140%;
    --typographydesktop-body-xxs-font-weight: 300;
    --typographydesktop-body-xxs-font-style: normal;
    --typographydesktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
    --typographydesktop-caption-l-font-size: 14px;
    --typographydesktop-caption-l-line-height: 140%;
    --typographydesktop-caption-l-font-weight: 800;
    --typographydesktop-caption-l-font-style: normal;
    --typographydesktop-caption-m-font-family: Poppins-Regular, sans-serif;
    --typographydesktop-caption-m-font-size: 14px;
    --typographydesktop-caption-m-line-height: 140%;
    --typographydesktop-caption-m-font-weight: 400;
    --typographydesktop-caption-m-font-style: normal;
    --typographydesktop-caption-s-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-caption-s-font-size: 12px;
    --typographydesktop-caption-s-line-height: 140%;
    --typographydesktop-caption-s-font-weight: 500;
    --typographydesktop-caption-s-font-style: normal;
    --typographydesktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-lable-xs-font-size: 10px;
    --typographydesktop-lable-xs-line-height: 140%;
    --typographydesktop-lable-xs-font-weight: 600;
    --typographydesktop-lable-xs-font-style: normal;
    --typographydesktop-label-s-font-family: Poppins-SemiBold, sans-serif;
    --typographydesktop-label-s-font-size: 12px;
    --typographydesktop-label-s-line-height: 140%;
    --typographydesktop-label-s-font-weight: 600;
    --typographydesktop-label-s-font-style: normal;
    --typographydesktop-lable-m-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-lable-m-font-size: 14px;
    --typographydesktop-lable-m-line-height: 140%;
    --typographydesktop-lable-m-font-weight: 700;
    --typographydesktop-lable-m-font-style: normal;
    --typographydesktop-button-xxl-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-xxl-font-size: 16px;
    --typographydesktop-button-xxl-line-height: 140%;
    --typographydesktop-button-xxl-font-weight: 700;
    --typographydesktop-button-xxl-font-style: normal;
    --typographydesktop-button-xl-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-xl-font-size: 16px;
    --typographydesktop-button-xl-line-height: 140%;
    --typographydesktop-button-xl-font-weight: 500;
    --typographydesktop-button-xl-font-style: normal;
    --typographydesktop-button-l-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-l-font-size: 14px;
    --typographydesktop-button-l-line-height: 140%;
    --typographydesktop-button-l-font-weight: 700;
    --typographydesktop-button-l-font-style: normal;
    --typographydesktop-button-m-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-m-font-size: 14px;
    --typographydesktop-button-m-line-height: 140%;
    --typographydesktop-button-m-font-weight: 500;
    --typographydesktop-button-m-font-style: normal;
    --typographydesktop-button-s-font-family: Poppins-Bold, sans-serif;
    --typographydesktop-button-s-font-size: 10px;
    --typographydesktop-button-s-line-height: 140%;
    --typographydesktop-button-s-font-weight: 700;
    --typographydesktop-button-s-font-style: normal;
    --typographydesktop-button-xs-font-family: Poppins-Medium, sans-serif;
    --typographydesktop-button-xs-font-size: 10px;
    --typographydesktop-button-xs-line-height: 140%;
    --typographydesktop-button-xs-font-weight: 500;
    --typographydesktop-button-xs-font-style: normal;
  
    /* Effects */
  }
  a{
    text-decoration: none;
  }
  .flight-tiket-page,
  .flight-tiket-page * {
    box-sizing: border-box;
  }
  .flight-tiket-page {
    background: var(--neutral-100, #f9f9f9);
    height: 1822px;
    position: relative;
    overflow: hidden;
  }
  .header-after-sign-in-with-effect {
    background: var(--neutral-100, #f9f9f9);
    border-style: solid;
    border-color: var(--neutral-200, #efefef);
    border-width: 0px 0px 2px 0px;
    width: 1440px;
    height: 210px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
  .auto-layout-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 108px;
    top: 24px;
  }
  .header {
    padding: 0px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 68px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1224px;
    position: relative;
  }
  .logo {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 91px;
    position: relative;
  }
  .vector {
    flex-shrink: 0;
    width: 46px;
    height: 44px;
    position: relative;
    overflow: visible;
  }
  .easy-set-24 {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
    height: 22px;
  }
  .search-input-in-footer {
    background: var(--neutral-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 600px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-base-search {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .box-icons-your-account {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .box-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
  }
  .england {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .flag-england {
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .icon-buttons-dollars {
    background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .button-dollars {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-money-dollar {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .icon-button-help {
    background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
    position: relative;
  }
  .button-help {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-character-help {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .icon-buttons-favorite {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
    position: relative;
  }
  .button-favorite {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-base-like {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .phone {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    padding: 8px 4px 8px 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-communicate-phone-call {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .your-account {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }
  .photo {
    border-radius: 50px;
    border-style: solid;
    border-color: var(--primary-600, #043e5f);
    border-width: 1px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .anna-name {
    background: var(--neutral-100, #f9f9f9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 96px;
    position: relative;
  }
  .your-account2 {
    color: var(--primary-600, #043e5f);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-l-font-family,
      "Poppins-ExtraBold",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-l-font-size, 14px);
    line-height: var(--typographydesktop-caption-l-line-height, 140%);
    font-weight: var(--typographydesktop-caption-l-font-weight, 800);
    position: relative;
    width: 99px;
  }
  .anna {
    margin: -4px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    min-width: 24px;
    position: relative;
  }
  .anna-carinna {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
    width: 96px;
    height: 18px;
    max-width: 96px;
  }
  .chip-menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 810px;
    position: relative;
  }
  .chips-trip {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text {
    color: var(--neutral-400, #a6a6a6);
    text-align: center;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .chips-deals {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chips {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chips2 {
    background: var(--primary-500, #07689f);
    border-radius: 30px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .frame-26086870 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text2 {
    color: var(--neutral-white, #ffffff);
    text-align: center;
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
  .chips-apartment {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-5 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chips-camper {
    background: var(--neutral-white, #ffffff);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .text-6 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .digital-ticket {
    background: var(--neutral-white, #ffffff);
    padding: 32px;
    width: 1224px;
    height: 1046px;
    position: absolute;
    left: calc(50% - 612px);
    top: 258px;
    overflow: hidden;
  }
  .digital-ticket-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 32px;
    top: 32px;
  }
  .digital-ticket2 {
    color: var(--blackish-green, #112211);
    text-align: left;
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
    position: relative;
  }
  .it-is-not-necessary-to-print-your-ticket {
    color: var(--blackish-green, #112211);
    text-align: left;
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
  .flight-ticket {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 32px;
    top: 128px;
  }
  .ticket {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 924px;
    position: relative;
    
  }
  .info-up {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 926px;
    position: relative;
  }
  .flight {
    background: var(--neutral-400, #a6a6a6);
    border-radius: 8px 0px 0px 0px;
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 0px 1px 0px 0px;
    padding: 16px 16px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 240px;
    height: 48px;
    position: relative;
    overflow: hidden;
  }
  .text3 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 200px;
    border-style: solid;
    border-color: var(--primary-500, #07689f);
    border-width: 1px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
  }
  .icons-travels-flight-airflow-easy-set-24 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  .vector15 {
    height: auto;
    position: absolute;
    right: 15%;
    left: 15%;
    width: 70%;
    bottom: 50%;
    top: 15%;
    height: 35%;
    overflow: visible;
  }
  .vector16 {
    height: auto;
    position: absolute;
    right: 25%;
    left: 25%;
    width: 50%;
    bottom: 50%;
    top: 25%;
    height: 25%;
    overflow: visible;
  }
  .group-39547 {
    height: auto;
    position: absolute;
    right: 15.72%;
    left: 5%;
    width: 79.28%;
    bottom: 8.78%;
    top: 57.63%;
    height: 33.59%;
    transform: translate(0px, -4.53px);
    overflow: visible;
  }
  .flight2 {
    color: var(--neutral-white, #ffffff);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
    width: 64px;
    height: 22px;
  }
  .from {
    background: var(--neutral-400, #a6a6a6);
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 0px 1px 0px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 300px;
    height: 48px;
    position: relative;
  }
  .icon2 {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 200px;
    border-style: solid;
    border-color: var(--primary-500, #07689f);
    border-width: 0.5px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
  }
  .icons-travels-take-off-one {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }
  .clip-path-group {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .from2 {
    color: var(--neutral-white, #ffffff);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
    flex: 1;
    height: 22px;
  }
  .to {
    background: var(--neutral-400, #a6a6a6);
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 0px 0px 0px 1px;
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 260px;
    height: 48px;
    position: relative;
  }
  .icons-travels-landing {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .to2 {
    color: var(--neutral-white, #ffffff);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
    flex: 1;
  }
  .duration {
    background: var(--neutral-400, #a6a6a6);
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 0px 0px 0px 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 125px;
    height: 48px;
    position: relative;
    overflow: hidden;
  }
  .duration2 {
    color: var(--neutral-white, #ffffff);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .info-1 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 924px;
    position: relative;
  }
  .flight-info {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .lufthansa {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .airlien-logo-lufthansa-flight-search {
    display: flex;
    flex-direction: row;
    gap: 0.26px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: visible;
  }
  .image-55 {
    flex-shrink: 0;
    width: 95px;
    height: 22px;
    position: relative;
    object-fit: cover;
  }
  .tk-881 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 208px;
    position: relative;
  }
  .tk-8812 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .economy-class {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .from-info {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 300px;
    position: relative;
  }
  .pm {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 268px;
    position: relative;
  }
  ._12-00-pm {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .thursday-april-6 {
    color: var(--state-colour-success, #4c9839);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .stockholm {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 268px;
    position: relative;
  }
  .stockholm-sweden {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .stockholm-arlanda-airport-arn {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .to-info {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 260px;
    position: relative;
  }
  .pm2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 225px;
    position: relative;
  }
  ._15-45-pm {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .rome {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 228px;
    position: relative;
  }
  .rome-italy {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .rome-fiumicino-airport-fco {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .dutation-info {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 125px;
    height: 155px;
    position: relative;
  }
  ._3-45-h {
    color: #000000;
    text-align: center;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .info-center {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 924px;
    position: relative;
  }
  .one-stop {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 240px;
    position: relative;
  }
  .icone {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .frame-1171276469 {
    border-radius: 200px;
    border-style: solid;
    border-color: var(--primary-500, #07689f);
    border-width: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-arrows-double-down {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    /* transform: translate(0px, -16px); */
    overflow: visible;
  }
  .text4 {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .one-stop2 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    opacity: 0.7799999713897705;
    position: relative;
    width: 74px;
  }
  .text5 {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 560px;
    height: 56px;
    position: relative;
  }
  .layovers-connecting-flights-for-rome-italy {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
    width: 398px;
    height: 19px;
  }
  .italy-fiumicino-airport-see-more {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
    position: relative;
    width: 206px;
  }
  ._4-h-45-m {
    padding: 16px 10px 16px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 124px;
    height: 56px;
    position: relative;
  }
  ._4-h-45-m2 {
    color: #000000;
    text-align: right;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .info-2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 924px;
    position: relative;
  }
  .flight-info2 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .british-airways {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 208px;
    position: relative;
  }
  .frame-1171277088 {
    flex-shrink: 0;
    width: 199px;
    height: 60px;
    position: relative;
  }
  .ailine-log-british-airlines-flight-search {
    background: #ffffff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .british-airline-logo {
    width: 72.64px;
    height: 18.17px;
    position: absolute;
    left: -6px;
    top: 19px;
    overflow: visible;
  }
  .image-52 {
    width: 123px;
    height: 21.5px;
    position: absolute;
    left: 76px;
    top: 19.25px;
    object-fit: cover;
  }
  .tk-29 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .tk-292 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 208px;
    position: relative;
  }
  .tk-293 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .economy-class2 {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .from-info2 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    position: relative;
  }
  .pm3 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  ._21-45-pm {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .thursday-april-62 {
    color: var(--state-colour-success, #4c9839);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .rome2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon3 {
    background: var(--neutral-white, #ffffff);
    border-radius: 200px;
    border-style: solid;
    border-color: var(--primary-500, #07689f);
    border-width: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-arrows-double-down2 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    /* transform: translate(0px, -16px); */
    overflow: visible;
  }
  .text6 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .rome-italy2 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .rome-fiumicino-airport-fco2 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .to-info2 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .pm4 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 228px;
    position: relative;
  }
  ._23-45-pm {
    color: var(--primary-500, #07689f);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .stanbul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 228px;
    position: relative;
  }
  .stanbul-turkiye {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 145px;
  }
  .sabha-saw {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .duration-info {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 125px;
    height: 155px;
    position: relative;
  }
  ._2-hours {
    color: #000000;
    text-align: center;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .line-2 {
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.8);
    border-width: 2px 0 0 0;
    flex-shrink: 0;
    width: 414px;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
  }
  .bar-code {
    border-radius: 0px 8px 0px 0px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    opacity: 0.800000011920929;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 414px;
    position: relative;
    border-left: dotted;
    padding-left: 30px;
    
  }
  .up {
    background: var(--neutral-400, #a6a6a6);
    border-radius: 0px 8px 0px 0px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 0px 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 123px;
    height: 48px;
    position: relative;
    overflow: hidden;
  }
  .bar-code2 {
    /* color: var(--neutral-white, #ffffff); */
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
    
  }
  .bar-code3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    border-left: solid;
    border-color: var(--neutral-300, #d9d9d9);
    padding-left: 0.01em;
  }
  .qr-code {
    background: var(--neutral-100, #f9f9f9);
    padding: 24px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    position: relative;
    overflow: hidden;
  }
  .barcode {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    border-right: dotted;
  }
  .qr-code2 {
    flex-shrink: 0;
    width: 59.6px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .image-2 {
    flex-shrink: 0;
    width: 236px;
    height: 64px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
    object-fit: cover;
  }
  .payment-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 580px);
    top: 880px;
  }
  .terms-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .terms-and-conditions {
    color: var(--blackish-green, #112211);
    text-align: left;
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
    position: relative;
  }
  .text7 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1127px;
    position: relative;
  }
  .payment {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .payments {
    color: var(--blackish-green, #112211);
    text-align: left;
    font-family: var(
      --typographydesktop-button-xxl-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xxl-font-size, 16px);
    line-height: var(--typographydesktop-button-xxl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xxl-font-weight, 700);
    position: relative;
  }
  .if-you-are-purchasing-your-ticket-using-a-debit-or-credit-card-via-the-website-we-will-process-these-payments-via-the-automated-secure-common-payment-gateway-which-will-be-subject-to-fraud-screening-purposes {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .if-you-do-not-supply-the-correct-card-billing-address-and-or-cardholder-information-your-booking-will-not-be-confirmed-and-the-overall-cost-may-increase-we-reserve-the-right-to-cancel-your-booking-if-payment-is-declined-for-any-reason-or-if-you-have-supplied-incorrect-card-information-if-we-become-aware-of-or-is-notified-of-any-fraud-or-illegal-activity-associated-with-the-payment-for-the-booking-the-booking-will-be-cancelled-and-you-will-be-liable-for-all-costs-and-expenses-arising-from-such-cancellation-without-prejudice-to-any-action-that-may-be-taken-against-us {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .golobe-may-require-the-card-holder-to-provide-additional-payment-verification-upon-request-by-either-submitting-an-online-form-or-visiting-the-nearest-golobe-office-or-at-the-airport-at-the-time-of-check-in-golobe-reserves-the-right-to-deny-boarding-or-to-collect-a-guarantee-payment-in-cash-or-from-another-credit-card-if-the-card-originally-used-for-the-purchase-cannot-be-presented-by-the-cardholder-at-check-in-or-when-collecting-the-tickets-or-in-the-case-the-original-payment-has-been-withheld-or-disputed-by-the-card-issuing-bank-credit-card-details-are-held-in-a-secured-environment-and-transferred-through-an-internationally-accepted-system {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .footer-final {
    border-radius: 8px 8px 0px 0px;
    width: 1440px;
    height: 458px;
    position: absolute;
    left: -1px;
    top: 1364px;
  }
  .frame-footer {
    background: var(--neutral-300, #d9d9d9);
    width: 1441px;
    height: 64px;
    position: absolute;
    left: -1px;
    top: 394px;
    overflow: hidden;
  }
  .under-the-footer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1224px;
    position: absolute;
    left: 108px;
    top: 19px;
  }
  .text-12 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-character-copyright {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .copyright-easy-set-24 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: relative;
  }
  .text-22 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-office-email-down {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .easyset-24-gmail-com {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: relative;
  }
  .easy-set-24-seamless-journeys-unrivalled-travel-wisdom {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .text-32 {
    flex-shrink: 0;
    width: 175px;
    height: 20px;
    position: relative;
  }
  .icons-travels-local-two {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._123-oxford-street-london {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: absolute;
    left: 27.5px;
    top: 0px;
    width: 148px;
    height: 20px;
  }
  .text-4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-communicate-phone-call2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .phone2 {
    flex-shrink: 0;
    width: 103px;
    height: 17px;
    position: static;
  }
  ._44-20-7123-4567 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-caption-s-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-caption-s-font-size, 12px);
    line-height: var(--typographydesktop-caption-s-line-height, 140%);
    font-weight: var(--typographydesktop-caption-s-font-weight, 500);
    position: absolute;
    left: 28px;
    top: 3px;
  }
  .footer {
    background: #f8f8f8;
    width: 1440px;
    height: 388px;
    position: absolute;
    left: 0px;
    top: 6px;
    overflow: hidden;
  }
  .base {
    position: absolute;
    right: 76.39%;
    left: 19.58%;
    width: 4.03%;
    bottom: 14.43%;
    top: 75.26%;
    height: 10.31%;
  }
  .send-an-email {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 927px;
    top: 263px;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 312px;
    position: relative;
  }
  .e-mail-text {
    padding: 4px 8px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .title {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
  .auto-layout-input {
    background: var(--neutral-white, #ffffff);
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-color: var(--neutral-400, #a6a6a6);
    border-width: 0.5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 48px;
    position: relative;
  }
  .text8 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-office-mail {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .enter-yout-email {
    color: var(--neutral-400, #a6a6a6);
    text-align: left;
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
    position: relative;
  }
  .confirm-button {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 94px;
    position: relative;
  }
  .button {
    background: var(--primary-500, #07689f);
    border-radius: 0px 4px 4px 0px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 94px;
    height: 48px;
    position: relative;
    overflow: hidden;
  }
  .text9 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text10 {
    color: var(--neutral-white, #ffffff);
    text-align: right;
    font-family: var(
      --typographydesktop-button-m-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-m-font-size, 14px);
    line-height: var(--typographydesktop-button-m-line-height, 140%);
    font-weight: var(--typographydesktop-button-m-font-weight, 500);
    position: relative;
  }
  .payment-methods {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    width: 405px;
    position: absolute;
    left: calc(50% - 611px);
    top: calc(50% - -98px);
  }
  .visa-card {
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
    overflow: visible;
  }
  .amex {
    border-radius: 4px;
    flex: 1;
    height: 48px;
    position: relative;
    overflow: visible;
  }
  .master-card {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
  }
  .international-bank-masterrcard {
    flex-shrink: 0;
    width: 47px;
    height: 31px;
    position: relative;
    overflow: visible;
  }
  .paypal {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
  }
  .international {
    align-self: stretch;
    flex-shrink: 0;
    height: 14px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-the-whole-episode {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1223px;
    position: absolute;
    left: 109px;
    top: 48px;
  }
  .auto-layout-about-us {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 144px;
    height: 174px;
    position: relative;
  }
  .customer-service {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 108px;
  }
  .our-story {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 108px;
  }
  .work-with-us {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 108px;
    height: 18px;
  }
  .press-media {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 126px;
    height: 18px;
  }
  .privacy-security {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 144px;
    height: 18px;
  }
  .auto-layout-we-offer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 159px;
    position: relative;
  }
  .we-offer {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .trip-sponsorship {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 148px;
  }
  .last-minutes-flights {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 159px;
  }
  .best-deals {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 148px;
  }
  .ai-driven-search {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 148px;
  }
  .auto-layout-headquarters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 123px;
    position: relative;
  }
  .headquarters {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .england2 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .france {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .canada {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .iceland {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 66px;
  }
  .auto-layout-travel-blogs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 161px;
    height: 174px;
    position: relative;
  }
  .travel-blogs {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .bali-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .sri-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .peru-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .swiss-travel-guide {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 161px;
  }
  .auto-layout-activities {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 174px;
    position: relative;
  }
  .activities {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .tour-leading {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .cruising-sailing {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .camping {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .kayaking {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 140px;
  }
  .auto-layou-service {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 135px;
    height: 132px;
    position: relative;
  }
  .service {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    width: 92px;
  }
  .report-error {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 99px;
  }
  .ask-online {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 99px;
  }
  .travel-insurance {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 135px;
  }
  .social-networks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 108px);
    top: calc(50% - -110px);
  }
  .linkedin {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .telegram {
    border-radius: 6px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .twitter {
    border-radius: 6px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .facebook {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .instagram {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
    