:root {
  --primary-400: #2f83b2;
  --primary-500: #07689f;
  --primary-600: #043e5f;
  --neutral-white: #ffffff;
  --neutral-100: #f9f9f9;
  --neutral-200: #efefef;
  --neutral-300: #d9d9d9;
  --neutral-400: #a6a6a6;
  --neutral-500: #565656;
  --neutral-black: #000000;
  --state-colour-error-light: #e5062e;
  --state-colour-error-dark: #a80102;
  --state-colour-alert: #ffcc00;
  --state-colour-accent: #ff6c01;
  --state-colour-success: #4c9839;
  --state-colour-success-light: #e8f5e4;

  /* Fonts */
  --typographydesktop-display-1-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-display-1-font-size: 64px;
  --typographydesktop-display-1-line-height: 140%;
  --typographydesktop-display-1-font-weight: 700;
  --typographydesktop-display-1-font-style: normal;
  --typographydesktop-display-2-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-display-2-font-size: 54px;
  --typographydesktop-display-2-line-height: 140%;
  --typographydesktop-display-2-font-weight: 700;
  --typographydesktop-display-2-font-style: normal;
  --typographydesktop-h1-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-h1-font-size: 44px;
  --typographydesktop-h1-line-height: 140%;
  --typographydesktop-h1-font-weight: 700;
  --typographydesktop-h1-font-style: normal;
  --typographydesktop-h2-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-h2-font-size: 40px;
  --typographydesktop-h2-line-height: 140%;
  --typographydesktop-h2-font-weight: 700;
  --typographydesktop-h2-font-style: normal;
  --typographydesktop-h3-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-h3-font-size: 32px;
  --typographydesktop-h3-line-height: 140%;
  --typographydesktop-h3-font-weight: 700;
  --typographydesktop-h3-font-style: normal;
  --typographydesktop-h4-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-h4-font-size: 24px;
  --typographydesktop-h4-line-height: 140%;
  --typographydesktop-h4-font-weight: 700;
  --typographydesktop-h4-font-style: normal;
  --typographydesktop-h5-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-h5-font-size: 20px;
  --typographydesktop-h5-line-height: 140%;
  --typographydesktop-h5-font-weight: 700;
  --typographydesktop-h5-font-style: normal;
  --typographydesktop-h6-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-h6-font-size: 16px;
  --typographydesktop-h6-line-height: 140%;
  --typographydesktop-h6-font-weight: 700;
  --typographydesktop-h6-font-style: normal;
  --typographydesktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
  --typographydesktop-subtitle-l-font-size: 16px;
  --typographydesktop-subtitle-l-line-height: 150%;
  --typographydesktop-subtitle-l-font-weight: 600;
  --typographydesktop-subtitle-l-font-style: normal;
  --typographydesktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-subtitle-m-font-size: 14px;
  --typographydesktop-subtitle-m-line-height: 150%;
  --typographydesktop-subtitle-m-font-weight: 400;
  --typographydesktop-subtitle-m-font-style: normal;
  --typographydesktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-subtitle-s-font-size: 12px;
  --typographydesktop-subtitle-s-line-height: 140%;
  --typographydesktop-subtitle-s-font-weight: 400;
  --typographydesktop-subtitle-s-font-style: normal;
  --typographydesktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-subtitle-xs-font-size: 10px;
  --typographydesktop-subtitle-xs-line-height: 140%;
  --typographydesktop-subtitle-xs-font-weight: 400;
  --typographydesktop-subtitle-xs-font-style: normal;
  --typographydesktop-body-xl-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-body-xl-font-size: 20px;
  --typographydesktop-body-xl-line-height: 140%;
  --typographydesktop-body-xl-font-weight: 400;
  --typographydesktop-body-xl-font-style: normal;
  --typographydesktop-body-l-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-body-l-font-size: 18px;
  --typographydesktop-body-l-line-height: 140%;
  --typographydesktop-body-l-font-weight: 400;
  --typographydesktop-body-l-font-style: normal;
  --typographydesktop-body-m-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-body-m-font-size: 16px;
  --typographydesktop-body-m-line-height: 150%;
  --typographydesktop-body-m-font-weight: 400;
  --typographydesktop-body-m-font-style: normal;
  --typographydesktop-body-s-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-body-s-font-size: 14px;
  --typographydesktop-body-s-line-height: 150%;
  --typographydesktop-body-s-font-weight: 400;
  --typographydesktop-body-s-font-style: normal;
  --typographydesktop-body-xs-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-body-xs-font-size: 12px;
  --typographydesktop-body-xs-line-height: 150%;
  --typographydesktop-body-xs-font-weight: 400;
  --typographydesktop-body-xs-font-style: normal;
  --typographydesktop-body-xxs-font-family: Poppins-Light, sans-serif;
  --typographydesktop-body-xxs-font-size: 10px;
  --typographydesktop-body-xxs-line-height: 140%;
  --typographydesktop-body-xxs-font-weight: 300;
  --typographydesktop-body-xxs-font-style: normal;
  --typographydesktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
  --typographydesktop-caption-l-font-size: 14px;
  --typographydesktop-caption-l-line-height: 140%;
  --typographydesktop-caption-l-font-weight: 800;
  --typographydesktop-caption-l-font-style: normal;
  --typographydesktop-caption-m-font-family: Poppins-Regular, sans-serif;
  --typographydesktop-caption-m-font-size: 14px;
  --typographydesktop-caption-m-line-height: 140%;
  --typographydesktop-caption-m-font-weight: 400;
  --typographydesktop-caption-m-font-style: normal;
  --typographydesktop-caption-s-font-family: Poppins-Medium, sans-serif;
  --typographydesktop-caption-s-font-size: 12px;
  --typographydesktop-caption-s-line-height: 140%;
  --typographydesktop-caption-s-font-weight: 500;
  --typographydesktop-caption-s-font-style: normal;
  --typographydesktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
  --typographydesktop-lable-xs-font-size: 10px;
  --typographydesktop-lable-xs-line-height: 140%;
  --typographydesktop-lable-xs-font-weight: 600;
  --typographydesktop-lable-xs-font-style: normal;
  --typographydesktop-label-s-font-family: Poppins-SemiBold, sans-serif;
  --typographydesktop-label-s-font-size: 12px;
  --typographydesktop-label-s-line-height: 140%;
  --typographydesktop-label-s-font-weight: 600;
  --typographydesktop-label-s-font-style: normal;
  --typographydesktop-lable-m-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-lable-m-font-size: 14px;
  --typographydesktop-lable-m-line-height: 140%;
  --typographydesktop-lable-m-font-weight: 700;
  --typographydesktop-lable-m-font-style: normal;
  --typographydesktop-button-xxl-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-button-xxl-font-size: 16px;
  --typographydesktop-button-xxl-line-height: 140%;
  --typographydesktop-button-xxl-font-weight: 700;
  --typographydesktop-button-xxl-font-style: normal;
  --typographydesktop-button-xl-font-family: Poppins-Medium, sans-serif;
  --typographydesktop-button-xl-font-size: 16px;
  --typographydesktop-button-xl-line-height: 140%;
  --typographydesktop-button-xl-font-weight: 500;
  --typographydesktop-button-xl-font-style: normal;
  --typographydesktop-button-l-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-button-l-font-size: 14px;
  --typographydesktop-button-l-line-height: 140%;
  --typographydesktop-button-l-font-weight: 700;
  --typographydesktop-button-l-font-style: normal;
  --typographydesktop-button-m-font-family: Poppins-Medium, sans-serif;
  --typographydesktop-button-m-font-size: 14px;
  --typographydesktop-button-m-line-height: 140%;
  --typographydesktop-button-m-font-weight: 500;
  --typographydesktop-button-m-font-style: normal;
  --typographydesktop-button-s-font-family: Poppins-Bold, sans-serif;
  --typographydesktop-button-s-font-size: 10px;
  --typographydesktop-button-s-line-height: 140%;
  --typographydesktop-button-s-font-weight: 700;
  --typographydesktop-button-s-font-style: normal;
  --typographydesktop-button-xs-font-family: Poppins-Medium, sans-serif;
  --typographydesktop-button-xs-font-size: 10px;
  --typographydesktop-button-xs-line-height: 140%;
  --typographydesktop-button-xs-font-weight: 500;
  --typographydesktop-button-xs-font-style: normal;

}

.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.easy-set-24-app-footer {
  background: var(--neutral-100, #f9f9f9);
  border-style: solid;
  border-color: var(--neutral-200, #efefef);
  border-width: 0px 0px 2px 0px;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: row;
  gap: 335px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.auto-layout {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 704px;
  position: relative;
}
.travel-description-and-click-on-load-code {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.go-further-with-the-easy-set-24-app {
  color: var(--primary-500, #07689f);
  text-align: left;
  font-family: var(
    --typographydesktop-h5-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h5-font-size, 20px);
  line-height: var(--typographydesktop-h5-line-height, 140%);
  font-weight: var(--typographydesktop-h5-font-weight, 700);
  position: relative;
}
.enjoy-savings-on-chosen-hotels-and-flights-when-you-book-through-the-easy-set-24-website-additionally-earn-one-key-cash-for-every-booking-made-through-the-app {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-subtitle-m-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
  line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
  font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
  position: relative;
  width: 703px;
  height: 42px;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.secured-by-europe-gtp {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-subtitle-m-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
  line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
  font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
  position: relative;
}
.auto-layout-scane-barcode {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.auto-layout-barcode-app-store {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 185px;
  position: relative;
}
.https-lottiefiles-com-animations-apple-download-u-6-s-ucj-un-lb {
  flex-shrink: 0;
  width: 120px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.qr-code {
  border-radius: 4px;
  flex-shrink: 0;
  width: 41px;
  height: 40px;
  position: relative;
  transform: translate(-41px, -40px);
  overflow: visible;
}
.auto-layout-barcode-google-play {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.https-lottiefiles-com-animations-google-play-badge-g-e-ekc-fr-3-j-6 {
  flex-shrink: 0;
  width: 121px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.qr-code2 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  transform: translate(-40px, -40px);
  overflow: visible;
}
.footer-final {
  border-radius: 8px 8px 0px 0px;
  flex-shrink: 0;
  width: 1439px;
  height: 388px;
  position: relative;
}
.frame-footer {
  background: var(--neutral-300, #d9d9d9);
  width: 1441px;
  height: 64px;
  position: absolute;
  left: -1px;
  top: 394px;
  overflow: hidden;
}
.under-the-footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1224px;
  position: absolute;
  left: 108px;
  top: 19px;
}
.text-1 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-character-copyright {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.copyright-easy-set-24 {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: relative;
}
.text-2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-office-email-down {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.easyset-24-gmail-com {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: relative;
}
.easy-set-24-seamless-journeys-unrivalled-travel-wisdom {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
}
.text-3 {
  flex-shrink: 0;
  width: 175px;
  height: 20px;
  position: relative;
}
.icons-travels-local-two {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._123-oxford-street-london {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: absolute;
  left: 27.5px;
  top: 0px;
  width: 148px;
  height: 20px;
}
.text-4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-communicate-phone-call {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.phone {
  flex-shrink: 0;
  width: 103px;
  height: 17px;
  position: static;
}
._44-20-7123-4567 {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: absolute;
  left: 28px;
  top: 3px;
}
.footer2 {
  background: #f8f8f8;
  width: 1440px;
  height: 388px;
  position: absolute;
  left: 0px;
  top: 6px;
  overflow: hidden;
}
.base {
  width: 4.03%;
  height: 10.31%;
  position: absolute;
  right: 76.39%;
  left: 19.58%;
  bottom: 14.43%;
  top: 75.26%;
}
.send-an-email {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 927px;
  top: 263px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 312px;
  position: relative;
}
.e-mail-text {
  padding: 4px 8px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-body-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typographydesktop-body-s-font-size, 14px);
  line-height: var(--typographydesktop-body-s-line-height, 150%);
  font-weight: var(--typographydesktop-body-s-font-weight, 400);
  position: relative;
}
.auto-layout-input {
  background: var(--neutral-white, #ffffff);
  border-radius: 4px 0px 0px 4px;
  border-style: solid;
  border-color: var(--neutral-400, #a6a6a6);
  border-width: 0.5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.text2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-office-mail {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.enter-yout-email {
  color: var(--neutral-400, #a6a6a6);
  text-align: left;
  font-family: var(
    --typographydesktop-body-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typographydesktop-body-s-font-size, 14px);
  line-height: var(--typographydesktop-body-s-line-height, 150%);
  font-weight: var(--typographydesktop-body-s-font-weight, 400);
  position: relative;
}
.confirm-button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 94px;
  position: relative;
}
.button {
  background: var(--primary-500, #07689f);
  border-radius: 0px 4px 4px 0px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 94px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: var(--neutral-white, #ffffff);
  text-align: right;
  font-family: var(
    --typographydesktop-button-m-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-button-m-font-size, 14px);
  line-height: var(--typographydesktop-button-m-line-height, 140%);
  font-weight: var(--typographydesktop-button-m-font-weight, 500);
  position: relative;
}
.payment-methods {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 405px;
  position: absolute;
  left: calc(50% - 611px);
  top: calc(50% - -98px);
}
.visa-card {
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
  overflow: visible;
}
.amex {
  border-radius: 4px;
  flex: 1;
  height: 48px;
  position: relative;
  overflow: visible;
}
.master-card {
  background: var(--neutral-100, #f9f9f9);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-300, #d9d9d9);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
}
.international-bank-masterrcard {
  flex-shrink: 0;
  width: 47px;
  height: 31px;
  position: relative;
  overflow: visible;
}
.paypal {
  background: var(--neutral-100, #f9f9f9);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-300, #d9d9d9);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
}
.international {
  align-self: stretch;
  flex-shrink: 0;
  height: 14px;
  position: relative;
  overflow: visible;
}
.auto-layout-the-whole-episode {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1223px;
  position: absolute;
  left: 109px;
  top: 48px;
}
.auto-layout-about-us {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 144px;
  height: 174px;
  position: relative;
}
.customer-service {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
  width: 108px;
}
.our-story {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 108px;
}
.work-with-us {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 108px;
  height: 18px;
}
.press-media {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 126px;
  height: 18px;
}
.privacy-security {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 144px;
  height: 18px;
}
.auto-layout-we-offer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 159px;
  position: relative;
}
.we-offer {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
}
.trip-sponsorship {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 148px;
}
.last-minutes-flights {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 159px;
}
.best-deals {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 148px;
}
.ai-driven-search {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 148px;
}
.auto-layout-headquarters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 123px;
  position: relative;
}
.headquarters {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
}
.england {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 66px;
}
.france {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 66px;
}
.canada {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 66px;
}
.iceland {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 66px;
}
.auto-layout-travel-blogs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 161px;
  height: 174px;
  position: relative;
}
.travel-blogs {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
}
.bali-travel-guide {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.sri-travel-guide {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.peru-travel-guide {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.swiss-travel-guide {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 161px;
}
.auto-layout-activities {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 174px;
  position: relative;
}
.activities {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
}
.tour-leading {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.cruising-sailing {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.camping {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.kayaking {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 140px;
}
.auto-layou-service {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 135px;
  height: 132px;
  position: relative;
}
.service {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
  width: 92px;
}
.report-error {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 99px;
}
.ask-online {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 99px;
}
.travel-insurance {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.699999988079071;
  position: relative;
  width: 135px;
}
.social-networks {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 108px);
  top: calc(50% - -110px);
}
.linkedin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.telegram {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.twitter {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-footer,
.frame-footer * {
  box-sizing: border-box;
}
.frame-footer {
  background: var(--neutral-300, #d9d9d9);
  height: 64px;
  position: relative;
  overflow: hidden;
}
.under-the-footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1224px;
  position: absolute;
  left: 108px;
  top: 19px;
}
.text-1 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-character-copyright {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.copyright-easy-set-24 {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: relative;
}
.text-2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-office-email-down {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.easyset-24-gmail-com {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: relative;
}
.easy-set-24-seamless-journeys-unrivalled-travel-wisdom {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-h6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typographydesktop-h6-font-size, 16px);
  line-height: var(--typographydesktop-h6-line-height, 140%);
  font-weight: var(--typographydesktop-h6-font-weight, 700);
  position: relative;
}
.text-3 {
  flex-shrink: 0;
  width: 175px;
  height: 20px;
  position: relative;
}
.icons-travels-local-two {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._123-oxford-street-london {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: absolute;
  left: 27.5px;
  top: 0px;
  width: 148px;
  height: 20px;
}
.text-4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-communicate-phone-call {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.phone {
  flex-shrink: 0;
  width: 103px;
  height: 17px;
  position: static;
}
._44-20-7123-4567 {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typographydesktop-caption-s-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typographydesktop-caption-s-font-size, 12px);
  line-height: var(--typographydesktop-caption-s-line-height, 140%);
  font-weight: var(--typographydesktop-caption-s-font-weight, 500);
  position: absolute;
  left: 28px;
  top: 3px;
}
