/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-400: #2f83b2;
    --primary-500: #07689f;
    --primary-600: #043e5f;
    --neutral-white: #ffffff;
    --neutral-100: #f9f9f9;
    --neutral-200: #efefef;
    --neutral-300: #d9d9d9;
    --neutral-400: #a6a6a6;
    --neutral-500: #565656;
    --neutral-black: #000000;
    --state-colour-error-light: #e5062e;
    --state-colour-error-dark: #a80102;
    --state-colour-alert: #ffcc00;
    --state-colour-accent: #ff6c01;
    --state-colour-success: #4c9839;
    --state-colour-success-light: #e8f5e4;
  
    /* Fonts */
    --typography-desktop-display-1-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-display-1-font-size: 64px;
    --typography-desktop-display-1-line-height: 140%;
    --typography-desktop-display-1-font-weight: 700;
    --typography-desktop-display-1-font-style: normal;
    --typography-desktop-display-2-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-display-2-font-size: 54px;
    --typography-desktop-display-2-line-height: 140%;
    --typography-desktop-display-2-font-weight: 700;
    --typography-desktop-display-2-font-style: normal;
    --typography-desktop-h-1-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-1-font-size: 44px;
    --typography-desktop-h-1-line-height: 140%;
    --typography-desktop-h-1-font-weight: 700;
    --typography-desktop-h-1-font-style: normal;
    --typography-desktop-h-2-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-2-font-size: 40px;
    --typography-desktop-h-2-line-height: 140%;
    --typography-desktop-h-2-font-weight: 700;
    --typography-desktop-h-2-font-style: normal;
    --typography-desktop-h-3-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-3-font-size: 32px;
    --typography-desktop-h-3-line-height: 140%;
    --typography-desktop-h-3-font-weight: 700;
    --typography-desktop-h-3-font-style: normal;
    --typography-desktop-h-4-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-4-font-size: 24px;
    --typography-desktop-h-4-line-height: 140%;
    --typography-desktop-h-4-font-weight: 700;
    --typography-desktop-h-4-font-style: normal;
    --typography-desktop-h-5-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-5-font-size: 20px;
    --typography-desktop-h-5-line-height: 140%;
    --typography-desktop-h-5-font-weight: 700;
    --typography-desktop-h-5-font-style: normal;
    --typography-desktop-h-6-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-6-font-size: 16px;
    --typography-desktop-h-6-line-height: 140%;
    --typography-desktop-h-6-font-weight: 700;
    --typography-desktop-h-6-font-style: normal;
    --typography-desktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
    --typography-desktop-subtitle-l-font-size: 16px;
    --typography-desktop-subtitle-l-line-height: 150%;
    --typography-desktop-subtitle-l-font-weight: 600;
    --typography-desktop-subtitle-l-font-style: normal;
    --typography-desktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-subtitle-m-font-size: 14px;
    --typography-desktop-subtitle-m-line-height: 150%;
    --typography-desktop-subtitle-m-font-weight: 400;
    --typography-desktop-subtitle-m-font-style: normal;
    --typography-desktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-subtitle-s-font-size: 12px;
    --typography-desktop-subtitle-s-line-height: 140%;
    --typography-desktop-subtitle-s-font-weight: 400;
    --typography-desktop-subtitle-s-font-style: normal;
    --typography-desktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-subtitle-xs-font-size: 10px;
    --typography-desktop-subtitle-xs-line-height: 140%;
    --typography-desktop-subtitle-xs-font-weight: 400;
    --typography-desktop-subtitle-xs-font-style: normal;
    --typography-desktop-body-xl-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-xl-font-size: 20px;
    --typography-desktop-body-xl-line-height: 140%;
    --typography-desktop-body-xl-font-weight: 400;
    --typography-desktop-body-xl-font-style: normal;
    --typography-desktop-body-l-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-l-font-size: 18px;
    --typography-desktop-body-l-line-height: 140%;
    --typography-desktop-body-l-font-weight: 400;
    --typography-desktop-body-l-font-style: normal;
    --typography-desktop-body-m-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-m-font-size: 16px;
    --typography-desktop-body-m-line-height: 150%;
    --typography-desktop-body-m-font-weight: 400;
    --typography-desktop-body-m-font-style: normal;
    --typography-desktop-body-s-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-s-font-size: 14px;
    --typography-desktop-body-s-line-height: 150%;
    --typography-desktop-body-s-font-weight: 400;
    --typography-desktop-body-s-font-style: normal;
    --typography-desktop-body-xs-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-xs-font-size: 12px;
    --typography-desktop-body-xs-line-height: 150%;
    --typography-desktop-body-xs-font-weight: 400;
    --typography-desktop-body-xs-font-style: normal;
    --typography-desktop-body-xxs-font-family: Poppins-Light, sans-serif;
    --typography-desktop-body-xxs-font-size: 10px;
    --typography-desktop-body-xxs-line-height: 140%;
    --typography-desktop-body-xxs-font-weight: 300;
    --typography-desktop-body-xxs-font-style: normal;
    --typography-desktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
    --typography-desktop-caption-l-font-size: 14px;
    --typography-desktop-caption-l-line-height: 140%;
    --typography-desktop-caption-l-font-weight: 800;
    --typography-desktop-caption-l-font-style: normal;
    --typography-desktop-caption-m-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-caption-m-font-size: 14px;
    --typography-desktop-caption-m-line-height: 140%;
    --typography-desktop-caption-m-font-weight: 400;
    --typography-desktop-caption-m-font-style: normal;
    --typography-desktop-caption-s-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-caption-s-font-size: 12px;
    --typography-desktop-caption-s-line-height: 140%;
    --typography-desktop-caption-s-font-weight: 500;
    --typography-desktop-caption-s-font-style: normal;
    --typography-desktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
    --typography-desktop-lable-xs-font-size: 10px;
    --typography-desktop-lable-xs-line-height: 140%;
    --typography-desktop-lable-xs-font-weight: 600;
    --typography-desktop-lable-xs-font-style: normal;
    --typography-desktop-label-s-font-family: Poppins-SemiBold, sans-serif;
    --typography-desktop-label-s-font-size: 12px;
    --typography-desktop-label-s-line-height: 140%;
    --typography-desktop-label-s-font-weight: 600;
    --typography-desktop-label-s-font-style: normal;
    --typography-desktop-lable-m-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-lable-m-font-size: 14px;
    --typography-desktop-lable-m-line-height: 140%;
    --typography-desktop-lable-m-font-weight: 700;
    --typography-desktop-lable-m-font-style: normal;
    --typography-desktop-button-xxl-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-button-xxl-font-size: 16px;
    --typography-desktop-button-xxl-line-height: 140%;
    --typography-desktop-button-xxl-font-weight: 700;
    --typography-desktop-button-xxl-font-style: normal;
    --typography-desktop-button-xl-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-button-xl-font-size: 16px;
    --typography-desktop-button-xl-line-height: 140%;
    --typography-desktop-button-xl-font-weight: 500;
    --typography-desktop-button-xl-font-style: normal;
    --typography-desktop-button-l-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-button-l-font-size: 14px;
    --typography-desktop-button-l-line-height: 140%;
    --typography-desktop-button-l-font-weight: 700;
    --typography-desktop-button-l-font-style: normal;
    --typography-desktop-button-m-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-button-m-font-size: 14px;
    --typography-desktop-button-m-line-height: 140%;
    --typography-desktop-button-m-font-weight: 500;
    --typography-desktop-button-m-font-style: normal;
    --typography-desktop-button-s-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-button-s-font-size: 10px;
    --typography-desktop-button-s-line-height: 140%;
    --typography-desktop-button-s-font-weight: 700;
    --typography-desktop-button-s-font-style: normal;
    --typography-desktop-button-xs-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-button-xs-font-size: 10px;
    --typography-desktop-button-xs-line-height: 140%;
    --typography-desktop-button-xs-font-weight: 500;
    --typography-desktop-button-xs-font-style: normal;
  
    /* Effects */
  }
  a{
    text-decoration:none ;
  }
  .hotel-information-cards,
  .hotel-information-cards * {
    box-sizing: border-box;
  }
  .hotel-information-cards {
    height: 558px;
    position: relative;
  }
  .auto-layout-image {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    width: 1224px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .photo-1 {
    border-radius: 8px 0px 0px 8px;
    flex: 1;
    height: 558px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .photo-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 294px;
    position: relative;
  }
  .photo-22 {
    align-self: stretch;
    flex-shrink: 0;
    height: 247px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .photo-23 {
    align-self: stretch;
    flex-shrink: 0;
    height: 295px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .photo-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 297px;
    position: relative;
  }
  .photo-32 {
    border-radius: 0px 8px 0px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 247px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .more-picture-to-see {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    border-radius: 0px 0px 8px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 295px;
    position: relative;
    overflow: hidden;
  }
  .see-more-pictures {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: 225px;
    position: absolute;
    left: calc(50% - 112.5px);
    top: 251px;
  }
  .icons-office-picture-album {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .frame-1171277201 {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .see-more-photos {
    color: var(--neutral-white, #ffffff);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .icon-feathericons-chevron-down {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    transform: translate(0px, -20px);
    overflow: visible;
  }
  
  .hotel-informations,
  .hotel-informations * {
    box-sizing: border-box;
  }
  .hotel-informations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .hotel-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .tab-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .tab-review {
    background: var(--neutral-white, #ffffff);
    border-radius: 4px 4px 0px 0px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 250px;
    height: 56px;
    position: relative;
    overflow: hidden;
  }
  .box-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
  }
  .place-details {
    color: var(--primary-500, #07689f);
    text-align: center;
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
    position: relative;
    width: 217px;
  }
  .tab-review2 {
    background: var(--neutral-100, #f9f9f9);
    border-radius: 4px 4px 0px 0px;
    padding: 16px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 250px;
    height: 56px;
    position: relative;
    overflow: hidden;
  }
  .info-prices {
    color: var(--primary-500, #07689f);
    text-align: center;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    flex: 1;
  }
  .rooms-beds {
    color: var(--primary-500, #07689f);
    text-align: center;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    flex: 1;
  }
  .place-rules {
    color: var(--primary-500, #07689f);
    text-align: center;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
    flex: 1;
  }
  .text {
    background: var(--neutral-white, #ffffff);
    border-radius: 0px 8px 8px 8px;
    padding: 40px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1224px;
    position: relative;
  }
  .text2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .this-stylish-and-roomy-family-home-is-nestled-in-stockholm-s-kista-district-just-14-km-away-from-the-royal-swedish-opera-museum-of-medieval-stockholm-and-stureplan-offering-the-convenience-of-free-private-parking-it-s-also-a-short-9-km-drive-from-friends-arena-and-14-km-from-sergels-torg-square-explore-nearby-attractions-like-the-army-museum-just-15-km-away-and-the-royal-palace-situated-15-km-from-this-charming-home-for-convenience-bromma-stockholm-airport-is-the-closest-airport-located-just-8-km-away-from-this-stylish-and-spacious-family-retreat {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    flex: 1;
    height: 208px;
  }
  .your-stay-at-our-hotel-includes-a-complimentary-breakfast-to-kickstart-your-day-and-our-rooms-offer-a-cosy-and-comfortable-retreat-select-rooms-feature-a-relaxing-bath-tub-for-added-luxury-our-dedicated-staff-is-at-your-service-ensuring-a-seamless-and-enjoyable-experience-throughout-your-stay-in-addition-to-the-inviting-accommodations-indulge-in-extra-leisure-activities-such-as-our-fitness-centre-or-pool-we-ve-thoughtfully-curated-every-aspect-to-make-your-stay-special-promising-a-combination-of-comfort-convenience-and-delightful-extras {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    flex: 1;
    height: 208px;
  }
  .amenities {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 576px;
    position: relative;
  }
  .amenities2 {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
    position: relative;
  }
  .amenities3 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .the-first-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  ._01 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .free-wifi {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 1px;
    width: 70px;
    height: 21px;
  }
  .icons-others-wifi {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._02 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .restaurant {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 1px;
    width: 89px;
    height: 21px;
  }
  .icons-foods-chopsticks-fork {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._03 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .bathroom {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 0px;
    width: 94px;
    height: 21px;
  }
  .icons-life-tub {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._04 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .air-conditioning {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 1px;
    width: 132px;
    height: 21px;
  }
  .icons-weather-heavy-wind {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .the-second-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  ._06 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .parking-available {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 1px;
    width: 150px;
    height: 21px;
  }
  .icons-hardware-car {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._07 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .fitness-center {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 1px;
    width: 115px;
    height: 22px;
  }
  .icons-sports-dumbbell {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._08 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .room-service {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 2px;
    width: 119px;
    height: 21px;
  }
  .icons-life-single-bed {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  ._09 {
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
  }
  .tea-coffee-machine {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-m-font-size, 16px);
    line-height: var(--typographydesktop-body-m-line-height, 150%);
    font-weight: var(--typographydesktop-body-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 0px;
    width: 167px;
    height: 21px;
  }
  .icons-foods-tea-drink {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 576px;
    position: relative;
  }
  .text3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  ._2-adults-3-children-4-nights-two-rooms-double-bed {
    color: var(--neutral-black, #000000);
    text-align: left;
    position: relative;
  }
  ._2-adults-3-children-4-nights-two-rooms-double-bed-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
  }
  ._2-adults-3-children-4-nights-two-rooms-double-bed-span2 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
  }
  ._2-adults-3-children-4-nights-two-rooms-double-bed-span3 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
  }
  ._2-adults-3-children-4-nights-two-rooms-double-bed-span4 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
  }
  .location {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text4 {
    flex-shrink: 0;
    width: 266px;
    height: 24px;
    position: relative;
  }
  .location-on {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .location-on2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
  }
  .l-rkv-gen-22-stockholm-sweden {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: absolute;
    left: 32px;
    top: 1px;
    width: 302px;
    height: 21px;
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .price2 {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  ._240 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  ._240-per-night {
    text-align: right;
    position: relative;
    flex: 1;
  }
  ._240-per-night-span {
    color: var(--state-colour-success, #4c9839);
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
  }
  ._240-per-night-span2 {
    color: #353535;
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
  }
  ._240-per-night-span3 {
    color: #353535;
    font-family: var(
      --typographydesktop-h5-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h5-font-size, 20px);
    line-height: var(--typographydesktop-h5-line-height, 140%);
    font-weight: var(--typographydesktop-h5-font-weight, 700);
  }
  .icon-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .icon-buttons {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .button {
    border-radius: 4px;
    border-style: solid;
    border-color: #589dc5;
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .icons-base-like {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .button2 {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 200px;
    height: 48px;
    position: relative;
    overflow: hidden;
  }
  .text5 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text6 {
    color: var(--neutral-white, #ffffff);
    text-align: right;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .travel-questions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text7 {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .the-most-frequented-questions-asked-by-travellers {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
    position: relative;
  }
  .most-frequented-questions {
    background: var(--neutral-white, #ffffff);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1224px;
    position: relative;
  }
  .auto-layout-1 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .q-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .how-and-when-do-i-pay {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icon {
    padding: 0px 24px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icons-arrows-up-small {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .a-text {
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1170px;
    position: relative;
  }
  .since-this-option-is-a-non-refundable-reservation-and-there-is-no-cancellation-opportunity-payment-is-usually-processed-at-the-time-of-booking-or-shortly-thereafter {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
    position: relative;
  }
  .auto-layout-2 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .text-22 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .is-there-anti-allergic-meal {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icons-arrows-down-small {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-3 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .text-32 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .does-the-hotel-have-a-pool {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icons-arrows-down-small2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-4 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .text-42 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .any-identification-documents-is-necessary {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icons-arrows-down-small3 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-5 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-5 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .icon-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .what-are-the-check-in-and-check-out-times {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icons-arrows-down-small4 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-6 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-6 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .text-7 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .why-was-i-charged {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icons-arrows-down-small5 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .auto-layout-7 {
    border-style: solid;
    border-color: var(--neutral-300, #d9d9d9);
    border-width: 0px 0px 2px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-8 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  .text-82 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .is-there-a-spa {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-subtitle-l-font-family,
      "Poppins-SemiBold",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-l-font-size, 16px);
    line-height: var(--typographydesktop-subtitle-l-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-l-font-weight, 600);
    position: relative;
    flex: 1;
  }
  .icons-arrows-down-small6 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .comments {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1225px;
    position: relative;
  }
  .comments2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1227px;
    position: relative;
  }
  .icons-arrows-right {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    transform: translate(-24px, 0px);
    overflow: visible;
  }
  .hotel-review-guests {
    flex-shrink: 0;
    width: 220px;
    height: 254px;
    position: relative;
  }
  .text8 {
    background: var(--neutral-white, #ffffff);
    border-radius: 8px;
    padding: 32px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 94px;
    overflow: hidden;
  }
  .sofia {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon-flag-icon-set-4-3-de {
    flex-shrink: 0;
    width: 24px;
    height: 18px;
    position: relative;
    overflow: visible;
  }
  .sofia2 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .text9 {
    align-self: stretch;
    flex: 1;
    position: relative;
  }
  .our-time-at-this-hotel-was-marked-by-contemporary-elegance-and-thoughtful-amenities-read-more {
    text-align: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 188px;
  }
  .our-time-at-this-hotel-was-marked-by-contemporary-elegance-and-thoughtful-amenities-read-more-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
  }
  .our-time-at-this-hotel-was-marked-by-contemporary-elegance-and-thoughtful-amenities-read-more-span2 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
  }
  .our-time-at-this-hotel-was-marked-by-contemporary-elegance-and-thoughtful-amenities-read-more-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-subtitle-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-xs-font-size, 10px);
    line-height: var(--typographydesktop-subtitle-xs-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-xs-font-weight, 400);
  }
  .our-time-at-this-hotel-was-marked-by-contemporary-elegance-and-thoughtful-amenities-read-more-span4 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
  }
  .photo {
    border-radius: 300px;
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 8px;
    opacity: 0.800000011920929;
    width: 120px;
    height: 117.86px;
    position: absolute;
    left: 50px;
    top: 0px;
    overflow: hidden;
    object-fit: cover;
  }
  .sebastian {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon-flag-icon-set-4-3-se {
    flex-shrink: 0;
    width: 24px;
    height: 18px;
    position: relative;
    overflow: visible;
  }
  .sebastian2 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .text10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 192px;
    height: 92px;
    position: absolute;
    left: -2px;
    top: 0px;
  }
  .the-rooms-were-great-and-the-services-were-awesome-everything-made-our-stay-super-enjoyable-read-more {
    text-align: left;
    position: relative;
    width: 192px;
    height: 109px;
  }
  .the-rooms-were-great-and-the-services-were-awesome-everything-made-our-stay-super-enjoyable-read-more-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
  }
  .the-rooms-were-great-and-the-services-were-awesome-everything-made-our-stay-super-enjoyable-read-more-span2 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
  }
  .the-rooms-were-great-and-the-services-were-awesome-everything-made-our-stay-super-enjoyable-read-more-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-subtitle-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-xs-font-size, 10px);
    line-height: var(--typographydesktop-subtitle-xs-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-xs-font-weight, 400);
  }
  .photo2 {
    border-radius: 300px;
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 8px;
    width: 120px;
    height: 117.86px;
    position: absolute;
    left: 50px;
    top: 0px;
    overflow: hidden;
    object-fit: cover;
  }
  .text11 {
    background: var(--neutral-white, #ffffff);
    border-radius: 8px;
    padding: 32px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    height: 160px;
    position: absolute;
    left: calc(50% - 110px);
    top: 94px;
    overflow: hidden;
  }
  .maria {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon-flag-icon-set-4-3-ca {
    flex-shrink: 0;
    width: 24px;
    height: 18px;
    position: relative;
    overflow: visible;
  }
  .maria2 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .text12 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 192px;
    height: 99px;
    position: absolute;
    left: -2px;
    top: 0px;
  }
  .the-hotel-exceeded-expectations-with-comfortable-rooms-excellent-services-making-our-stay-truly-enjoyable-read-more {
    text-align: left;
    position: relative;
    width: 192px;
    height: 117px;
  }
  .the-hotel-exceeded-expectations-with-comfortable-rooms-excellent-services-making-our-stay-truly-enjoyable-read-more-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
  }
  .the-hotel-exceeded-expectations-with-comfortable-rooms-excellent-services-making-our-stay-truly-enjoyable-read-more-span2 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
  }
  .the-hotel-exceeded-expectations-with-comfortable-rooms-excellent-services-making-our-stay-truly-enjoyable-read-more-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-subtitle-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-xs-font-size, 10px);
    line-height: var(--typographydesktop-subtitle-xs-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-xs-font-weight, 400);
  }
  .photo3 {
    border-radius: 300px;
    border-style: solid;
    border-color: var(--neutral-100, #f9f9f9);
    border-width: 8px;
    width: 120px;
    height: 117.86px;
    position: absolute;
    left: calc(50% - 60px);
    top: 0px;
    overflow: hidden;
    object-fit: cover;
  }
  .lena {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon-flag-icon-set-4-3-us {
    flex-shrink: 0;
    width: 24px;
    height: 18px;
    position: relative;
    overflow: hidden;
  }
  .group {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .lena2 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .the-hotel-was-really-nice-especially-because-of-the-fancy-pool-and-tasty-breakfast-it-made-our-stay-feel-special-read-more {
    text-align: left;
    position: relative;
    width: 192px;
    height: 117px;
  }
  .the-hotel-was-really-nice-especially-because-of-the-fancy-pool-and-tasty-breakfast-it-made-our-stay-feel-special-read-more-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
  }
  .the-hotel-was-really-nice-especially-because-of-the-fancy-pool-and-tasty-breakfast-it-made-our-stay-feel-special-read-more-span2 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-body-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-s-font-size, 14px);
    line-height: var(--typographydesktop-body-s-line-height, 150%);
    font-weight: var(--typographydesktop-body-s-font-weight, 400);
  }
  .the-hotel-was-really-nice-especially-because-of-the-fancy-pool-and-tasty-breakfast-it-made-our-stay-feel-special-read-more-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-subtitle-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-xs-font-size, 10px);
    line-height: var(--typographydesktop-subtitle-xs-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-xs-font-weight, 400);
  }
  .martin {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon-flag-icon-set-4-3-nl {
    flex-shrink: 0;
    width: 24px;
    height: 18px;
    position: relative;
    overflow: visible;
  }
  .martin2 {
    color: #000000;
    text-align: left;
    font-family: var(
      --typographydesktop-button-xl-font-family,
      "Poppins-Medium",
      sans-serif
    );
    font-size: var(--typographydesktop-button-xl-font-size, 16px);
    line-height: var(--typographydesktop-button-xl-line-height, 140%);
    font-weight: var(--typographydesktop-button-xl-font-weight, 500);
    position: relative;
  }
  .for-those-seeking-a-blend-of-luxury-and-technology-this-hotel-is-a-dream-come-true-read-more {
    text-align: left;
    position: absolute;
    left: -2px;
    top: 0px;
    width: 192px;
  }
  .for-those-seeking-a-blend-of-luxury-and-technology-this-hotel-is-a-dream-come-true-read-more-span {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-s-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-s-font-size, 12px);
    line-height: var(--typographydesktop-subtitle-s-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-s-font-weight, 400);
  }
  .for-those-seeking-a-blend-of-luxury-and-technology-this-hotel-is-a-dream-come-true-read-more-span2 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-body-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-xs-font-size, 12px);
    line-height: var(--typographydesktop-body-xs-line-height, 150%);
    font-weight: var(--typographydesktop-body-xs-font-weight, 400);
  }
  .for-those-seeking-a-blend-of-luxury-and-technology-this-hotel-is-a-dream-come-true-read-more-span3 {
    color: var(--primary-500, #07689f);
    font-family: var(
      --typographydesktop-subtitle-xs-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-xs-font-size, 10px);
    line-height: var(--typographydesktop-subtitle-xs-line-height, 140%);
    font-weight: var(--typographydesktop-subtitle-xs-font-weight, 400);
  }
  .for-those-seeking-a-blend-of-luxury-and-technology-this-hotel-is-a-dream-come-true-read-more-span4 {
    color: var(--neutral-black, #000000);
    font-family: var(
      --typographydesktop-subtitle-m-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-subtitle-m-font-size, 14px);
    line-height: var(--typographydesktop-subtitle-m-line-height, 150%);
    font-weight: var(--typographydesktop-subtitle-m-font-weight, 400);
  }
  .icon3 {
    border-radius: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
  }
  .icons-arrows-right2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
  }
  .auto-layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .review-rates {
    color: var(--neutral-black, #000000);
    text-align: left;
    font-family: var(
      --typographydesktop-h4-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h4-font-size, 24px);
    line-height: var(--typographydesktop-h4-line-height, 140%);
    font-weight: var(--typographydesktop-h4-font-weight, 700);
    position: relative;
    width: 208px;
    height: 26px;
  }
  .auto-layout-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1224px;
    position: relative;
  }
  ._012 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text13 {
    display: flex;
    flex-direction: row;
    gap: 47px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .staff-politeness {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-l-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-l-font-size, 18px);
    line-height: var(--typographydesktop-body-l-line-height, 140%);
    font-weight: var(--typographydesktop-body-l-font-weight, 400);
    position: relative;
  }
  ._8-6 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .line {
    background: var(--neutral-400, #a6a6a6);
    border-radius: 10px;
    padding: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 208px;
    position: relative;
  }
  .rectangle-253 {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    align-self: stretch;
    flex-shrink: 0;
    height: 5px;
    position: relative;
  }
  ._022 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text14 {
    display: flex;
    flex-direction: row;
    gap: 99px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .vip-options {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-l-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-l-font-size, 18px);
    line-height: var(--typographydesktop-body-l-line-height, 140%);
    font-weight: var(--typographydesktop-body-l-font-weight, 400);
    position: relative;
  }
  ._8 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .line2 {
    background: var(--neutral-400, #a6a6a6);
    border-radius: 10px;
    padding: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 208px;
    position: relative;
  }
  .rectangle-2532 {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    flex-shrink: 0;
    width: 174.39px;
    height: 5px;
    position: relative;
  }
  ._032 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text15 {
    display: flex;
    flex-direction: row;
    gap: 29px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .free-wi-fi-speed {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-l-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-l-font-size, 18px);
    line-height: var(--typographydesktop-body-l-line-height, 140%);
    font-weight: var(--typographydesktop-body-l-font-weight, 400);
    position: relative;
  }
  ._7-5 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .rectangle-2533 {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    flex-shrink: 0;
    width: 137px;
    height: 5px;
    position: relative;
  }
  ._042 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text16 {
    display: flex;
    flex-direction: row;
    gap: 93px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .cleanliness {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-l-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-l-font-size, 18px);
    line-height: var(--typographydesktop-body-l-line-height, 140%);
    font-weight: var(--typographydesktop-body-l-font-weight, 400);
    position: relative;
  }
  ._6 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .rectangle-2534 {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    flex-shrink: 0;
    width: 110px;
    height: 5px;
    position: relative;
  }
  ._05 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text17 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .access-to-city-center {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-body-l-font-family,
      "Poppins-Regular",
      sans-serif
    );
    font-size: var(--typographydesktop-body-l-font-size, 18px);
    line-height: var(--typographydesktop-body-l-line-height, 140%);
    font-weight: var(--typographydesktop-body-l-font-weight, 400);
    position: relative;
  }
  ._9 {
    color: var(--neutral-500, #565656);
    text-align: left;
    font-family: var(
      --typographydesktop-h6-font-family,
      "Poppins-Bold",
      sans-serif
    );
    font-size: var(--typographydesktop-h6-font-size, 16px);
    line-height: var(--typographydesktop-h6-line-height, 140%);
    font-weight: var(--typographydesktop-h6-font-weight, 700);
    position: relative;
  }
  .rectangle-2535 {
    background: var(--primary-500, #07689f);
    border-radius: 4px;
    flex-shrink: 0;
    width: 199.09px;
    height: 5px;
    position: relative;
  }
  