/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-400: #2f83b2;
  --primary-500: #07689f;
  --primary-600: #043e5f;
  --neutral-white: #ffffff;
  --neutral-100: #f9f9f9;
  --neutral-200: #efefef;
  --neutral-300: #d9d9d9;
  --neutral-400: #a6a6a6;
  --neutral-500: #565656;
  --neutral-black: #000000;
  --state-colour-error-light: #e5062e;
  --state-colour-error-dark: #a80102;
  --state-colour-alert: #ffcc00;
  --state-colour-accent: #ff6c01;
  --state-colour-success: #4c9839;
  --state-colour-success-light: #e8f5e4;

  /* Fonts */
  --typography-desktop-display-1-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-display-1-font-size: 64px;
  --typography-desktop-display-1-line-height: 140%;
  --typography-desktop-display-1-font-weight: 700;
  --typography-desktop-display-1-font-style: normal;
  --typography-desktop-display-2-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-display-2-font-size: 54px;
  --typography-desktop-display-2-line-height: 140%;
  --typography-desktop-display-2-font-weight: 700;
  --typography-desktop-display-2-font-style: normal;
  --typography-desktop-h-1-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-h-1-font-size: 44px;
  --typography-desktop-h-1-line-height: 140%;
  --typography-desktop-h-1-font-weight: 700;
  --typography-desktop-h-1-font-style: normal;
  --typography-desktop-h-2-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-h-2-font-size: 40px;
  --typography-desktop-h-2-line-height: 140%;
  --typography-desktop-h-2-font-weight: 700;
  --typography-desktop-h-2-font-style: normal;
  --typography-desktop-h-3-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-h-3-font-size: 32px;
  --typography-desktop-h-3-line-height: 140%;
  --typography-desktop-h-3-font-weight: 700;
  --typography-desktop-h-3-font-style: normal;
  --typography-desktop-h-4-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-h-4-font-size: 24px;
  --typography-desktop-h-4-line-height: 140%;
  --typography-desktop-h-4-font-weight: 700;
  --typography-desktop-h-4-font-style: normal;
  --typography-desktop-h-5-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-h-5-font-size: 20px;
  --typography-desktop-h-5-line-height: 140%;
  --typography-desktop-h-5-font-weight: 700;
  --typography-desktop-h-5-font-style: normal;
  --typography-desktop-h-6-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-h-6-font-size: 16px;
  --typography-desktop-h-6-line-height: 140%;
  --typography-desktop-h-6-font-weight: 700;
  --typography-desktop-h-6-font-style: normal;
  --typography-desktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
  --typography-desktop-subtitle-l-font-size: 16px;
  --typography-desktop-subtitle-l-line-height: 150%;
  --typography-desktop-subtitle-l-font-weight: 600;
  --typography-desktop-subtitle-l-font-style: normal;
  --typography-desktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-subtitle-m-font-size: 14px;
  --typography-desktop-subtitle-m-line-height: 150%;
  --typography-desktop-subtitle-m-font-weight: 400;
  --typography-desktop-subtitle-m-font-style: normal;
  --typography-desktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-subtitle-s-font-size: 12px;
  --typography-desktop-subtitle-s-line-height: 140%;
  --typography-desktop-subtitle-s-font-weight: 400;
  --typography-desktop-subtitle-s-font-style: normal;
  --typography-desktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-subtitle-xs-font-size: 10px;
  --typography-desktop-subtitle-xs-line-height: 140%;
  --typography-desktop-subtitle-xs-font-weight: 400;
  --typography-desktop-subtitle-xs-font-style: normal;
  --typography-desktop-body-xl-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-body-xl-font-size: 20px;
  --typography-desktop-body-xl-line-height: 140%;
  --typography-desktop-body-xl-font-weight: 400;
  --typography-desktop-body-xl-font-style: normal;
  --typography-desktop-body-l-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-body-l-font-size: 18px;
  --typography-desktop-body-l-line-height: 140%;
  --typography-desktop-body-l-font-weight: 400;
  --typography-desktop-body-l-font-style: normal;
  --typography-desktop-body-m-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-body-m-font-size: 16px;
  --typography-desktop-body-m-line-height: 150%;
  --typography-desktop-body-m-font-weight: 400;
  --typography-desktop-body-m-font-style: normal;
  --typography-desktop-body-s-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-body-s-font-size: 14px;
  --typography-desktop-body-s-line-height: 150%;
  --typography-desktop-body-s-font-weight: 400;
  --typography-desktop-body-s-font-style: normal;
  --typography-desktop-body-xs-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-body-xs-font-size: 12px;
  --typography-desktop-body-xs-line-height: 150%;
  --typography-desktop-body-xs-font-weight: 400;
  --typography-desktop-body-xs-font-style: normal;
  --typography-desktop-body-xxs-font-family: Poppins-Light, sans-serif;
  --typography-desktop-body-xxs-font-size: 10px;
  --typography-desktop-body-xxs-line-height: 140%;
  --typography-desktop-body-xxs-font-weight: 300;
  --typography-desktop-body-xxs-font-style: normal;
  --typography-desktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
  --typography-desktop-caption-l-font-size: 14px;
  --typography-desktop-caption-l-line-height: 140%;
  --typography-desktop-caption-l-font-weight: 800;
  --typography-desktop-caption-l-font-style: normal;
  --typography-desktop-caption-m-font-family: Poppins-Regular, sans-serif;
  --typography-desktop-caption-m-font-size: 14px;
  --typography-desktop-caption-m-line-height: 140%;
  --typography-desktop-caption-m-font-weight: 400;
  --typography-desktop-caption-m-font-style: normal;
  --typography-desktop-caption-s-font-family: Poppins-Medium, sans-serif;
  --typography-desktop-caption-s-font-size: 12px;
  --typography-desktop-caption-s-line-height: 140%;
  --typography-desktop-caption-s-font-weight: 500;
  --typography-desktop-caption-s-font-style: normal;
  --typography-desktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
  --typography-desktop-lable-xs-font-size: 10px;
  --typography-desktop-lable-xs-line-height: 140%;
  --typography-desktop-lable-xs-font-weight: 600;
  --typography-desktop-lable-xs-font-style: normal;
  --typography-desktop-label-s-font-family: Poppins-SemiBold, sans-serif;
  --typography-desktop-label-s-font-size: 12px;
  --typography-desktop-label-s-line-height: 140%;
  --typography-desktop-label-s-font-weight: 600;
  --typography-desktop-label-s-font-style: normal;
  --typography-desktop-lable-m-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-lable-m-font-size: 14px;
  --typography-desktop-lable-m-line-height: 140%;
  --typography-desktop-lable-m-font-weight: 700;
  --typography-desktop-lable-m-font-style: normal;
  --typography-desktop-button-xxl-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-button-xxl-font-size: 16px;
  --typography-desktop-button-xxl-line-height: 140%;
  --typography-desktop-button-xxl-font-weight: 700;
  --typography-desktop-button-xxl-font-style: normal;
  --typography-desktop-button-xl-font-family: Poppins-Medium, sans-serif;
  --typography-desktop-button-xl-font-size: 16px;
  --typography-desktop-button-xl-line-height: 140%;
  --typography-desktop-button-xl-font-weight: 500;
  --typography-desktop-button-xl-font-style: normal;
  --typography-desktop-button-l-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-button-l-font-size: 14px;
  --typography-desktop-button-l-line-height: 140%;
  --typography-desktop-button-l-font-weight: 700;
  --typography-desktop-button-l-font-style: normal;
  --typography-desktop-button-m-font-family: Poppins-Medium, sans-serif;
  --typography-desktop-button-m-font-size: 14px;
  --typography-desktop-button-m-line-height: 140%;
  --typography-desktop-button-m-font-weight: 500;
  --typography-desktop-button-m-font-style: normal;
  --typography-desktop-button-s-font-family: Poppins-Bold, sans-serif;
  --typography-desktop-button-s-font-size: 10px;
  --typography-desktop-button-s-line-height: 140%;
  --typography-desktop-button-s-font-weight: 700;
  --typography-desktop-button-s-font-style: normal;
  --typography-desktop-button-xs-font-family: Poppins-Medium, sans-serif;
  --typography-desktop-button-xs-font-size: 10px;
  --typography-desktop-button-xs-line-height: 140%;
  --typography-desktop-button-xs-font-weight: 500;
  --typography-desktop-button-xs-font-style: normal;

  /* Effects */
}



.cover,
.cover * {
  box-sizing: border-box;
}
.cover {
  background: #07689f;
  height: 960px;
  position: relative;
  overflow: hidden;
}
.ellipse-14 {
  background: radial-gradient(
    closest-side,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2.32px;
  opacity: 0.10999999940395355;
  width: 348px;
  height: 348px;
  position: absolute;
  left: 152px;
  top: 33px;
}
.ellipse-15 {
  background: radial-gradient(
    closest-side,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2.32px;
  opacity: 0.10999999940395355;
  width: 580px;
  height: 580px;
  position: absolute;
  left: 36px;
  top: -83px;
}
.ellipse-16 {
  background: radial-gradient(
    closest-side,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2.32px;
  opacity: 0.10999999940395355;
  width: 812px;
  height: 812px;
  position: absolute;
  left: -80px;
  top: -199px;
}
.ellipse-17 {
  background: radial-gradient(
    closest-side,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2.32px;
  opacity: 0.15000000596046448;
  width: 1044px;
  height: 1044px;
  position: absolute;
  left: -196px;
  top: -315px;
}
.ellipse-18 {
  background: radial-gradient(
    closest-side,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3.04px;
  opacity: 0.05000000074505806;
  width: 1370px;
  height: 1370px;
  position: absolute;
  left: -359px;
  top: -478px;
}
.vector {
  width: 723px;
  height: 1052px;
  position: absolute;
  left: 1246px;
  top: 332px;
  overflow: visible;
}
.vector2 {
  width: 690px;
  height: 1031px;
  position: absolute;
  left: 448.87px;
  top: 316px;
  transform: translate(-448.87px, 192.24px);
  overflow: visible;
}
.ellipse-13 {
  background: #000000;
  border-radius: 50%;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 465px;
  top: 751px;
  filter: blur(202.45px);
}
.ellipse-11 {
  background: #ffffff;
  border-radius: 50%;
  width: 277px;
  height: 277px;
  position: absolute;
  left: -112px;
  top: -153px;
  filter: blur(128.45px);
}
.ellipse-12 {
  background: #ffffff;
  border-radius: 50%;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 1668px;
  top: -73px;
  filter: blur(202.45px);
}
.image-2 {
  border-radius: 16px;
  width: 646.33px;
  height: 1310.73px;
  position: absolute;
  left: 1236.94px;
  top: 394px;
  box-shadow: 0px 116px 54.2px 50px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(23.165deg) scale(1.074, 0.92);
  object-fit: cover;
}
.easy-set-24 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 71.2727279663086px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 402.82px;
  top: 191px;
  width: 463.27px;
}
.image-3 {
  border-radius: 16px;
  width: 620.51px;
  height: 735.83px;
  position: absolute;
  left: 1169.89px;
  top: 253.7px;
  box-shadow: 0px 116px 54.2px 50px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(23.165deg) scale(1.074, 0.92);
  object-fit: cover;
}
.image-5 {
  border-radius: 16px;
  width: 700.55px;
  height: 1383.89px;
  position: absolute;
  left: 1041.86px;
  top: 116px;
  box-shadow: 0px 116px 54.2px 50px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(23.165deg) scale(1.074, 0.92);
  object-fit: cover;
}
.vector3 {
  width: 204.91px;
  height: 196px;
  position: absolute;
  left: 224px;
  top: 124px;
  overflow: visible;
}
.frame-1171276741 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 224px;
  top: 346px;
}
.frame-1171276737 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276735 {
  background: #e6f6ff;
  border-radius: 56px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-character-check-small {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._40-components-responsive-cards {
  color: #e6f6ff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 27px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-1171276738 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-character-check-small2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.fully-auto-layout-details {
  color: #e6f6ff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 27px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-1171276739 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-character-check-small3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.flight-hotel-reservation-flows {
  color: #e6f6ff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 27px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-1171276740 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icons-character-check-small4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.style-guide-icon-modification {
  color: #e6f6ff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 27px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-1 {
  background: #05405c;
  border-radius: 19.94px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 14.95px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 224px;
  top: 559px;
}
.group-16 {
  flex-shrink: 0;
  width: 24.96px;
  height: 37.44px;
  position: relative;
  overflow: visible;
}
._30-screens {
  color: var(--white, #ffffff);
  text-align: right;
  font-family: "Shabnam-Regular", sans-serif;
  font-size: 29.90472412109375px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 166px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame-1171276743 {
  background: #f2b203;
  border-radius: 10.2px;
  padding: 6.14px 12.28px 6.14px 12.28px;
  display: flex;
  flex-direction: row;
  gap: 7.65px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 403px;
  top: 274.53px;
}
.group-17 {
  flex-shrink: 0;
  width: 8.19px;
  height: 8.19px;
  position: static;
}
.ellipse-19 {
  background: #000000;
  border-radius: 50%;
  border-style: solid;
  border-color: #c79305;
  border-width: 4.09px;
  width: 8.19px;
  height: 8.19px;
  position: absolute;
  left: 12.28px;
  top: 12.08px;
}
.ellipse-20 {
  background: #f2b203;
  border-radius: 50%;
  width: 4.09px;
  height: 4.09px;
  position: absolute;
  left: 14.33px;
  top: 14.12px;
}
.free-project {
  color: #1a1a1a;
  text-align: right;
  font-family: "Shabnam-Regular", sans-serif;
  font-size: 15.301636695861816px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 82.6px;
  height: 20.06px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame-1171276742 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 224px;
  top: 670px;
}
.image {
  background: linear-gradient(to left, #654738, #654738);
  border-radius: 114.15px;
  flex-shrink: 0;
  width: 85.61px;
  height: 85.04px;
  position: relative;
  object-fit: cover;
}
.image2 {
  margin: 0 0 0 -23px;
  background: linear-gradient(to left, #a9a9a9, #a9a9a9);
  border-radius: 171.22px;
  flex-shrink: 0;
  width: 85.04px;
  height: 85.04px;
  position: relative;
  object-fit: cover;
}
.image3 {
  margin: 0 0 0 -23px;
  background: linear-gradient(to left, #5d1818, #5d1818);
  border-radius: 171.22px;
  flex-shrink: 0;
  width: 84.65px;
  height: 85.61px;
  position: relative;
  object-fit: cover;
}
.image4 {
  margin: 0 0 0 -23px;
  background: linear-gradient(to left, #d7d7d7, #d7d7d7);
  border-radius: 171.22px;
  flex-shrink: 0;
  width: 85.61px;
  height: 85.61px;
  position: relative;
  object-fit: cover;
}
.image5 {
  margin: 0 0 0 -23px;
  background: linear-gradient(to left, #1d1556, #1d1556);
  border-radius: 228.3px;
  flex-shrink: 0;
  width: 85.61px;
  height: 85.61px;
  position: relative;
  object-fit: cover;
}
.image6 {
  margin: 0 0 0 -23px;
  border-radius: 228.3px;
  flex-shrink: 0;
  width: 85.61px;
  height: 85.61px;
  position: relative;
  object-fit: cover;
}
.image-6 {
  width: 535.48px;
  height: 158.48px;
  position: absolute;
  left: 928.87px;
  top: 682px;
  box-shadow: 0px 11px 20.7px 1px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(23.45deg) scale(1.076, 0.917);
  object-fit: cover;
}
