/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-400: #2f83b2;
    --primary-500: #07689f;
    --primary-600: #043e5f;
    --neutral-white: #ffffff;
    --neutral-100: #f9f9f9;
    --neutral-200: #efefef;
    --neutral-300: #d9d9d9;
    --neutral-400: #a6a6a6;
    --neutral-500: #565656;
    --neutral-black: #000000;
    --state-colour-error-light: #e5062e;
    --state-colour-error-dark: #a80102;
    --state-colour-alert: #ffcc00;
    --state-colour-accent: #ff6c01;
    --state-colour-success: #4c9839;
    --state-colour-success-light: #e8f5e4;
  
    /* Fonts */
    --typography-desktop-display-1-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-display-1-font-size: 64px;
    --typography-desktop-display-1-line-height: 140%;
    --typography-desktop-display-1-font-weight: 700;
    --typography-desktop-display-1-font-style: normal;
    --typography-desktop-display-2-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-display-2-font-size: 54px;
    --typography-desktop-display-2-line-height: 140%;
    --typography-desktop-display-2-font-weight: 700;
    --typography-desktop-display-2-font-style: normal;
    --typography-desktop-h-1-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-1-font-size: 44px;
    --typography-desktop-h-1-line-height: 140%;
    --typography-desktop-h-1-font-weight: 700;
    --typography-desktop-h-1-font-style: normal;
    --typography-desktop-h-2-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-2-font-size: 40px;
    --typography-desktop-h-2-line-height: 140%;
    --typography-desktop-h-2-font-weight: 700;
    --typography-desktop-h-2-font-style: normal;
    --typography-desktop-h-3-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-3-font-size: 32px;
    --typography-desktop-h-3-line-height: 140%;
    --typography-desktop-h-3-font-weight: 700;
    --typography-desktop-h-3-font-style: normal;
    --typography-desktop-h-4-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-4-font-size: 24px;
    --typography-desktop-h-4-line-height: 140%;
    --typography-desktop-h-4-font-weight: 700;
    --typography-desktop-h-4-font-style: normal;
    --typography-desktop-h-5-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-5-font-size: 20px;
    --typography-desktop-h-5-line-height: 140%;
    --typography-desktop-h-5-font-weight: 700;
    --typography-desktop-h-5-font-style: normal;
    --typography-desktop-h-6-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-h-6-font-size: 16px;
    --typography-desktop-h-6-line-height: 140%;
    --typography-desktop-h-6-font-weight: 700;
    --typography-desktop-h-6-font-style: normal;
    --typography-desktop-subtitle-l-font-family: Poppins-SemiBold, sans-serif;
    --typography-desktop-subtitle-l-font-size: 16px;
    --typography-desktop-subtitle-l-line-height: 150%;
    --typography-desktop-subtitle-l-font-weight: 600;
    --typography-desktop-subtitle-l-font-style: normal;
    --typography-desktop-subtitle-m-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-subtitle-m-font-size: 14px;
    --typography-desktop-subtitle-m-line-height: 150%;
    --typography-desktop-subtitle-m-font-weight: 400;
    --typography-desktop-subtitle-m-font-style: normal;
    --typography-desktop-subtitle-s-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-subtitle-s-font-size: 12px;
    --typography-desktop-subtitle-s-line-height: 140%;
    --typography-desktop-subtitle-s-font-weight: 400;
    --typography-desktop-subtitle-s-font-style: normal;
    --typography-desktop-subtitle-xs-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-subtitle-xs-font-size: 10px;
    --typography-desktop-subtitle-xs-line-height: 140%;
    --typography-desktop-subtitle-xs-font-weight: 400;
    --typography-desktop-subtitle-xs-font-style: normal;
    --typography-desktop-body-xl-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-xl-font-size: 20px;
    --typography-desktop-body-xl-line-height: 140%;
    --typography-desktop-body-xl-font-weight: 400;
    --typography-desktop-body-xl-font-style: normal;
    --typography-desktop-body-l-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-l-font-size: 18px;
    --typography-desktop-body-l-line-height: 140%;
    --typography-desktop-body-l-font-weight: 400;
    --typography-desktop-body-l-font-style: normal;
    --typography-desktop-body-m-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-m-font-size: 16px;
    --typography-desktop-body-m-line-height: 150%;
    --typography-desktop-body-m-font-weight: 400;
    --typography-desktop-body-m-font-style: normal;
    --typography-desktop-body-s-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-s-font-size: 14px;
    --typography-desktop-body-s-line-height: 150%;
    --typography-desktop-body-s-font-weight: 400;
    --typography-desktop-body-s-font-style: normal;
    --typography-desktop-body-xs-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-body-xs-font-size: 12px;
    --typography-desktop-body-xs-line-height: 150%;
    --typography-desktop-body-xs-font-weight: 400;
    --typography-desktop-body-xs-font-style: normal;
    --typography-desktop-body-xxs-font-family: Poppins-Light, sans-serif;
    --typography-desktop-body-xxs-font-size: 10px;
    --typography-desktop-body-xxs-line-height: 140%;
    --typography-desktop-body-xxs-font-weight: 300;
    --typography-desktop-body-xxs-font-style: normal;
    --typography-desktop-caption-l-font-family: Poppins-ExtraBold, sans-serif;
    --typography-desktop-caption-l-font-size: 14px;
    --typography-desktop-caption-l-line-height: 140%;
    --typography-desktop-caption-l-font-weight: 800;
    --typography-desktop-caption-l-font-style: normal;
    --typography-desktop-caption-m-font-family: Poppins-Regular, sans-serif;
    --typography-desktop-caption-m-font-size: 14px;
    --typography-desktop-caption-m-line-height: 140%;
    --typography-desktop-caption-m-font-weight: 400;
    --typography-desktop-caption-m-font-style: normal;
    --typography-desktop-caption-s-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-caption-s-font-size: 12px;
    --typography-desktop-caption-s-line-height: 140%;
    --typography-desktop-caption-s-font-weight: 500;
    --typography-desktop-caption-s-font-style: normal;
    --typography-desktop-lable-xs-font-family: Poppins-SemiBold, sans-serif;
    --typography-desktop-lable-xs-font-size: 10px;
    --typography-desktop-lable-xs-line-height: 140%;
    --typography-desktop-lable-xs-font-weight: 600;
    --typography-desktop-lable-xs-font-style: normal;
    --typography-desktop-label-s-font-family: Poppins-SemiBold, sans-serif;
    --typography-desktop-label-s-font-size: 12px;
    --typography-desktop-label-s-line-height: 140%;
    --typography-desktop-label-s-font-weight: 600;
    --typography-desktop-label-s-font-style: normal;
    --typography-desktop-lable-m-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-lable-m-font-size: 14px;
    --typography-desktop-lable-m-line-height: 140%;
    --typography-desktop-lable-m-font-weight: 700;
    --typography-desktop-lable-m-font-style: normal;
    --typography-desktop-button-xxl-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-button-xxl-font-size: 16px;
    --typography-desktop-button-xxl-line-height: 140%;
    --typography-desktop-button-xxl-font-weight: 700;
    --typography-desktop-button-xxl-font-style: normal;
    --typography-desktop-button-xl-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-button-xl-font-size: 16px;
    --typography-desktop-button-xl-line-height: 140%;
    --typography-desktop-button-xl-font-weight: 500;
    --typography-desktop-button-xl-font-style: normal;
    --typography-desktop-button-l-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-button-l-font-size: 14px;
    --typography-desktop-button-l-line-height: 140%;
    --typography-desktop-button-l-font-weight: 700;
    --typography-desktop-button-l-font-style: normal;
    --typography-desktop-button-m-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-button-m-font-size: 14px;
    --typography-desktop-button-m-line-height: 140%;
    --typography-desktop-button-m-font-weight: 500;
    --typography-desktop-button-m-font-style: normal;
    --typography-desktop-button-s-font-family: Poppins-Bold, sans-serif;
    --typography-desktop-button-s-font-size: 10px;
    --typography-desktop-button-s-line-height: 140%;
    --typography-desktop-button-s-font-weight: 700;
    --typography-desktop-button-s-font-style: normal;
    --typography-desktop-button-xs-font-family: Poppins-Medium, sans-serif;
    --typography-desktop-button-xs-font-size: 10px;
    --typography-desktop-button-xs-line-height: 140%;
    --typography-desktop-button-xs-font-weight: 500;
    --typography-desktop-button-xs-font-style: normal;
  
    /* Effects */
  }
  a{
    text-decoration:none ;
  }

.register,
.register * {
  box-sizing: border-box;
}
.register {
  background: var(--neutral-100, #f9f9f9);
  height: 1015px;
  position: relative;
  overflow: hidden;
}
.register2 {
  background: var(--neutral-200, #efefef);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--neutral-400, #a6a6a6);
  border-width: 1px;
  width: 1064px;
  height: 713px;
  position: absolute;
  left: calc(50% - 532px);
  top: calc(50% - 299.5px);
  overflow: hidden;
}
.input-42 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  width: 387px;
  height: 48px;
  position: absolute;
  left: 569px;
  top: 204px;
}
.frame-427320846 {
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.information {
  color: var(--neutral-500, #565656);
  text-align: left;
  font-family: var(
    --typography-desktop-button-xs-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typography-desktop-button-xs-font-size, 10px);
  line-height: var(--typography-desktop-button-xs-line-height, 140%);
  font-weight: var(--typography-desktop-button-xs-font-weight, 500);
  position: relative;
}
.travel-photo {
  border-radius: 8px;
  width: 416px;
  height: 609px;
  position: absolute;
  left: 52px;
  top: calc(50% - 304.5px);
  object-fit: cover;
}
.input-register {
  width: 393px;
  height: 615px;
  position: absolute;
  left: 569px;
  top: calc(50% - 307.5px);
}
.auto-layout-register {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.auto-layout-registera {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.register3 {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typography-desktop-h-5-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typography-desktop-h-5-font-size, 20px);
  line-height: var(--typography-desktop-h-5-line-height, 140%);
  font-weight: var(--typography-desktop-h-5-font-weight, 700);
  position: relative;
  width: 118px;
}
.auto-layout-register-2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cader {
  flex-shrink: 0;
  width: 170px;
  height: 77px;
  position: relative;
}
.text-first-name {
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.first-name {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.input {
  background: var(--neutral-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-400, #a6a6a6);
  border-width: 0.5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 29px;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.easyset-24 {
  color: var(--neutral-400, #a6a6a6);
  text-align: left;
  font-family: var(
    --typography-desktop-body-xs-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-body-xs-font-size, 12px);
  line-height: var(--typography-desktop-body-xs-line-height, 150%);
  font-weight: var(--typography-desktop-body-xs-font-weight, 400);
  position: relative;
}
.text-last-name {
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.last-name {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.input-2 {
  background: var(--neutral-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-400, #a6a6a6);
  border-width: 0.5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 29px;
}
.cader2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input-32 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  padding: 4px 8px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typography-desktop-body-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-body-s-font-size, 14px);
  line-height: var(--typography-desktop-body-s-line-height, 150%);
  font-weight: var(--typography-desktop-body-s-font-weight, 400);
  position: relative;
}
.input2 {
  background: var(--neutral-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-400, #a6a6a6);
  border-width: 0.5px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 392px;
  height: 48px;
  position: relative;
}
.text3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.enter-yout-email {
  color: var(--neutral-400, #a6a6a6);
  text-align: left;
  font-family: var(
    --typography-desktop-body-xs-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-body-xs-font-size, 12px);
  line-height: var(--typography-desktop-body-xs-line-height, 150%);
  font-weight: var(--typography-desktop-body-xs-font-weight, 400);
  position: relative;
}
.input-43 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.enter-yout-email2 {
  color: var(--neutral-400, #a6a6a6);
  text-align: left;
  font-family: var(
    --typography-desktop-body-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-body-s-font-size, 14px);
  line-height: var(--typography-desktop-body-s-line-height, 150%);
  font-weight: var(--typography-desktop-body-s-font-weight, 400);
  position: relative;
}
.icons-base-preview-close-one {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.input-44 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text-password {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icons-base-preview-close-one2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.chech-mark-final {
  background: var(--neutral-white, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--neutral-300, #d9d9d9);
  border-width: 1px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.i-agree-to-all-the-terms-and-privacy-policies {
  color: var(--neutral-black, #000000);
  text-align: left;
  font-family: var(
    --typography-desktop-subtitle-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-subtitle-s-font-size, 12px);
  line-height: var(--typography-desktop-subtitle-s-line-height, 140%);
  font-weight: var(--typography-desktop-subtitle-s-font-weight, 400);
  position: relative;
}
.auto-layout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: var(--primary-500, #07689f);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 392px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text5 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text6 {
  color: var(--neutral-white, #ffffff);
  text-align: right;
  font-family: var(
    --typography-desktop-button-xl-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--typography-desktop-button-xl-font-size, 16px);
  line-height: var(--typography-desktop-button-xl-line-height, 140%);
  font-weight: var(--typography-desktop-button-xl-font-weight, 500);
  position: relative;
}
.already-have-an-account-login {
  color: var(--neutral-black, #000000);
  text-align: center;
  font-family: var(
    --typography-desktop-subtitle-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-subtitle-s-font-size, 12px);
  line-height: var(--typography-desktop-subtitle-s-line-height, 140%);
  font-weight: var(--typography-desktop-subtitle-s-font-weight, 400);
  position: relative;
  width: 223px;
}
.or {
  flex-shrink: 0;
  width: 392px;
  height: 22px;
  position: relative;
}
.or2 {
  color: var(--neutral-black, #000000);
  text-align: center;
  font-family: var(
    --typography-desktop-body-s-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--typography-desktop-body-s-font-size, 14px);
  line-height: var(--typography-desktop-body-s-line-height, 150%);
  font-weight: var(--typography-desktop-body-s-font-weight, 400);
  position: absolute;
  left: calc(50% - 15.28px);
  top: calc(50% - 11px);
  width: 29.55px;
  height: 21.96px;
}
.social-media-button {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-buttons {
  background: var(--neutral-white, #ffffff);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.button2 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-300, #d9d9d9);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.facebook {
  border-radius: 50px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.apple {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button3 {
  background: var(--neutral-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--neutral-300, #d9d9d9);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.google {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 2%;
  left: 0%;
  width: 98%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.login-header-final {
  background: var(--neutral-100, #f9f9f9);
  border-style: solid;
  border-color: var(--neutral-400, #a6a6a6);
  border-width: 0px 0px 1px 0px;
  width: 1440px;
  height: 108px;
  position: absolute;
  left: calc(50% - 720px);
  top: 0px;
  overflow: hidden;
}
.header-login {
  display: flex;
  flex-direction: row;
  gap: 1038px;
  align-items: center;
  justify-content: flex-start;
  width: 1224px;
  position: absolute;
  left: 108px;
  top: calc(50% - 33px);
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.vector9 {
  flex-shrink: 0;
  width: 46px;
  height: 44px;
  position: relative;
  overflow: visible;
}
.easy-set-24 {
  color: var(--primary-500, #07689f);
  text-align: left;
  font-family: var(
    --typography-desktop-h-6-font-family,
    "Poppins-Bold",
    sans-serif
  );
  font-size: var(--typography-desktop-h-6-font-size, 16px);
  line-height: var(--typography-desktop-h-6-line-height, 140%);
  font-weight: var(--typography-desktop-h-6-font-weight, 700);
  position: relative;
  width: 89px;
  height: 22px;
}
.icone-heder {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.england {
  background: var(--neutral-100, #f9f9f9);
  border-radius: 4px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.button4 {
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.icon-buttons2 {
  background: var(--neutral-100, #f9f9f9);
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button5 {
  background: var(--neutral-100, #f9f9f9);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.icons-character-help {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
