{% load static %}
<!DOCTYPE html>
<html>
    <head><title>
        Registeration Page
    </title>
    <link rel="stylesheet" href="/Static/css/AboutUs.css">
    </head>
    <body>
        <div class="about-us">
            <div class="header-after-sign-in-with-effect">
              <div class="auto-layout-header">
                <div class="header">
                  <a class="logo" href="/hotelSandR">
                    <svg
                      class="vector"
                      width="47"
                      height="44"
                      viewBox="0 0 47 44"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M44.5524 11.1803C44.224 9.6149 44.3117 9.7377 43.9506 7.0929L39.0158 8.05464C42.911 5.46943 44.714 3.81201 46.3578 0C46.7333 5.19333 46.4413 7.67428 44.5524 11.1803Z"
                        fill="#F2B203"
                      />
                      <path
                        d="M36.8708 25.7268C36.8708 35.8188 28.6799 44 18.5758 44C13.2647 44 8.48219 41.7395 5.14002 38.1293C5.24482 38.1229 5.35059 38.1161 5.45734 38.109C19.6857 37.1554 28.0343 31.6096 35.8427 19.6722C37.542 17.0507 39.2327 14.1167 40.9603 10.8425C38.674 12.8835 36.4615 14.7275 34.2943 16.3711L34.2953 16.3727C22.9389 25.9514 12.7087 27.9842 0.522494 22.8412C0.515028 22.8573 0.507529 22.8735 0.5 22.8896C1.86476 14.145 9.43792 7.45355 18.5758 7.45355C25.0827 7.45355 30.7962 10.8465 34.0396 15.9577C36.4849 14.1003 38.9986 11.9832 41.609 9.60984C41.9538 9.29627 42.3004 8.97824 42.6487 8.65574C42.4352 9.07566 42.2223 9.49053 42.0101 9.90038C40.0014 13.779 38.022 17.2704 36.047 20.2886C36.5824 22.0064 36.8708 23.8329 36.8708 25.7268Z"
                        fill="#07689F"
                      />
                    </svg>
                    <div class="easy-set-24">EasySet 24</div>
                  </a>
                  <div class="search-input-in-footer">
                    <svg
                      class="icons-base-search"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.5 19C15.1944 19 19 15.1944 19 10.5C19 5.8056 15.1944 2 10.5 2C5.8056 2 2 5.8056 2 10.5C2 15.1944 5.8056 19 10.5 19Z"
                        stroke="#333333"
                        stroke-width="2"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.3287 7.17155C12.6049 6.4477 11.6049 6 10.5003 6C9.39572 6 8.39573 6.4477 7.67188 7.17155"
                        stroke="#333333"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M16.6094 16.6113L20.852 20.854"
                        stroke="#333333"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <div class="box-icons-your-account">
                    <div class="box-icons">
                      <div class="england">
                        <img class="flag-england" src="/Static/Resource/common/flag.png" />
                      </div>
                      <div class="icon-buttons-dollars">
                        <div class="button-dollars">
                          <svg
                            class="icons-money-dollar"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g clip-path="url(#clip0_11331_5609)">
                              <path
                                d="M10 0.833008V19.1663"
                                stroke="#043E5F"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M14.582 2.5C14.582 2.5 10.4031 2.5 8.33203 2.5C6.26095 2.5 4.58203 4.17892 4.58203 6.25C4.58203 8.32108 6.26095 10 8.33203 10"
                                stroke="#043E5F"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M5.41797 17.5C5.41797 17.5 9.59689 17.5 11.668 17.5C13.7391 17.5 15.418 15.8211 15.418 13.75C15.418 11.6789 13.7391 10 11.668 10H8.33464"
                                stroke="#333333"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </g>
                            <defs>
                              <clipPath id="clip0_11331_5609">
                                <rect width="20" height="20" fill="white" />
                              </clipPath>
                            </defs>
                          </svg>
                        </div>
                      </div>
                      <div class="icon-button-help">
                        <div class="button-help">
                          <svg
                            class="icons-character-help"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g clip-path="url(#clip0_11331_5615)">
                              <path
                                d="M10.0013 18.3337C12.3025 18.3337 14.3858 17.4009 15.8938 15.8929C17.4019 14.3848 18.3346 12.3015 18.3346 10.0003C18.3346 7.69916 17.4019 5.61583 15.8938 4.10777C14.3858 2.59973 12.3025 1.66699 10.0013 1.66699C7.70014 1.66699 5.6168 2.59973 4.10874 4.10777C2.60071 5.61583 1.66797 7.69916 1.66797 10.0003C1.66797 12.3015 2.60071 14.3848 4.10874 15.8929C5.6168 17.4009 7.70014 18.3337 10.0013 18.3337Z"
                                stroke="#043E5F"
                                stroke-width="2"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M10 11.9274V10.2607C11.3807 10.2607 12.5 9.14145 12.5 7.76074C12.5 6.38003 11.3807 5.26074 10 5.26074C8.61929 5.26074 7.5 6.38003 7.5 7.76074"
                                stroke="#043E5F"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M9.9987 15.6771C10.574 15.6771 11.0404 15.2107 11.0404 14.6354C11.0404 14.0601 10.574 13.5938 9.9987 13.5938C9.42341 13.5938 8.95703 14.0601 8.95703 14.6354C8.95703 15.2107 9.42341 15.6771 9.9987 15.6771Z"
                                fill="#043E5F"
                              />
                            </g>
                            <defs>
                              <clipPath id="clip0_11331_5615">
                                <rect width="20" height="20" fill="white" />
                              </clipPath>
                            </defs>
                          </svg>
                        </div>
                      </div>
                      <div class="icon-buttons-favorite">
                        <div class="button-favorite">
                          <svg
                            class="icons-base-like"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M6.2513 3.33301C3.72 3.33301 1.66797 5.38505 1.66797 7.91634C1.66797 12.4997 7.08464 16.6663 10.0013 17.6356C12.918 16.6663 18.3346 12.4997 18.3346 7.91634C18.3346 5.38505 16.2826 3.33301 13.7513 3.33301C12.2012 3.33301 10.8308 4.10255 10.0013 5.28042C9.17184 4.10255 7.80143 3.33301 6.2513 3.33301Z"
                              stroke="#043E5F"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="phone">
                        <svg
                          class="icons-communicate-phone-call"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M20.8921 10.3033C21.0185 9.4554 20.977 8.58735 20.7677 7.7527C20.4913 6.6501 19.9219 5.6059 19.0597 4.74365C18.1974 3.88141 17.1532 3.31205 16.0506 3.03558C15.216 2.82629 14.3479 2.78484 13.5 2.91123"
                            stroke="#043E5F"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M17.0953 9.90173C17.2307 8.99343 16.9488 8.03493 16.2496 7.33573C15.5503 6.63653 14.5918 6.35458 13.6836 6.48998"
                            stroke="#043E5F"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M7.1893 4.39746C7.5526 4.39746 7.8873 4.59447 8.0636 4.91209L9.28686 7.1155C9.44701 7.404 9.4545 7.75295 9.30695 8.0481L8.12855 10.4049C8.12855 10.4049 8.47006 12.1606 9.89926 13.5898C11.3285 15.019 13.0783 15.3546 13.0783 15.3546L15.4348 14.1764C15.7301 14.0287 16.0793 14.0364 16.3679 14.1968L18.5776 15.4253C18.8949 15.6017 19.0917 15.9363 19.0917 16.2993V18.8361C19.0917 20.1279 17.8917 21.061 16.6677 20.6479C14.1537 19.7997 10.2514 18.1846 7.77796 15.7111C5.30451 13.2377 3.68941 9.3354 2.84114 6.82145C2.42813 5.5974 3.36117 4.39746 4.653 4.39746H7.1893Z"
                            stroke="#043E5F"
                            stroke-width="2"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="your-account">
                      <img class="photo" src="/Static/Resource/common/15.png" />
                      <div class="anna-name">
                        <a class="your-account2" href="/customerProfile">Your Account</a>
                        <div class="text-anna">
                          <div class="anna-carinna">Anna Carinna</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="chip-menu">
                  <div class="chips-trip">
                    <div class="text-1">
                      <div class="text">Trip</div>
                    </div>
                  </div>
                  <div class="chips-deals">
                    <div class="text-2">
                      <div class="text">%Deals</div>
                    </div>
                  </div>
                  <a class="chips" href="/landingPage">
                    <div class="text-3">
                      <div class="text">Hotel</div>
                    </div>
                  </a>
                  <a class="chips-flight" href="/flightSearch">
                    <div class="text-4">
                      <div class="text">Flight</div>
                    </div>
                  </a>
                  <div class="chips-apartment">
                    <div class="text-5">
                      <div class="text">Apartment</div>
                    </div>
                  </div>
                  <div class="chips-camper">
                    <div class="text-6">
                      <div class="text">Camper</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% include "footer.html" %}
            <div class="mission">
              <div class="mission2">
                <div
                  class="mission-easy-set-24-is-on-a-mission-to-be-the-go-to-platform-for-travelers-seeking-quality-and-assurance-in-their-travel-arrangements-we-are-dedicated-to-offering-user-friendly-services-that-transform-each-journey-into-a-fearless-and-enjoyable-adventure-our-mission-is-to-provide-reliable-and-convenient-travel-solutions-while-building-and-maintaining-the-trust-of-our-customers"
                >
                  <span>
                    <span
                      class="mission-easy-set-24-is-on-a-mission-to-be-the-go-to-platform-for-travelers-seeking-quality-and-assurance-in-their-travel-arrangements-we-are-dedicated-to-offering-user-friendly-services-that-transform-each-journey-into-a-fearless-and-enjoyable-adventure-our-mission-is-to-provide-reliable-and-convenient-travel-solutions-while-building-and-maintaining-the-trust-of-our-customers-span"
                    >
                      Mission
                      <br />
                    </span>
                    <span
                      class="mission-easy-set-24-is-on-a-mission-to-be-the-go-to-platform-for-travelers-seeking-quality-and-assurance-in-their-travel-arrangements-we-are-dedicated-to-offering-user-friendly-services-that-transform-each-journey-into-a-fearless-and-enjoyable-adventure-our-mission-is-to-provide-reliable-and-convenient-travel-solutions-while-building-and-maintaining-the-trust-of-our-customers-span2"
                    >
                      <br />
                    </span>
                    <span
                      class="mission-easy-set-24-is-on-a-mission-to-be-the-go-to-platform-for-travelers-seeking-quality-and-assurance-in-their-travel-arrangements-we-are-dedicated-to-offering-user-friendly-services-that-transform-each-journey-into-a-fearless-and-enjoyable-adventure-our-mission-is-to-provide-reliable-and-convenient-travel-solutions-while-building-and-maintaining-the-trust-of-our-customers-span3"
                    >
                      EasySet24 is on a mission to be the go-to platform for travelers
                      seeking quality and assurance in their travel arrangements. We are
                      dedicated to offering user-friendly services that transform each
                      journey into a fearless and enjoyable adventure. Our mission is to
                      provide reliable and convenient travel solutions while building and
                      maintaining the trust of our customers.
                      <br />
                      <br />
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="vision">
              <div
                class="vision-our-vision-is-to-be-a-leading-and-trusted-name-in-the-travel-industry-recognized-for-our-commitment-to-simplifying-travel-and-enhancing-the-overall-experience-for-our-customers-since-2023-and-into-the-future-we-envision-easy-set-24-as-the-preferred-choice-for-travellers"
              >
                <span>
                  <span
                    class="vision-our-vision-is-to-be-a-leading-and-trusted-name-in-the-travel-industry-recognized-for-our-commitment-to-simplifying-travel-and-enhancing-the-overall-experience-for-our-customers-since-2023-and-into-the-future-we-envision-easy-set-24-as-the-preferred-choice-for-travellers-span"
                  >
                    Vision
                  </span>
                  <span
                    class="vision-our-vision-is-to-be-a-leading-and-trusted-name-in-the-travel-industry-recognized-for-our-commitment-to-simplifying-travel-and-enhancing-the-overall-experience-for-our-customers-since-2023-and-into-the-future-we-envision-easy-set-24-as-the-preferred-choice-for-travellers-span2"
                  >
                    <br />
                    <br />
                  </span>
                  <span
                    class="vision-our-vision-is-to-be-a-leading-and-trusted-name-in-the-travel-industry-recognized-for-our-commitment-to-simplifying-travel-and-enhancing-the-overall-experience-for-our-customers-since-2023-and-into-the-future-we-envision-easy-set-24-as-the-preferred-choice-for-travellers-span3"
                  >
                    Our vision is to be a leading and trusted name in the travel industry,
                    recognized for our commitment to simplifying travel and enhancing the
                    overall experience for our customers. Since 2023, and into the future,
                    we envision EasySet24 as the preferred choice for travellers.
                  </span>
                </span>
              </div>
            </div>
            <div class="we-work-with">
              <div class="we-work-with2">
                We Work With
                <br />
                <br />
              </div>
              <div class="logos">
                <div class="logos2">
                  <svg
                    class="icons-arrows-right-c"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 22.9395C6.47715 22.9395 2 18.4623 2 12.9395C2 7.4166 6.47715 2.93945 12 2.93945C17.5229 2.93945 22 7.4166 22 12.9395C22 18.4623 17.5229 22.9395 12 22.9395Z"
                      stroke="black"
                      stroke-width="2"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M13.5 17.4395L9 12.9395L13.5 8.43945"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <div class="logos3">
                    <div class="wave">
                      <svg
                        class="group"
                        width="76"
                        height="54"
                        viewBox="0 0 76 54"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M30.5577 43.558C33.8225 43.8886 36.7824 44.5292 39.5134 45.3304C39.5208 45.3368 39.5282 45.3435 39.5358 45.3499L39.5445 45.3396C43.4482 46.4874 46.8835 47.9628 50.0681 49.3314C54.7696 51.352 59.133 53.2261 63.5237 53.2261C64.5374 53.2261 65.5527 53.1249 66.5741 52.904C66.5906 52.9173 66.6045 52.9284 66.6138 52.9359L66.6531 52.8867C69.4961 52.2543 72.3872 50.6813 75.4249 47.7087L72.1519 44.3624C70.5857 45.8947 69.1048 46.944 67.6452 47.6057C64.2806 44.3704 59.5623 38.5249 61.0232 33.8462C62.9889 27.5561 69.7658 23.7483 69.8299 23.7117L75.4387 20.6421L69.1714 19.3667C68.9354 19.3164 46.4861 15.037 38.646 37.1958C36.6022 33.9109 35.4306 30.009 35.4306 26.146C35.4306 10.0412 53.9854 8.29042 54.7739 8.22425L63.3132 7.50204L55.5991 3.78325C54.6917 3.34436 33.2364 -6.74214 17.7786 7.94994C5.19489 19.9062 5.2169 38.1098 5.67107 44.5356C2.16653 47.1674 0.690016 49.7336 0.558594 49.9716L4.64995 52.2435C4.7094 52.1361 10.8028 41.5375 30.5577 43.558ZM62.2002 23.7003C59.999 25.8374 57.7043 28.7767 56.557 32.4521C54.6992 38.396 58.5425 44.4627 62.0052 48.4376C59.0377 48.0904 55.8361 46.7151 51.9149 45.0299C49.0872 43.8143 45.8989 42.4451 42.2744 41.2863C46.0313 27.3725 55.7697 24.2012 62.2002 23.7003ZM21.0015 11.3419C28.8847 3.85186 39.0078 4.13748 45.8624 5.56601C38.4546 8.43223 30.7498 14.6034 30.7498 26.146C30.7498 30.8214 32.082 35.4282 34.4678 39.3669C33.3552 39.1782 32.2101 39.0195 31.0287 38.8999C21.7278 37.96 14.9935 39.5432 10.2586 41.7823C10.1367 34.6853 11.266 20.5938 21.0015 11.3419Z"
                          fill="url(#paint0_linear_3366_55271)"
                        />
                        <defs>
                          <linearGradient
                            id="paint0_linear_3366_55271"
                            x1="37.9986"
                            y1="0"
                            x2="37.9986"
                            y2="38.844"
                            gradientUnits="userSpaceOnUse"
                          >
                            <stop />
                            <stop offset="1" />
                          </linearGradient>
                        </defs>
                      </svg>
                      <div class="wave-trip">Wave Trip</div>
                    </div>
                    <div class="travel">
                      <svg
                        class="group2"
                        width="69"
                        height="75"
                        viewBox="0 0 69 75"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M27.1086 38.4427C22.5015 39.1998 18.6053 40.2994 15.7049 41.5617C14.6794 42.0086 13.7377 43.3425 13.6472 44.4584C13.589 45.1937 13.5586 45.9387 13.5586 46.6886C13.5586 47.4378 13.5896 48.1828 13.6472 48.9181C13.7371 50.0334 14.6794 51.368 15.7049 51.8142C18.6053 53.0783 22.4997 54.1767 27.1086 54.9344C28.2118 55.1154 29.0285 54.3315 28.9514 53.2168C28.8032 51.051 28.7255 48.8616 28.7255 46.6898C28.7255 44.5173 28.8032 42.3267 28.9514 40.1628C29.0285 39.0462 28.2124 38.263 27.1086 38.4427Z"
                          fill="black"
                        />
                        <path
                          d="M31.1365 72.3715C32.1809 72.7758 32.6909 72.2009 32.3132 71.1474C31.1906 68.0145 30.3254 64.3156 29.7255 60.3485C29.5597 59.2422 28.55 58.2313 27.4426 58.0649C23.476 57.465 19.7772 56.5986 16.6436 55.476C15.5908 55.0995 15.0146 55.6102 15.4189 56.6533C18.2137 63.8493 23.9435 69.5797 31.1365 72.3715Z"
                          fill="black"
                        />
                        <path
                          d="M35.978 21.2928C34.7139 24.1944 33.6149 28.0869 32.8584 32.6959C32.6762 33.8003 33.4583 34.6164 34.5742 34.5393C36.74 34.3899 38.93 34.3134 41.1024 34.3134C43.2755 34.3134 45.4637 34.3899 47.6288 34.5393C48.7448 34.6164 49.5274 33.8003 49.3459 32.6959C48.5894 28.0894 47.4892 24.1944 46.2275 21.2928C45.7806 20.2679 44.4467 19.3262 43.3307 19.2351C42.5961 19.175 41.8511 19.1465 41.1018 19.1465C40.3508 19.1465 39.607 19.1768 38.8711 19.2351C37.7576 19.3268 36.4243 20.2685 35.978 21.2928Z"
                          fill="black"
                        />
                        <path
                          d="M31.1355 21.0076C23.9425 23.8012 18.2127 29.531 15.4185 36.7265C15.0154 37.7696 15.5897 38.2796 16.6432 37.9031C19.7767 36.7793 23.4756 35.9153 27.4415 35.3154C28.5484 35.1484 29.5587 34.1375 29.7251 33.0313C30.325 29.0641 31.1902 25.3652 32.3128 22.2323C32.6911 21.1789 32.1798 20.6039 31.1355 21.0076Z"
                          fill="black"
                        />
                        <path
                          d="M52.4739 33.0299C52.6396 34.1355 53.6505 35.1464 54.7574 35.314C58.7234 35.9133 62.4228 36.7779 65.5558 37.8999C66.6092 38.2776 67.186 37.7663 66.7798 36.7232C63.9863 29.529 58.2577 23.7992 51.0616 21.0056C50.0191 20.6018 49.5091 21.1774 49.8849 22.2303C51.0088 25.3638 51.874 29.0633 52.4739 33.0299Z"
                          fill="black"
                        />
                        <path
                          d="M68.5558 44.4598C68.4665 43.3439 67.5224 42.0093 66.4975 41.5631C63.5971 40.2996 59.7009 39.2018 55.0938 38.4453C53.9912 38.2631 53.1746 39.0458 53.2511 40.1624C53.3998 42.3269 53.4763 44.5181 53.4763 46.6893C53.4763 48.8618 53.3998 51.0524 53.2511 53.2182C53.1746 54.3341 53.9912 55.1174 55.0938 54.9346C59.7009 54.1781 63.5971 53.0779 66.4975 51.8156C67.5242 51.3693 68.4653 50.0324 68.5558 48.9188C68.6171 48.1824 68.6444 47.4386 68.6444 46.6875C68.6438 45.9389 68.6135 45.1933 68.5558 44.4598Z"
                          fill="black"
                        />
                        <path
                          d="M50.4401 46.6885C50.4401 44.3017 50.3515 41.9994 50.1845 39.7972C50.1013 38.6825 49.1092 37.6898 47.9951 37.6072C45.7929 37.442 43.4924 37.3516 41.1032 37.3516C38.7176 37.3516 36.4147 37.4408 34.2131 37.6072C33.0977 37.691 32.105 38.6825 32.0212 39.7972C31.8561 41.9988 31.7656 44.3017 31.7656 46.6885C31.7656 49.0747 31.8555 51.3776 32.0212 53.5798C32.1062 54.6939 33.0977 55.6897 34.2131 55.771C36.4141 55.9356 38.717 56.0267 41.1032 56.0267C43.4893 56.0267 45.7929 55.9362 47.9951 55.771C49.1098 55.6854 50.1025 54.6939 50.1845 53.5798C50.3521 51.3776 50.4401 49.0753 50.4401 46.6885Z"
                          fill="black"
                        />
                        <path
                          d="M65.5593 55.476C62.4264 56.6011 58.7276 57.4651 54.7604 58.065C53.6541 58.2301 52.6438 59.2416 52.4768 60.3485C51.8769 64.3139 51.0117 68.0145 49.8897 71.1475C49.5121 72.1997 50.0227 72.7777 51.0652 72.3715C58.2613 69.578 63.991 63.8488 66.784 56.6545C67.1884 55.6096 66.6128 55.0996 65.5593 55.476Z"
                          fill="black"
                        />
                        <path
                          d="M47.6261 58.837C45.4616 58.9858 43.2709 59.0635 41.0967 59.0635C38.9249 59.0635 36.7379 58.9858 34.5709 58.837C33.4555 58.7605 32.6723 59.5771 32.8545 60.6803C33.6122 65.2887 34.7112 69.183 35.9728 72.0841C36.4191 73.1096 37.7543 74.0513 38.869 74.1417C39.6043 74.2024 40.3481 74.231 41.0997 74.231C41.849 74.231 42.5933 74.1988 43.328 74.1417C44.4446 74.0525 45.7779 73.1102 46.2248 72.0841C47.4889 69.183 48.5872 65.2887 49.3444 60.6803C49.5241 59.5765 48.7415 58.7605 47.6261 58.837Z"
                          fill="black"
                        />
                        <path
                          d="M19.8639 13.4915C20.0807 13.6573 20.2628 13.5929 20.3636 13.5219C20.2908 13.6148 20.1645 13.7982 19.9726 14.1321C19.9726 14.1321 19.2908 15.157 19.5172 15.5L19.5215 15.5061C19.751 15.854 20.9574 15.6294 20.9574 15.6294C21.3387 15.5838 21.5567 15.5401 21.6745 15.511C21.567 15.5759 21.4365 15.7174 21.5039 15.9797L22.1177 18.0386C22.1274 18.0695 22.1402 18.0969 22.1523 18.1236L23.7692 16.7344L23.9016 14.9852C23.9113 14.851 23.9392 14.6852 23.9392 14.6852C23.9392 14.6852 24.2616 14.4654 24.3624 14.4199L30.0673 10.9141L33.0491 19.5528C33.1304 19.7836 33.3454 19.8431 33.5318 19.684L35.0988 18.3422C35.2852 18.1819 35.4024 17.857 35.3617 17.6124L33.8111 8.42417L39.2725 4.60209C40.2785 3.89474 41.0806 2.80975 41.0624 2.17283C41.0551 1.9324 40.9737 1.68832 40.8426 1.4661L40.8396 1.46063C40.6878 1.25238 40.4959 1.08055 40.2749 0.980367C39.7005 0.71443 38.3836 1.01983 37.3368 1.66525L31.6702 5.17221L23.8396 0.114554C23.6314 -0.0178076 23.2883 -0.0390583 23.0667 0.0696237L21.2161 0.978545C20.9951 1.08723 20.9641 1.30763 21.1444 1.47399L27.9028 7.62697L22.428 11.4818C22.3478 11.5571 22.0175 11.7678 22.0175 11.7678C22.0175 11.7678 21.853 11.7259 21.7255 11.6816L20.0661 11.1121L18.1523 12.0501C18.1724 12.072 18.1912 12.0945 18.2185 12.1139L19.8639 13.4915Z"
                          fill="black"
                        />
                        <path
                          d="M1.84375 41.8269C1.93665 40.9799 2.11212 40.1645 2.2973 39.3072C2.36652 38.9866 2.43513 38.6672 2.49948 38.3479C2.57052 37.9301 2.69499 37.5397 2.82735 37.1263C2.89353 36.9192 2.95911 36.7128 3.01922 36.5051L3.58448 34.6994C3.75631 34.2969 3.92024 33.8937 4.08357 33.4936C4.3999 32.7183 4.69802 31.986 5.03621 31.2927L5.87409 29.697C5.95059 29.5562 6.03074 29.4019 6.11028 29.2477C6.29607 28.8901 6.47093 28.5519 6.66765 28.2708C6.91355 27.8992 7.13274 27.5544 7.34889 27.2137C7.74476 26.5902 8.11938 26.0006 8.51525 25.4639L10.3865 23.0565C10.8006 22.5926 11.2365 22.1245 11.6555 21.674L12.2548 21.028C12.7241 20.4876 13.2317 20.0316 13.7223 19.5908L15.5456 17.9497C16.1746 17.4524 16.7144 17.0456 17.1552 16.7135C17.3015 16.603 17.4369 16.501 17.5614 16.4062L18.3191 17.4481C18.1801 17.5453 18.0301 17.6491 17.8668 17.7614C17.398 18.0851 16.8267 18.4797 16.1855 18.9442L16.1187 18.9964L14.4053 20.4269C13.9372 20.8112 13.4072 21.2472 12.8874 21.8027L11.0787 23.6035L11.0095 23.6788L9.15095 25.8743C8.70832 26.4214 8.31428 26.9879 7.93359 27.5361C7.71683 27.8482 7.49643 28.1652 7.26631 28.4809C6.99673 28.8288 6.77694 29.2143 6.56504 29.5859C6.49097 29.7152 6.41689 29.8458 6.33979 29.9745L5.47579 31.4614C5.09389 32.1676 4.76966 32.8743 4.45698 33.5574C4.27786 33.9484 4.09693 34.343 3.90567 34.7377L3.85589 34.8567L3.2384 36.5798C3.17283 36.7747 3.11029 36.9435 3.04836 37.1111C2.89353 37.5306 2.71746 38.0066 2.61181 38.5215C2.54806 38.7808 2.46913 39.0825 2.3902 39.3861C2.18558 40.1706 1.9755 40.9769 1.84375 41.8269Z"
                          fill="black"
                        />
                        <path
                          d="M17.8123 14.6885C17.8123 14.6885 17.5354 14.8992 17.0151 15.2944C16.4953 15.6952 15.7321 16.2531 14.7613 17.0212C14.2786 17.4559 13.7437 17.9374 13.1614 18.4608C12.5822 18.9854 11.938 19.5397 11.3606 20.2052C10.7607 20.8566 10.1123 21.5391 9.45227 22.278C8.84389 23.0612 8.20455 23.8846 7.53667 24.7437C6.89186 25.6174 6.31627 26.5992 5.67208 27.5743C5.33571 28.0539 5.08677 28.5992 4.79898 29.131C4.51725 29.666 4.23249 30.2094 3.94409 30.7607C3.39947 31.8778 2.95563 33.0825 2.44258 34.2792C2.24768 34.9027 2.05096 35.533 1.8512 36.1693C1.66663 36.8086 1.42133 37.4364 1.30779 38.1085C1.04064 39.4388 0.689703 40.774 0.592557 42.1711C0.525769 42.8669 0.418301 43.5596 0.386122 44.2627C0.378836 44.9683 0.372764 45.6774 0.365478 46.3884C0.370336 46.7442 0.34362 47.0994 0.374586 47.4558L0.475375 48.5244C0.55127 49.2372 0.594379 49.9537 0.699418 50.6634L1.13597 52.7794C1.21854 53.1291 1.25983 53.4898 1.3764 53.831L1.71034 54.8601C1.94471 55.5408 2.13293 56.2384 2.40615 56.902L3.30354 58.8607C3.57251 59.5256 3.95624 60.1297 4.33025 60.7356C4.71215 61.3507 5.04063 61.9336 5.46443 62.5644C5.87851 63.1115 6.29077 63.6555 6.70121 64.1983C7.1578 64.7296 7.63685 65.2511 8.10012 65.7715C9.07218 66.7581 10.0606 67.6877 11.1262 68.4958C13.2331 70.1357 15.4899 71.4065 17.7212 72.3646C19.9659 73.3057 22.1887 73.8922 24.2549 74.3069C25.2992 74.4551 26.2901 74.6591 27.2494 74.7113C27.7272 74.752 28.1929 74.7927 28.6447 74.8303C29.0982 74.8418 29.5384 74.8503 29.9652 74.8601C30.3022 74.8631 30.6295 74.8783 30.9476 74.8783C31.0332 74.8783 31.1188 74.8771 31.2032 74.8746C31.6003 74.8564 31.9841 74.8388 32.3532 74.8218C32.7211 74.8054 33.0745 74.789 33.4109 74.7738C33.7466 74.7362 34.0672 74.7016 34.3708 74.6676C34.9774 74.5947 35.522 74.5534 35.9889 74.4763C36.457 74.3944 36.8535 74.3245 37.1759 74.2687C37.8195 74.1558 38.1625 74.0956 38.1625 74.0956C38.1625 74.0956 37.8171 74.1412 37.1692 74.2268C36.8462 74.2693 36.4473 74.3215 35.978 74.384C35.5086 74.4429 34.9634 74.4599 34.3574 74.5067C34.0539 74.5273 33.7351 74.5486 33.4 74.571C33.063 74.5729 32.712 74.5735 32.3459 74.5747C31.9798 74.5765 31.5997 74.5771 31.2039 74.5789C30.8092 74.5747 30.4006 74.5352 29.9786 74.514C29.5578 74.4867 29.1225 74.4587 28.675 74.4296C28.2306 74.3719 27.7734 74.3136 27.3034 74.2529C26.3599 74.163 25.3927 73.9184 24.3751 73.7313C22.3642 73.2377 20.2166 72.5711 18.0776 71.5668C15.9507 70.5444 13.8281 69.2262 11.8785 67.5723C10.8943 66.7587 9.98353 65.8225 9.10861 64.8583C8.69938 64.3586 8.28712 63.8559 7.87304 63.3501C7.48567 62.7915 7.09708 62.2293 6.70607 61.6664C5.40007 59.4145 4.12199 56.9591 3.51969 54.3343L3.24646 53.3635C3.15114 53.0423 3.12867 52.7011 3.06492 52.3714L2.74191 50.3884C2.67269 49.7229 2.66298 49.0526 2.61987 48.389L2.56583 47.3951C2.55005 47.0648 2.59255 46.7327 2.60226 46.4024C2.63566 45.743 2.66905 45.0867 2.70305 44.4333C2.76073 43.7831 2.89127 43.1407 2.9787 42.4995C3.11774 41.2117 3.50451 39.9828 3.80019 38.7649C3.92648 38.1486 4.18453 37.5736 4.38003 36.9895C4.5889 36.4097 4.79412 35.8341 4.99813 35.2652C5.52575 34.1753 5.97809 33.0812 6.52514 32.0697C6.81475 31.5718 7.09951 31.0806 7.38063 30.5967C7.66782 30.1177 7.91372 29.6247 8.24644 29.1942C8.88518 28.3193 9.44741 27.4365 10.0776 26.6562C10.7243 25.8912 11.3454 25.1584 11.9362 24.4614C12.5828 23.8159 13.196 23.2051 13.7734 22.6308C14.3351 22.0315 14.9222 21.5773 15.4504 21.1371C15.9768 20.6957 16.4613 20.2914 16.8985 19.9259C17.87 19.2222 18.6787 18.6812 19.2075 18.3066C19.7443 17.9344 20.0302 17.7346 20.0302 17.7346L17.8123 14.6885Z"
                          fill="black"
                        />
                      </svg>
                      <div class="travel-with-us">Travel with us</div>
                    </div>
                    <div class="around">
                      <svg
                        class="group5"
                        width="75"
                        height="44"
                        viewBox="0 0 75 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M44.0613 33.318H74.8801L57.1879 13.0078L41.7785 30.6975L26.3691 13.0078L0 43.2789H52.7382L44.0613 33.318ZM57.1879 20.1329L64.5968 28.638H49.7791L57.1879 20.1329ZM26.3691 20.1329L42.4549 38.5991H10.2833L26.3691 20.1329Z"
                          fill="black"
                        />
                        <path
                          d="M41.6424 12.4879C45.0908 12.4879 47.8863 9.69236 47.8863 6.24393C47.8863 2.7955 45.0908 0 41.6424 0C38.1939 0 35.3984 2.7955 35.3984 6.24393C35.3984 9.69236 38.1939 12.4879 41.6424 12.4879Z"
                          fill="black"
                        />
                      </svg>
                      <div class="around-u">Around U</div>
                    </div>
                    <div class="cirkel">
                      <svg
                        class="group6"
                        width="70"
                        height="75"
                        viewBox="0 0 70 75"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M29.2279 64.2103C28.9974 64.2409 28.7098 64.2523 28.7098 64.2523C28.7098 64.2523 28.2278 63.7859 28.1173 63.6305L20.2573 55.2626L33.7336 47.2662C34.0961 47.0501 34.1201 46.6678 33.787 46.4096L30.9933 44.2432C30.6589 43.9839 30.0719 43.8999 29.6775 44.0499L14.7785 49.8348L6.47127 41.9844C4.93635 40.5383 2.83237 39.5676 1.77288 39.8162C1.36829 39.9098 0.98711 40.1331 0.659958 40.429L0.651554 40.4375C0.355616 40.7652 0.132312 41.1464 0.0386681 41.551C-0.209247 42.6099 0.760805 44.7138 2.20688 46.2482L10.0567 54.5554L4.27184 69.4544C4.12177 69.8488 4.20521 70.4364 4.46453 70.7708L6.63154 73.5645C6.89026 73.8964 7.27204 73.873 7.48874 73.5099L15.4851 60.0348L23.853 67.8948C24.0072 68.0053 24.4755 68.4867 24.4755 68.4867C24.4755 68.4867 24.4622 68.7749 24.4322 69.0048L24.0505 71.9888L26.2841 74.8797C26.3147 74.8401 26.3465 74.7975 26.3705 74.747L28.1137 71.5067C28.3184 71.0853 28.148 70.8026 27.9907 70.6573C28.1768 70.7486 28.5273 70.8956 29.1528 71.1039C29.1528 71.1039 31.1091 71.8933 31.6092 71.3939L31.617 71.3855C32.1236 70.8794 31.3264 68.9303 31.3264 68.9303C31.1194 68.3048 30.9717 67.9543 30.8798 67.7682C31.0251 67.9249 31.3072 68.0953 31.7292 67.89L34.9695 66.1474C35.0206 66.1228 35.0614 66.0916 35.1016 66.061L32.2107 63.8268L29.2279 64.2103Z"
                          fill="black"
                        />
                        <path
                          d="M67.0047 28.6315L59.1566 20.3243L64.9415 5.42533C65.0916 5.03094 65.0076 4.44327 64.7488 4.10891L62.5818 1.31521C62.3231 0.982658 61.9419 1.00607 61.7258 1.36864L53.7271 14.8455L45.3592 6.98545C45.2055 6.875 44.7373 6.39358 44.7373 6.39358C44.7373 6.39358 44.7499 6.10484 44.7799 5.87494L45.1623 2.89155L42.9287 0C42.8969 0.0396185 42.8657 0.081638 42.841 0.132062L41.0984 3.37297C40.8943 3.79437 41.063 4.0771 41.2209 4.22237C41.0354 4.13112 40.6842 3.98346 40.0587 3.77576C40.0587 3.77576 38.1018 2.98579 37.6024 3.48522L37.5946 3.49363C37.088 3.99966 37.8851 5.94877 37.8851 5.94877C38.0922 6.57426 38.2405 6.92483 38.3323 7.11091C38.1865 6.95424 37.9031 6.78376 37.4817 6.98846L34.2408 8.73167C34.1898 8.75628 34.149 8.78749 34.1094 8.81811L37.0009 11.0517L39.9843 10.67C40.2142 10.64 40.5018 10.628 40.5018 10.628C40.5018 10.628 40.985 11.095 41.0936 11.2498L48.9537 19.6177L35.4792 27.6141C35.116 27.8302 35.092 28.2125 35.4252 28.4707L38.2177 30.6371C38.5532 30.8964 39.1403 30.9804 39.5335 30.8304L54.4324 25.0455L62.7409 32.8953C64.2752 34.3414 66.3798 35.3121 67.4381 35.0635C67.8427 34.9699 68.2245 34.746 68.551 34.4506L68.56 34.4422C68.856 34.1145 69.0787 33.7333 69.1729 33.3287C69.4208 32.271 68.4514 30.1665 67.0047 28.6315Z"
                          fill="black"
                        />
                        <path
                          d="M52.3678 39.8508H54.5498C53.6746 49.5537 45.8601 57.2799 36.1218 58.0218V55.9095L31.7266 60.3053L36.1218 64.7018V62.2904C48.2102 61.5323 57.9246 51.9014 58.8196 39.8502H61.1607L56.7654 35.4531L52.3678 39.8508Z"
                          fill="black"
                        />
                        <path
                          d="M16.8437 35.0303H14.6617C15.5363 25.3274 23.3507 17.6006 33.0902 16.8592V18.9716L37.4861 14.5752L33.0902 10.1787V12.59C21.0012 13.3476 11.2869 22.9785 10.3925 35.0303H8.05078L12.4472 39.4267L16.8437 35.0303Z"
                          fill="black"
                        />
                      </svg>
                      <div class="circel-g">Circel G</div>
                    </div>
                    <div class="wave2">
                      <div class="travel-agency-svgrepo-com">
                        <svg
                          class="group8"
                          width="75"
                          height="50"
                          viewBox="0 0 75 50"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M4.6761 49.7915H70.1962C72.7702 49.7915 74.8762 47.6855 74.8762 45.1115V5.33137C74.8762 2.75733 72.7702 0.651367 70.1962 0.651367H4.6761C2.10206 0.651367 -0.00390625 2.75733 -0.00390625 5.33137V45.1115C-0.00390625 47.6854 2.10206 49.7915 4.6761 49.7915ZM4.6761 5.33137H70.1962V45.1115H4.6761V5.33137Z"
                            fill="url(#paint0_linear_3366_55306)"
                          />
                          <path
                            d="M18.5273 22.0444H21.1255V29.7705H22.7914V22.0444H25.4171V20.6504H18.5273V22.0444Z"
                            fill="black"
                          />
                          <path
                            d="M29.8854 25.5361V25.495C30.7378 25.1842 31.5354 24.3845 31.5354 23.2075C31.5354 22.4374 31.252 21.7999 30.7516 21.3816C30.1414 20.8674 29.2479 20.6504 27.9362 20.6504C26.9743 20.6504 26.0418 20.7326 25.418 20.84V29.8389H27.0701V26.0913H27.9087C28.8571 26.1165 29.289 26.4958 29.5472 27.6864C29.8032 28.8244 30.0202 29.5694 30.1551 29.8389H31.8735C31.6839 29.487 31.4417 28.4313 31.1559 27.2956C30.9275 26.4159 30.5344 25.7783 29.8854 25.5361ZM28.0574 24.8735H27.0702V21.9895C27.2325 21.9507 27.5707 21.9096 28.0985 21.9096C29.1817 21.9096 29.8856 22.369 29.8856 23.3698C29.8854 24.277 29.1817 24.8735 28.0574 24.8735Z"
                            fill="black"
                          />
                          <path
                            d="M34.7939 20.6504L31.8711 29.7705H33.5895L34.3756 27.1859H37.271L38.0959 29.7705H39.883L36.9191 20.6504H34.7939ZM34.6453 25.9268L35.3492 23.6806C35.5115 23.139 35.6486 22.5038 35.7833 21.9759H35.8109C35.9456 22.5038 36.0942 23.1254 36.2702 23.6806L36.9877 25.9268H34.6453Z"
                            fill="black"
                          />
                          <path
                            d="M43.7285 25.7234H40.2917V24.3706H43.7285V22.0169H40.0883V20.6504H45.3945V29.7705H39.8849V28.404H43.7285V25.7234Z"
                            fill="black"
                          />
                          <path
                            d="M47.0605 25.7234H50.4974V24.3706H47.0605V22.0169H50.7008V20.6504H45.3945V29.7705H50.9042V28.404H47.0605V25.7234Z"
                            fill="black"
                          />
                          <path
                            d="M52.5682 20.6504H50.9023V29.7705H56.3159V28.3765H52.5682V20.6504Z"
                            fill="black"
                          />
                          <defs>
                            <linearGradient
                              id="paint0_linear_3366_55306"
                              x1="37.4361"
                              y1="0.651367"
                              x2="37.4361"
                              y2="49.7915"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop offset="0.354999" stop-color="#282828" />
                              <stop offset="0.654999" stop-color="#282828" />
                              <stop
                                offset="0.834999"
                                stop-color="#565656"
                                stop-opacity="0.51"
                              />
                            </linearGradient>
                          </defs>
                        </svg>
                      </div>
                      <div class="travelia">Travelia</div>
                    </div>
                  </div>
                  <svg
                    class="icons-arrows-right-c2"
                    width="25"
                    height="25"
                    viewBox="0 0 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.8789 22.9395C18.4018 22.9395 22.8789 18.4623 22.8789 12.9395C22.8789 7.4166 18.4018 2.93945 12.8789 2.93945C7.35606 2.93945 2.87891 7.4166 2.87891 12.9395C2.87891 18.4623 7.35606 22.9395 12.8789 22.9395Z"
                      stroke="black"
                      stroke-width="2"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M11.3789 17.4395L15.8789 12.9395L11.3789 8.43945"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="what-made-us">
              <div class="what-made-us-text">
                <div class="text6">
                  <div class="text7">
                    <div class="what-made-us-successful">What Made Us successful ?</div>
                  </div>
                  <div
                    class="join-us-and-be-part-of-our-dynamic-team-where-your-skills-and-talents-can-thrive-read-our-employee-stories"
                  >
                    <span>
                      <span
                        class="join-us-and-be-part-of-our-dynamic-team-where-your-skills-and-talents-can-thrive-read-our-employee-stories-span"
                      >
                        Join us and be part of our dynamic team, where your skills and
                        talents can thrive!
                      </span>
                      <span
                        class="join-us-and-be-part-of-our-dynamic-team-where-your-skills-and-talents-can-thrive-read-our-employee-stories-span2"
                      ></span>
                      <span
                        class="join-us-and-be-part-of-our-dynamic-team-where-your-skills-and-talents-can-thrive-read-our-employee-stories-span3"
                      >
                        read our employee stories ...!
                        <br />
                      </span>
                      <span
                        class="join-us-and-be-part-of-our-dynamic-team-where-your-skills-and-talents-can-thrive-read-our-employee-stories-span4"
                      >
                        <br />
                      </span>
                    </span>
                  </div>
                </div>
                <div class="text8">
                  <div class="number">
                    <div class="vacant-careers">Vacant Careers</div>
                    <div class="_254">254</div>
                    <div class="div">+</div>
                  </div>
                  <div class="button2">
                    <div class="frame-26086870">
                      <div class="text9">Find more</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="welcome-to-easy-set-24">
              <div
                class="welcome-to-easy-set-24-we-are-a-dynamic-team-of-travel-professionals-dedicated-to-simplifying-your-travel-experience-by-curating-flight-and-accommodation-services-on-a-user-friendly-platform-committed-to-quality-and-assurance-easy-set-24-strives-to-transform-your-journey-into-a-fearless-and-enjoyable-adventure-we-appreciate-your-trust-in-us-and-since-the-year-2023-we-ve-been-committed-to-serving-your-travel-needs-feel-free-to-reach-out-with-any-questions-or-requirements-we-re-here-for-you"
              >
                <span>
                  <span
                    class="welcome-to-easy-set-24-we-are-a-dynamic-team-of-travel-professionals-dedicated-to-simplifying-your-travel-experience-by-curating-flight-and-accommodation-services-on-a-user-friendly-platform-committed-to-quality-and-assurance-easy-set-24-strives-to-transform-your-journey-into-a-fearless-and-enjoyable-adventure-we-appreciate-your-trust-in-us-and-since-the-year-2023-we-ve-been-committed-to-serving-your-travel-needs-feel-free-to-reach-out-with-any-questions-or-requirements-we-re-here-for-you-span"
                  >
                    Welcome to EasySet24 !
                    <br />
                  </span>
                  <span
                    class="welcome-to-easy-set-24-we-are-a-dynamic-team-of-travel-professionals-dedicated-to-simplifying-your-travel-experience-by-curating-flight-and-accommodation-services-on-a-user-friendly-platform-committed-to-quality-and-assurance-easy-set-24-strives-to-transform-your-journey-into-a-fearless-and-enjoyable-adventure-we-appreciate-your-trust-in-us-and-since-the-year-2023-we-ve-been-committed-to-serving-your-travel-needs-feel-free-to-reach-out-with-any-questions-or-requirements-we-re-here-for-you-span2"
                  >
                    <br />
                  </span>
                  <span
                    class="welcome-to-easy-set-24-we-are-a-dynamic-team-of-travel-professionals-dedicated-to-simplifying-your-travel-experience-by-curating-flight-and-accommodation-services-on-a-user-friendly-platform-committed-to-quality-and-assurance-easy-set-24-strives-to-transform-your-journey-into-a-fearless-and-enjoyable-adventure-we-appreciate-your-trust-in-us-and-since-the-year-2023-we-ve-been-committed-to-serving-your-travel-needs-feel-free-to-reach-out-with-any-questions-or-requirements-we-re-here-for-you-span3"
                  >
                    We are a dynamic team of travel professionals dedicated to simplifying
                    your travel experience by curating flight and accommodation services
                    on a user-friendly platform. Committed to quality and assurance,
                    EasySet24 strives to transform your journey into a fearless and
                    enjoyable adventure. We appreciate your trust in us, and since the
                    year 2023, we&#039;ve been committed to serving your travel needs.
                    Feel free to reach out with any questions or requirements – we&#039;re
                    here for you.
                  </span>
                </span>
              </div>
              <div class="easy-set">
                <div class="easy-set-24-founded-by">EasySet24 Founded By</div>
              </div>
              <div class="founded-by">
                <div class="ceo">
                  <div class="jessica">
                    <div class="ceo-jessica-miller">CEO : jessica Miller</div>
                    <svg
                      class="linked-in"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_3366_55337)">
                        <path
                          d="M22.2283 0H1.77167C1.30179 0 0.851161 0.186657 0.518909 0.518909C0.186657 0.851161 0 1.30179 0 1.77167V22.2283C0 22.6982 0.186657 23.1488 0.518909 23.4811C0.851161 23.8133 1.30179 24 1.77167 24H22.2283C22.6982 24 23.1488 23.8133 23.4811 23.4811C23.8133 23.1488 24 22.6982 24 22.2283V1.77167C24 1.30179 23.8133 0.851161 23.4811 0.518909C23.1488 0.186657 22.6982 0 22.2283 0ZM7.15333 20.445H3.545V8.98333H7.15333V20.445ZM5.34667 7.395C4.93736 7.3927 4.53792 7.2692 4.19873 7.04009C3.85955 6.81098 3.59584 6.48653 3.44088 6.10769C3.28591 5.72885 3.24665 5.31259 3.32803 4.91145C3.40941 4.51032 3.6078 4.14228 3.89816 3.85378C4.18851 3.56529 4.55782 3.36927 4.95947 3.29046C5.36112 3.21165 5.77711 3.25359 6.15495 3.41099C6.53279 3.56838 6.85554 3.83417 7.08247 4.17481C7.30939 4.51546 7.43032 4.91569 7.43 5.325C7.43386 5.59903 7.38251 5.87104 7.27901 6.1248C7.17551 6.37857 7.02198 6.6089 6.82757 6.80207C6.63316 6.99523 6.40185 7.14728 6.14742 7.24915C5.893 7.35102 5.62067 7.40062 5.34667 7.395ZM20.4533 20.455H16.8467V14.1933C16.8467 12.3467 16.0617 11.7767 15.0483 11.7767C13.9783 11.7767 12.9283 12.5833 12.9283 14.24V20.455H9.32V8.99167H12.79V10.58H12.8367C13.185 9.875 14.405 8.67 16.2667 8.67C18.28 8.67 20.455 9.865 20.455 13.365L20.4533 20.455Z"
                          fill="#07689F"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_3366_55337">
                          <rect width="24" height="24" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div
                    class="jessica-is-known-for-unwavering-integrity-and-transparent-leadership"
                  >
                    Jessica is known for unwavering integrity and transparent leadership.
                  </div>
                  <div class="over-15-years-in-executive-roles">
                    Over 15 years in executive roles.
                  </div>
                </div>
                <div class="coo">
                  <div class="emily">
                    <div class="coo-emily-davis">COO : Emily Davis</div>
                    <svg
                      class="linked-in2"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_3366_55343)">
                        <path
                          d="M22.2283 0H1.77167C1.30179 0 0.851161 0.186657 0.518909 0.518909C0.186657 0.851161 0 1.30179 0 1.77167V22.2283C0 22.6982 0.186657 23.1488 0.518909 23.4811C0.851161 23.8133 1.30179 24 1.77167 24H22.2283C22.6982 24 23.1488 23.8133 23.4811 23.4811C23.8133 23.1488 24 22.6982 24 22.2283V1.77167C24 1.30179 23.8133 0.851161 23.4811 0.518909C23.1488 0.186657 22.6982 0 22.2283 0ZM7.15333 20.445H3.545V8.98333H7.15333V20.445ZM5.34667 7.395C4.93736 7.3927 4.53792 7.2692 4.19873 7.04009C3.85955 6.81098 3.59584 6.48653 3.44088 6.10769C3.28591 5.72885 3.24665 5.31259 3.32803 4.91145C3.40941 4.51032 3.6078 4.14228 3.89816 3.85378C4.18851 3.56529 4.55782 3.36927 4.95947 3.29046C5.36112 3.21165 5.77711 3.25359 6.15495 3.41099C6.53279 3.56838 6.85554 3.83417 7.08247 4.17481C7.30939 4.51546 7.43032 4.91569 7.43 5.325C7.43386 5.59903 7.38251 5.87104 7.27901 6.1248C7.17551 6.37857 7.02198 6.6089 6.82757 6.80207C6.63316 6.99523 6.40185 7.14728 6.14742 7.24915C5.893 7.35102 5.62067 7.40062 5.34667 7.395ZM20.4533 20.455H16.8467V14.1933C16.8467 12.3467 16.0617 11.7767 15.0483 11.7767C13.9783 11.7767 12.9283 12.5833 12.9283 14.24V20.455H9.32V8.99167H12.79V10.58H12.8367C13.185 9.875 14.405 8.67 16.2667 8.67C18.28 8.67 20.455 9.865 20.455 13.365L20.4533 20.455Z"
                          fill="#07689F"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_3366_55343">
                          <rect width="24" height="24" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="emily-is-recognized-for-ethical-business-operations">
                    Emily is recognized for ethical business operations.
                  </div>
                  <div
                    class="over-10-years-extensive-background-in-optimizing-operational-processes"
                  >
                    Over 10 years extensive background in optimizing operational
                    processes.
                  </div>
                </div>
                <div class="cmo">
                  <div class="john">
                    <div class="cmo-john-smith">CMO : John Smith</div>
                    <svg
                      class="linked-in3"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_3366_55349)">
                        <path
                          d="M22.2283 0H1.77167C1.30179 0 0.851161 0.186657 0.518909 0.518909C0.186657 0.851161 0 1.30179 0 1.77167V22.2283C0 22.6982 0.186657 23.1488 0.518909 23.4811C0.851161 23.8133 1.30179 24 1.77167 24H22.2283C22.6982 24 23.1488 23.8133 23.4811 23.4811C23.8133 23.1488 24 22.6982 24 22.2283V1.77167C24 1.30179 23.8133 0.851161 23.4811 0.518909C23.1488 0.186657 22.6982 0 22.2283 0ZM7.15333 20.445H3.545V8.98333H7.15333V20.445ZM5.34667 7.395C4.93736 7.3927 4.53792 7.2692 4.19873 7.04009C3.85955 6.81098 3.59584 6.48653 3.44088 6.10769C3.28591 5.72885 3.24665 5.31259 3.32803 4.91145C3.40941 4.51032 3.6078 4.14228 3.89816 3.85378C4.18851 3.56529 4.55782 3.36927 4.95947 3.29046C5.36112 3.21165 5.77711 3.25359 6.15495 3.41099C6.53279 3.56838 6.85554 3.83417 7.08247 4.17481C7.30939 4.51546 7.43032 4.91569 7.43 5.325C7.43386 5.59903 7.38251 5.87104 7.27901 6.1248C7.17551 6.37857 7.02198 6.6089 6.82757 6.80207C6.63316 6.99523 6.40185 7.14728 6.14742 7.24915C5.893 7.35102 5.62067 7.40062 5.34667 7.395ZM20.4533 20.455H16.8467V14.1933C16.8467 12.3467 16.0617 11.7767 15.0483 11.7767C13.9783 11.7767 12.9283 12.5833 12.9283 14.24V20.455H9.32V8.99167H12.79V10.58H12.8367C13.185 9.875 14.405 8.67 16.2667 8.67C18.28 8.67 20.455 9.865 20.455 13.365L20.4533 20.455Z"
                          fill="#07689F"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_3366_55349">
                          <rect width="24" height="24" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div
                    class="he-values-honesty-in-advertising-and-respects-customer-privacy"
                  >
                    He values honesty in advertising and respects customer privacy.
                  </div>
                  <div
                    class="proven-over-10-years-of-track-record-in-developing-and-implementing-ethical-marketing-strategies"
                  >
                    Proven over 10 years of track record in developing and implementing
                    ethical marketing strategies.
                  </div>
                </div>
                <div class="cfo">
                  <div class="olivia">
                    <div class="cfo-olivia-wilson">CFO : Olivia Wilson</div>
                    <svg
                      class="linked-in4"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_3366_55355)">
                        <path
                          d="M22.2283 0H1.77167C1.30179 0 0.851161 0.186657 0.518909 0.518909C0.186657 0.851161 0 1.30179 0 1.77167V22.2283C0 22.6982 0.186657 23.1488 0.518909 23.4811C0.851161 23.8133 1.30179 24 1.77167 24H22.2283C22.6982 24 23.1488 23.8133 23.4811 23.4811C23.8133 23.1488 24 22.6982 24 22.2283V1.77167C24 1.30179 23.8133 0.851161 23.4811 0.518909C23.1488 0.186657 22.6982 0 22.2283 0ZM7.15333 20.445H3.545V8.98333H7.15333V20.445ZM5.34667 7.395C4.93736 7.3927 4.53792 7.2692 4.19873 7.04009C3.85955 6.81098 3.59584 6.48653 3.44088 6.10769C3.28591 5.72885 3.24665 5.31259 3.32803 4.91145C3.40941 4.51032 3.6078 4.14228 3.89816 3.85378C4.18851 3.56529 4.55782 3.36927 4.95947 3.29046C5.36112 3.21165 5.77711 3.25359 6.15495 3.41099C6.53279 3.56838 6.85554 3.83417 7.08247 4.17481C7.30939 4.51546 7.43032 4.91569 7.43 5.325C7.43386 5.59903 7.38251 5.87104 7.27901 6.1248C7.17551 6.37857 7.02198 6.6089 6.82757 6.80207C6.63316 6.99523 6.40185 7.14728 6.14742 7.24915C5.893 7.35102 5.62067 7.40062 5.34667 7.395ZM20.4533 20.455H16.8467V14.1933C16.8467 12.3467 16.0617 11.7767 15.0483 11.7767C13.9783 11.7767 12.9283 12.5833 12.9283 14.24V20.455H9.32V8.99167H12.79V10.58H12.8367C13.185 9.875 14.405 8.67 16.2667 8.67C18.28 8.67 20.455 9.865 20.455 13.365L20.4533 20.455Z"
                          fill="#07689F"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_3366_55355">
                          <rect width="24" height="24" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div
                    class="olivia-is-committed-to-financial-transparency-and-compliance"
                  >
                    Olivia is committed to financial transparency and compliance
                  </div>
                  <div class="over-a-decade-of-financial-leadership">
                    Over a decade of financial leadership.
                  </div>
                </div>
              </div>
            </div>
            <div class="our-goal">
              <div
                class="our-goal-to-streamline-and-simplify-the-travel-experience-for-our-customers-by-providing-convenient-access-to-curated-flight-and-accommodation-services-through-an-easy-to-use-platform-our-goal-is-to-make-travel-hassle-free-and-enjoyable-ensuring-that-our-customers-can-embark-on-their-journeys-with-confidence-and-ease"
              >
                <span>
                  <span
                    class="our-goal-to-streamline-and-simplify-the-travel-experience-for-our-customers-by-providing-convenient-access-to-curated-flight-and-accommodation-services-through-an-easy-to-use-platform-our-goal-is-to-make-travel-hassle-free-and-enjoyable-ensuring-that-our-customers-can-embark-on-their-journeys-with-confidence-and-ease-span"
                  >
                    Our Goal
                    <br />
                  </span>
                  <span
                    class="our-goal-to-streamline-and-simplify-the-travel-experience-for-our-customers-by-providing-convenient-access-to-curated-flight-and-accommodation-services-through-an-easy-to-use-platform-our-goal-is-to-make-travel-hassle-free-and-enjoyable-ensuring-that-our-customers-can-embark-on-their-journeys-with-confidence-and-ease-span2"
                  >
                    <br />
                  </span>
                  <span
                    class="our-goal-to-streamline-and-simplify-the-travel-experience-for-our-customers-by-providing-convenient-access-to-curated-flight-and-accommodation-services-through-an-easy-to-use-platform-our-goal-is-to-make-travel-hassle-free-and-enjoyable-ensuring-that-our-customers-can-embark-on-their-journeys-with-confidence-and-ease-span3"
                  >
                    To streamline and simplify the travel experience for our customers by
                    providing convenient access to curated flight and accommodation
                    services through an easy-to-use platform. Our goal is to make travel
                    hassle-free and enjoyable, ensuring that our customers can embark on
                    their journeys with confidence and ease.
                    <br />
                    <br />
                  </span>
                </span>
              </div>
            </div>
          </div>
          
    </body>
</html>