<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            login Page
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Static/css\login.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
      </head>
    <body>
        <form class="login" method="post" action="{% url 'hotelSandR' %}">
          {% csrf_token %}
          <div class="login2">
              <div class="input-box-login">
                <div class="input-box-login2">
                  <div class="input-box-login3">
                    <div class="input-box-login4">
                      <div class="login3">Login</div>
                      <div class="login-to-access-your-easyset-24-account">
                        Login to access yourEasyset24 account
                      </div>
                      <div class="input-32">
                        <div class="text">
                          <div class="title">E-mail</div>
                        </div>
                        <input type="email" id="email" name="email" placeholder="easyset24@gmail.com" class="input" required>
                          <div class="text2">
                          </div>
                        </input>
                      </div>
                      <div class="text3">
                        <div class="text">
                          <div class="title">Password</div>
                        </div>
                        <input type="password" id="password" name="password" class="input" placeholder="********" 
                              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" required>
                              <i class="bi bi-eye-slash" class="eyeicon" id="togglePassword"></i>
                              <span id="spanid" hidden>Enter valid email and password</span>
                          <div class="text4">
                          </div>
                          <!-- <svg
                            class="icons-base-preview-close-one"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M4.92893 9C3.11929 10.5 2 12 2 12C2 12 6.47715 18 12 18C12.6849 18 13.3538 17.9077 14 17.746M10.0159 6.25C10.6572 6.0908 11.3207 6 12 6C17.5229 6 22 12 22 12C22 12 20.8807 13.5 19.0711 15"
                              stroke="#A6A6A6"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M10.1571 10.3105C9.74905 10.7554 9.5 11.3486 9.5 11.9999C9.5 13.3806 10.6193 14.4999 12 14.4999C12.6813 14.4999 13.2991 14.2273 13.75 13.7852"
                              stroke="#A6A6A6"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M21 21L3 3"
                              stroke="#A6A6A6"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg> -->
                        </input>
                      </div>
                      <div class="autolayout-two-texts">
                        <div class="text-1">
                          <div class="remember-me">Remember me</div>
                          <input type="checkbox" class="chech-mark-final" placeholder="chechbox" title="checkbox">
                        </div>
                        <div class="forgot-password">Forgot Password?</div>
                      </div>
                      
                      <div class="button" >
                        <div class="text6">
                          <button type="submit" id="submit" class="text5" >Login</button>
                        </div>
                      </div>
                      
                      <div class="or">
                        <div class="or2">or</div>
                      </div>
                    </div>
                    <div class="social-media-button">
                      <div class="icon-buttons">
                        <div class="button2">
                          <img src="/Static/Resource/common/icon1.png" alt="img" title="img" />
                        </div>
                      </div>
                      <div class="icon-buttons">
                        <div class="button2">
                          <img src="/Static/Resource/common/Icon2.png"alt="img" title="img" />
                        </div>
                      </div>
                      <div class="button3">
                        <div class="google">
                          <svg
                            class="group"
                            width="25"
                            height="24"
                            viewBox="0 0 25 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M24.02 12.2729C24.02 11.422 23.9436 10.6038 23.8018 9.81836H12.5V14.4602H18.9582C18.68 15.9602 17.8345 17.2311 16.5636 18.082V21.0929H20.4418C22.7109 19.0038 24.02 15.9274 24.02 12.2729Z"
                              fill="#4285F4"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M12.5 24.0003C15.74 24.0003 18.4564 22.9257 20.4418 21.093L16.5636 18.0821C15.4891 18.8021 14.1145 19.2275 12.5 19.2275C9.37455 19.2275 6.72909 17.1166 5.78546 14.2803H1.77637V17.3894C3.75091 21.3112 7.80909 24.0003 12.5 24.0003Z"
                              fill="#34A853"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M5.78545 14.2804C5.54545 13.5604 5.40909 12.7913 5.40909 12.0004C5.40909 11.2095 5.54545 10.4404 5.78545 9.72042V6.61133H1.77636C0.963636 8.23133 0.5 10.0641 0.5 12.0004C0.5 13.9368 0.963636 15.7695 1.77636 17.3895L5.78545 14.2804Z"
                              fill="#FBBC05"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M12.5 4.77273C14.2618 4.77273 15.8436 5.37818 17.0873 6.56727L20.5291 3.12545C18.4509 1.18909 15.7345 0 12.5 0C7.80909 0 3.75091 2.68909 1.77637 6.61091L5.78546 9.72C6.72909 6.88364 9.37455 4.77273 12.5 4.77273Z"
                              fill="#EA4335"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="don-t-have-an-account-in-easy-set-24-yet-register">
                      <span>
                        <span
                          class="don-t-have-an-account-in-easy-set-24-yet-register-span"
                        >
                          Don&#039;t have an account in EasySet24 yet?
                        </span>
                        <a href="/register"
                          class="don-t-have-an-account-in-easy-set-24-yet-register-span2"
                        >
                          Register
                      </a>
                        <span
                          class="don-t-have-an-account-in-easy-set-24-yet-register-span3"
                        >
                          !
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <img class="travel-photo" src="/Static/Resource/common/Login.png" alt="img" title="img" />
            </div>
            <div class="login-header-final">
              <div class="header-login">
                <a class="logo" href="/landingPage">
                  <svg
                    class="vector6"
                    width="47"
                    height="44"
                    viewBox="0 0 47 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M44.5524 11.1803C44.224 9.6149 44.3117 9.7377 43.9506 7.0929L39.0158 8.05464C42.911 5.46943 44.714 3.81201 46.3578 0C46.7333 5.19333 46.4413 7.67428 44.5524 11.1803Z"
                      fill="#F2B203"
                    />
                    <path
                      d="M36.8708 25.7268C36.8708 35.8188 28.6799 44 18.5758 44C13.2647 44 8.48219 41.7395 5.14002 38.1293C5.24482 38.1229 5.35059 38.1161 5.45734 38.109C19.6857 37.1554 28.0343 31.6096 35.8427 19.6722C37.542 17.0507 39.2327 14.1167 40.9603 10.8425C38.674 12.8835 36.4615 14.7275 34.2943 16.3711L34.2953 16.3727C22.9389 25.9514 12.7087 27.9842 0.522494 22.8412C0.515028 22.8573 0.507529 22.8735 0.5 22.8896C1.86476 14.145 9.43792 7.45355 18.5758 7.45355C25.0827 7.45355 30.7962 10.8465 34.0396 15.9577C36.4849 14.1003 38.9986 11.9832 41.609 9.60984C41.9538 9.29627 42.3004 8.97824 42.6487 8.65574C42.4352 9.07566 42.2223 9.49053 42.0101 9.90038C40.0014 13.779 38.022 17.2704 36.047 20.2886C36.5824 22.0064 36.8708 23.8329 36.8708 25.7268Z"
                      fill="#07689F"
                    />
                  </svg>
                  <div class="easy-set-24">EasySet 24</div>
                </a>
                <div class="icone-header">
                  <div class="england">
                    <img class="england2" src="/Static/Resource/common/flag.png" alt="img" title="img" />
                  </div>
                  <div class="icon-buttons2">
                    <a class="button5" href="/helpAndFeedback">
                    <img src="/Static/Resource/common/Qmark.png" alt="img" title="img" />    
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          

   
   
    



    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");
        

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });

        document.getElementById("submit").onclick = function () {

        var pass = document.getElementById("password").value;
        var email = document.getElementById("email").value;
        const ps="Abc@12345";
        const em="easyset24@gmail.com";
        console.log(pass,ps,email,em);

        if(pass===ps and em===email)
          {
            // location.href = "HotelS&R.html";
            window.location.href = '{% url "hotelSandR" %}';
           
          }
        else
          {
            let element = document.getElementById("spanid");
            let hidden = element.getAttribute("hidden");
            element.removeAttribute("hidden");
            setTimeout(() => {  element.setAttribute("hidden", "hidden"); }, 4000);
          }
        // location.href = "HotelS&R.html";
        
    };
    </script>
</body>

</html>
    </body>
</html>